<template>
  <AccordionButton icon="$mdiHomePlus" :caption="caption" size="xl">
    <div class="text-h6">{{ $t("locations.building_type") }}</div>
    <p>{{ $t("locations.building_type_explain") }}</p>
    <FormControlButtonList
      v-model="place.building_type"
      :options="optionBuildingType"
    />
    <hr />
    <div class="text-h6">{{ $t("locations.part") }}</div>
    <p>{{ $t("locations.part_explain") }}</p>
    <FormControlButtonList
      v-model="place.building_part"
      :options="optionBuildingPart"
    />
    <hr />
    <div class="text-h6">{{ $t("locations.epoche") }}</div>
    <p>{{ $t("locations.epoche_explain") }}</p>
    <v-radio-group v-model="place.building_epoche" inline variant="outlined">
      <v-radio
        :label="$t('locations.epoche_options.old')"
        value="old"
        variant="outlined"
      ></v-radio>
      <v-radio
        :label="$t('locations.epoche_options.new')"
        value="new"
      ></v-radio>
    </v-radio-group>
    <hr />
    <div class="text-h6">{{ $t("locations.floors") }}</div>
    <p>{{ $t("locations.floors_explain") }}</p>
    <v-select
      v-model="place.building_floors"
      :label="$t('locations.floors_label')"
      :items="[1, 2, 3, 4, 5, 6]"
      variant="outlined"
      style="width: 230px"
    ></v-select>
  </AccordionButton>
</template>

<script setup>
import { computed } from "vue";

import { useOptions } from "@/composables/useOptions";
import i18n from "@/i18n";

import FormControlButtonList from "@/components/FormElements/FormControlButtonList.vue";
import AccordionButton from "@/components/Buttons/AccordionButton.vue";

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
const optionBuildingType = useOptions().optionBuildingType;
const optionBuildingPart = useOptions().optionBuildingPart;

const caption = computed(() => {
  let caps = i18n.global.t("locations.building");
  if (place.value.building_type?.length) {
    caps = place.value.building_type
      .map((eli) => i18n.global.t("locations.building_type_options." + eli))
      .join(", ");
  }
  return caps;
});
</script>
