<template>
  <AccordionButton icon="$mdiListStatus" :caption="caption" size="md">
    <v-container>
      <p>{{ $t("locations.timeline_explain") }}</p>
      <CommentTimeline />
    </v-container>
  </AccordionButton>
</template>

<script setup>
import { computed, onMounted } from "vue";

import { useRegionStore } from "@/stores/region";
import i18n from "@/i18n";

import CommentTimeline from "@/components/Comment/CommentTimeline.vue";
import AccordionButton from "@/components/Buttons/AccordionButton.vue";

const regionStore = useRegionStore();

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
const optionStatus = computed(() => regionStore.map_status_entries);
const mapDefaultStatus = computed(() => regionStore.mapDefaultStatus);

onMounted(async () => {
  place.value.status = mapDefaultStatus.value;
});

const caption = computed(() => {
  let caps = i18n.global.t("locations.status");
  if (place.value.status && optionStatus.value.length) {
    console.log("caption", place.value.status, optionStatus.value);
    let selectedStatus = optionStatus.value.find(
      (el) =>
        el.value == place.value.status || el.value == place.value.status_id
    );
    caps = selectedStatus.title;
  }
  return caps;
});
</script>
