<template>
  <AccordionButton
    v-if="place.versions"
    icon="$mdiBell"
    :caption="$t('locations.versions')"
    size="xl"
  >
    {{ $t("locations.versions_explain") }}
    <v-timeline align="top" density="compact" style="word-wrap: break-word">
      <v-timeline-item
        v-for="(version, index) in place.versions"
        :key="'version-' + index"
        dot-color="red"
        size="small"
      >
        <div>
          <div class="font-weight-normal">
            <strong>{{
              $filters.formatDate(version.created_at, "DD.MM.YYYY H:m:s")
            }}</strong>
            <span v-if="version.whodunnit">@ {{ version.whodunnit }}</span>
          </div>
          <div>
            <b>{{ version.event }}</b>
            <v-expansion-panels v-if="version.changeset" class="mb-6">
              <v-expansion-panel
                v-for="(change, field, cindex) in version.changeset"
                :key="'change-' + index + '-' + cindex"
              >
                <v-expansion-panel-title>
                  <v-icon color="error" icon="$mdiText"> </v-icon>
                  {{ field }}
                </v-expansion-panel-title>
                <v-expansion-panel-text style="word-wrap: break-word">
                  <b style="word-wrap: break-word">{{ change[0] }}</b>
                  >
                  <b style="word-wrap: break-word">{{ change[1] }}</b>
                </v-expansion-panel-text>
              </v-expansion-panel>
            </v-expansion-panels>
          </div>
        </div>
      </v-timeline-item>
    </v-timeline>
  </AccordionButton>
</template>

<script setup>
import { computed } from "vue";

import i18n from "@/i18n";

import AccordionButton from "@/components/Buttons/AccordionButton.vue";

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
</script>
