<template>
  <AccordionButton icon="$mdiHomeAccount" :caption="caption" size="xl">
    <p>{{ $t("locations.owner_explain") }}</p>
    <FormControlButtonList
      v-model="place.owner"
      :single="true"
      :options="optionOwner"
    />
    <div v-if="isNotPrivat">
      <hr />
      <div class="text-h6">{{ $t("locations.owner_company") }}</div>
      {{ $t("locations.owner_company_explain") }}
      <v-textarea
        v-model="place.owner_company"
        class="mt-6 rounded-sm"
        :label="$t('locations.owner_company_label')"
        :counter="210"
        variant="outlined"
      ></v-textarea>
    </div>
  </AccordionButton>
</template>

<script setup>
import { computed } from "vue";

import { useOptions } from "@/composables/useOptions";
import i18n from "@/i18n";

import FormControlButtonList from "@/components/FormElements/FormControlButtonList.vue";
import AccordionButton from "@/components/Buttons/AccordionButton.vue";

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
const optionOwner = useOptions().optionOwner;
const isNotPrivat = computed(() => place.value.owner != "private");

const caption = computed(() => {
  let caps = i18n.global.t("locations.owner");
  if (place.value.owner != "") {
    caps = i18n.global.t("locations.owner_options." + place.value.owner);
  }
  return caps;
});
</script>
