<template>
  <AccordionButton icon="$mdiBell" :caption="caption" size="xl">
    <div class="text-h6">{{ $t("locations.usage") }}</div>
    <p>{{ $t("locations.usage_explain") }}</p>
    <FormControlButtonList
      v-model="place.building_usage"
      :options="optionBuildingUsage"
    />
    <hr />
    <div class="text-h6">{{ $t("locations.degree") }}</div>
    <v-radio-group v-model="place.degree" inline>
      <v-radio
        :label="$t('locations.degree_options.partial')"
        value="partial"
      ></v-radio>
      <v-radio
        :label="$t('locations.degree_options.complete')"
        value="complete"
      ></v-radio>
    </v-radio-group>
    <hr />
  </AccordionButton>
</template>

<script setup>
import { computed } from "vue";

import { useOptions } from "@/composables/useOptions";
import i18n from "@/i18n";

import FormControlButtonList from "@/components/FormElements/FormControlButtonList.vue";
import AccordionButton from "@/components/Buttons/AccordionButton.vue";

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
const optionBuildingUsage = useOptions().optionBuildingUsage;

const caption = computed(() => {
  let caps = i18n.global.t("locations.notification");
  if (place.value.building_usage?.length) {
    caps = place.value.building_usage
      .map((eli) => i18n.global.t("locations.usage_options." + eli))
      .join(", ");
  }
  return caps;
});
</script>
