<template>
  <AccordionButton
    icon="$mdiMapMarker"
    :caption="caption"
    size="md"
    :color="color"
  >
    <v-container>
      <v-row>
        <v-col v-if="place.title">
          <h3>{{ place.title }}</h3>
          <span class="me-1 address-line text-h4"
            >{{ place.road }} {{ place.house_number }}, {{ place.zip }}
            {{ place.city }}</span
          >
          <br />
          <span class="me-1 address-line text-h4"
            >{{ place.country }} {{ place.country_code }}</span
          >
        </v-col>
        <v-col v-else>
          <h4>{{ $t("locations.create_explain_2") }}</h4>
        </v-col>
      </v-row>
      <v-row v-if="place.lat">
        <v-col md="1"> <v-icon>$mdiMapMarker</v-icon></v-col>
        <v-col md="4"> {{ place.lat }} x {{ place.lon }} </v-col>
      </v-row>
    </v-container>
  </AccordionButton>
</template>

<script setup>
import { computed } from "vue";
import i18n from "@/i18n";

import AccordionButton from "@/components/Buttons/AccordionButton.vue";

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const isAdmin = computed(() => authStore.isAdmin);

const caption = computed(() => {
  let caps = i18n.global.t("locations.address");
  if (place.value.title != "") {
    caps = "Adresse ausgewählt: " + place.value.title;
  }
  return caps;
});

const color = computed(() => {
  let col = "";
  // if (place.value.title != "") {
  //   col = "success"; //place.value.title;
  // }
  return col;
});

// const panel_additional = [1];
</script>
<style></style>
