<template>
  <AccordionButton icon="$mdiListStatus" :caption="caption" size="md">
    <v-container>
      {{ $t("locations.status_explain") }}
      <v-row>
        <v-col cols="12" md="12">
          <FormControlButtonList
            v-model="place.status"
            :single="true"
            :options="optionStatus"
            :default-value="mapDefaultStatus"
          />
        </v-col>
      </v-row>
    </v-container>
  </AccordionButton>
</template>

<script setup>
import { computed, onMounted } from "vue";
import { usePlaceStore } from "@/stores/place";
import { useRegionStore } from "@/stores/region";

import i18n from "@/i18n";

import FormControlButtonList from "@/components/FormElements/FormControlButtonList.vue";
import AccordionButton from "@/components/Buttons/AccordionButton.vue";

const placeStore = usePlaceStore();
const regionStore = useRegionStore();

const place = computed(() => placeStore.place);
const optionStatus = computed(() => regionStore.map_status_entries);
const mapDefaultStatus = computed(() => regionStore.mapDefaultStatus);

onMounted(async () => {
  place.value.status = mapDefaultStatus.value;
});

const caption = computed(() => {
  let caps = i18n.global.t("locations.status");
  if (place.value.status != "") {
    let selectedStatus = optionStatus.value.find(
      (el) =>
        el.value == place.value.status || el.value == place.value.status_id
    );
    if (selectedStatus) {
      caps = selectedStatus.title;
    }
  }
  return caps;
});
</script>
