<template>
  <AccordionButton icon="$mdiMapMarker" :caption="caption" size="md">
    <v-container>
      <v-row v-if="isAdmin">
        <v-col cols="12">
          <v-switch
            v-model="place.sensitive"
            :label="$t('locations.sensitive')"
          ></v-switch>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="1"> <v-icon>$mdiMapMarker</v-icon></v-col>
        <v-col cols="10" offset="1">
          <v-row>
            <v-col cols="8" md="6">
              <v-text-field
                v-model="place.lat"
                :label="$t('locations.latitude')"
                :counter="12"
                variant="outlined"
              ></v-text-field>
            </v-col>
            <v-col cols="8" md="6">
              <v-text-field
                v-model="place.lon"
                :label="$t('locations.longitued')"
                :counter="12"
                variant="outlined"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="8">
          <v-text-field
            v-model="place.road"
            :label="$t('locations.street')"
            :counter="80"
            variant="outlined"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="place.house_number"
            :label="$t('locations.house_number')"
            :counter="80"
            variant="outlined"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="place.zip"
            :label="$t('locations.postcode_short')"
            :counter="8"
            variant="outlined"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="8">
          <v-text-field
            v-model="place.city"
            :label="$t('locations.city')"
            :counter="80"
            variant="outlined"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="place.borough"
            :label="$t('locations.borough')"
            :counter="80"
            variant="outlined"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="place.suburb"
            :label="$t('locations.suburb')"
            :counter="80"
            variant="outlined"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="8">
          <v-text-field
            v-model="place.country"
            :label="$t('locations.country')"
            :counter="80"
            variant="outlined"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="place.country_code"
            :label="$t('locations.country_code')"
            :counter="2"
            variant="outlined"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-container>
  </AccordionButton>
</template>

<script setup>
import { computed } from "vue";
import i18n from "@/i18n";

import AccordionButton from "@/components/Buttons/AccordionButton.vue";

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const isAdmin = computed(() => authStore.isAdmin);

const caption = computed(() => {
  let caps = i18n.global.t("locations.address");
  if (place.value.title != "") {
    caps = place.value.title;
  }
  return caps;
});

// const panel_additional = [1];
</script>
<style></style>
