<template>
  <AccordionButton
    icon="$mdiText"
    :caption="$t('locations.description')"
    size="xl"
  >
    <p>{{ $t("locations.description_explain") }}</p>
    <v-textarea
      v-model="place.text"
      class="mt-6 rounded-sm"
      :label="$t('locations.description')"
      :counter="descriptionLimit"
      variant="outlined"
    ></v-textarea>
  </AccordionButton>
</template>

<script setup>
import { computed } from "vue";

import AccordionButton from "@/components/Buttons/AccordionButton.vue";

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
const descriptionLimit = 220;
</script>
