<template>
  <!--v-autocomplete
        v-model:search="search"
        :items="places"
        :loading="isLoading"
        
        clearable
        hide-selected
        hide-no-data
        item-title="place_name"
        style="min-width: 400px; max-width: 400px"
        :placeholder="$t('search.start_typing')"
        prepend-inner-icon="$mdiMagnify"
        :return-object="true"
        
        variant="solo"
        @update:model-value="onChangeAutoComplete"
      >
        <template #no-data>{{ $t("search.nothing_found") }}</template>

        <template #item="{ props, item }">
          <v-list-item
            v-bind="props"
            prepend-item="$mdiHome"
            :title="item?.raw?.place_name"
            style="pointer-events: auto"
          ></v-list-item>
        </template>
      </v-autocomplete-->
  <v-text-field
    v-model="search"
    :loading="isLoading"
    @update:model-value="onChangeAutoComplete"
  ></v-text-field>

  <v-row>
    <v-col cols="12" md="6">
      <v-virtual-scroll
        v-if="places.length > 0"
        :items="places"
        height="340"
        item-height="60"
      >
        <template #default="{ item }">
          <v-list-item :title="item.title" :subtitle="item.road">
            <template #prepend>
              <v-avatar color="grey-lighten-1">
                <v-icon color="white">$mdiHome</v-icon>
              </v-avatar>
            </template>

            <template #append>
              <v-btn
                color="grey-lighten-1"
                icon="$mdiInformation"
                variant="text"
              ></v-btn>
            </template>
          </v-list-item>
        </template>
      </v-virtual-scroll>
    </v-col>
    <v-col cols="12" md="6">
      <v-virtual-scroll
        v-if="addresses.length > 0"
        :items="addresses"
        height="340"
        item-height="60"
      >
        <template #default="{ item }">
          <v-list-item
            :title="item.street_name"
            :subtitle="item.zip + ' ' + item.city"
          >
            <template #prepend>
              <v-avatar color="grey-lighten-1">
                <v-icon color="white">$mdiMapMarker</v-icon>
              </v-avatar>
            </template>

            <template #append>
              <v-btn
                color="grey-lighten-1"
                icon="$mdiInformation"
                variant="text"
              ></v-btn>
            </template>
          </v-list-item>
        </template>
      </v-virtual-scroll>
    </v-col>
  </v-row>
</template>

<script setup>
import { computed, ref, watch } from "vue";

import { RepositoryFactory } from "@/utils/repositories/repositoryFactory";
const SearchRepository = RepositoryFactory.get("search");

const search = ref("");
const select = ref("");
const searching = ref(false);
const count = ref(0);

const addresses = ref([]);
const places = ref([]);
const pagination = ref({});

const isLoading = ref(false);

watch(search, (newVal, oldVal) => {
  console.log("search", newVal, oldVal, select.value, search.value);
  if (searching.value) {
    clearTimeout(searching.value);
  }

  searching.value = setTimeout(function () {
    if (
      newVal &&
      newVal !== select.value &&
      newVal != oldVal &&
      newVal.length > 4
    ) {
      querySelections(newVal);
    }
  }, 500);
});

const querySelections = async function (v) {
  // Simulated ajax query
  isLoading.value = true;
  const results = await SearchRepository.search(v);

  console.log("results", v, results);
  //let results = await response.json();

  places.value = results.places;
  addresses.value = results.addresses;
  isLoading.value = false;

  //   count.value = results.features.count;
  //   items.value = results.features;

  //   console.log("autocompl", items.value);
};

const onChangeAutoComplete = (val) => {
  console.log("onChangeAutoComplete", {
    type: "FeatureCollection",
    features: val,
  });
  let payload = val;
};
</script>
