<template>
  <div class="container">
    <span>Update me!</span>
    <button class="action" @click.stop="clicked">CLICK ME</button>
    <v-btn>lala</v-btn>
  </div>
</template>

<script>
export default {
  name: "ToastChangePassword",
  props: {
    toastId: {
      type: [String, Number],
      required: true,
    },
  },
  methods: {
    clicked() {
      this.$toast.update(this.toastId, {
        content: "Updated!",
        options: { type: "success" },
      });
    },
  },
};
</script>
