<template>
  <v-card class="pa-5 mb-0">
    <v-skeleton-loader :loading="loading" type="article">
      <template v-if="regionData">
        <h2 class="text-h3">
          {{ regionData.title }}
        </h2>
        <v-divider class="mt-3"></v-divider>
        <h4 class="text-h4">{{ regionData.subtitle }}</h4>
        <v-list v-if="isLoggedIn"
          ><v-list-item style="padding-left: 0px">
            <template #prepend>
              <v-btn
                variant="text"
                to="/chart"
                title="Charts"
                style="margin-right: 16px"
                ><v-icon>$mdiChartLine</v-icon></v-btn
              >
            </template>

            <v-list-item-title v-if="locations.features"
              >{{ locations.features.length }}
              {{ $t("locations.location_plural") }}</v-list-item-title
            >
          </v-list-item>
        </v-list>

        <div v-if="regionData.organisation">
          <h6 class="text-h6">
            {{
              $t("regions.organisation_home_intro", {
                lsm_name: regionData.title,
              })
            }}
          </h6>
          <h5 class="text-h5">
            {{ regionData.organisation }}
          </h5>

          <i v-if="regionData.organisation_intro" style="white-space: pre">
            {{ regionData.organisation_intro }}
          </i>
          <v-divider class="mt-3 mb-3"></v-divider>

          <v-alert v-if="regionData.organisation_meeting">
            <v-icon>$mdiInformation</v-icon>
            <b>{{ $t("regions.organisation_meeting_intro") }} </b>
            {{ regionData.organisation_meeting }}
          </v-alert>
        </div>
      </template>
    </v-skeleton-loader>
  </v-card>
</template>
<script setup>
import { computed, ref } from "vue";
import { useRegionStore } from "@/stores/region";
import { useLocationsStore } from "@/stores/locations";
import { useLoaderStore } from "@/stores/loader";
import { useAuthStore } from "@/stores/auth";

const regionStore = useRegionStore();
const locationsStore = useLocationsStore();
const loaderStore = useLoaderStore();
const authStore = useAuthStore();

const loading = computed(() => loaderStore.loading);
const isLoggedIn = computed(() => authStore.isLoggedIn);

const regionData = computed(() => regionStore.getregionData);
const locations = computed(() => locationsStore.locations);
const filteredLocations = computed(() => locationsStore.filteredLocations);
</script>
