<template>
  <v-row>
    <v-col xs="12" sm="12" md="12" lg="12">
      <v-card class="region-map" :height="mapHeight">
        <v-skeleton-loader
          :loading="loading && mapLoaded"
          type="ossein"
          class="rounded-lg"
          :height="mapHeight"
        >
          <mgl-map
            :map-style="mapHelper.mapStyleLink()"
            :zoom="mapzoom"
            :center="mapcenter"
            :height="mapHeight"
            :cooperative-gestures="true"
            :locale="mapGestures"
          >
            <mgl-navigation-control position="top-left" />

            <mgl-fullscreen-control position="top-left" />

            <mgl-scale-control position="bottom-left" />
            <mgl-geolocate-control
              position="top-left"
              :position-options="positionOptions"
              :track-user-location="true"
              :show-user-location="true"
            />
            <mgl-geo-json-source
              v-if="props.cluster"
              source-id="places"
              :data="geoJsonSource.data"
              :cluster="true"
              :cluster-max-zoom="14"
              :cluster-radius="50"
            >
              <mgl-circle-layer
                layer-id="clusters"
                source="places"
                :paint="clusterCountPaint"
                :filter="['has', 'point_count']"
              />
              <mgl-circle-layer
                layer-id="unclustered-points"
                source="places"
                :paint="unclusteredPaint"
                :filter="['!has', 'point_count']"
              />
              <mgl-symbol-layer
                layer-id="cluster-count"
                source="places"
                :layout="clusterCountLayout"
                :filter="['has', 'point_count']"
              />
            </mgl-geo-json-source>
            <mgl-geo-json-source
              v-if="!props.cluster"
              source-id="places"
              :data="geoJsonSource.data"
            >
              <mgl-circle-layer
                layer-id="unclustered-points"
                source="places"
                :paint="pointsPaint"
              />
            </mgl-geo-json-source>
          </mgl-map>
        </v-skeleton-loader>
      </v-card>

      <v-divider
        style="display: block; width: 100%; min-width: 400px"
      ></v-divider>
    </v-col>
  </v-row>
  <v-row>
    <v-col xs="12" sm="12" md="12" lg="12" class="">
      <v-card>
        <v-tabs v-model="tab">
          <v-tab v-if="$vuetify.display.smAndDown" value="start"
            ><v-icon>$mdiHome</v-icon>
          </v-tab>
          <v-tab value="next" :title="$t('regions.map_lists.next')"
            ><v-icon>$mdiBullseye</v-icon>
          </v-tab>
          <v-tab value="newest" :title="$t('regions.map_lists.newest')"
            ><v-icon>$mdiChiliHot</v-icon>
          </v-tab>
          <v-tab value="filter" :title="$t('regions.map_lists.filter')"
            ><v-icon>$mdiFilter</v-icon>
          </v-tab>
          <v-tab value="need" :title="$t('regions.map_lists.need')"
            ><v-icon>$mdiHeart</v-icon>
          </v-tab>
        </v-tabs>
        <v-card-text>
          <v-window v-model="tab">
            <v-window-item
              v-if="$vuetify.display.smAndDown"
              value="start"
            ></v-window-item>
            <v-window-item value="next">
              <h4 class="text-h4">{{ $t("regions.map_lists.next_short") }}</h4>
              <PlaceList
                title=""
                :places="listings"
                :max-items="8"
                :pagination="false"
                @select-place="placeSet"
              />
            </v-window-item>
            <v-window-item value="newest">
              <h4 class="text-h4">
                {{ $t("regions.map_lists.newest_short") }}
              </h4>
              <PlaceList
                :places="filteredLocations"
                :max-items="8"
                @select-place="placeSet"
              />
            </v-window-item>
            <v-window-item value="filter">
              <h4 class="text-h4">
                {{ $t("regions.map_lists.filter_short") }}
              </h4>
              <DateFilter headline="" />
            </v-window-item>
            <v-window-item value="need">
              <h4 class="text-h4">
                {{ $t("regions.map_lists.need_short") }}
                <v-icon>$mdiHeart</v-icon>
              </h4>
              <h5>{{ $t("regions.map_lists.need_alt") }}</h5>
              <PlaceList
                :places="updateableLocations"
                :max-items="8"
                @select-place="placeSet"
              />
            </v-window-item>
          </v-window>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script setup>
import { useMapHelpers } from "@/composables/useMapHelpers";
import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { useLocationsStore } from "@/stores/locations";
import { usePlaceStore } from "@/stores/place";

import { useMap } from "@indoorequal/vue-maplibre-gl";

import MaplibreGeocoder from "@maplibre/maplibre-gl-geocoder";

import { ref, toRef, watch, computed } from "vue";
import PlaceList from "@/components/Place/List/PlaceList.vue";
import i18n from "@/i18n";

import {
  mapGestures,
  clusterCountLayout,
  unclusteredPaint,
  clusterCountPaint,
  pointsPaint,
  createDot,
  placeSelectFly,
  mapHeight,
  geocoderApi,
} from "@/composables/useMapDefaults";
import DateFilter from "../DateFilter.vue";

const mapInstance = useMap();
const mapHelper = useMapHelpers();
const loaderStore = useLoaderStore();
const regionStore = useRegionStore();
const locationsStore = useLocationsStore();
const placeStore = usePlaceStore();

const loading = computed(() => loaderStore.loading);
const tab = ref("next");

const props = defineProps({
  cluster: {
    type: Boolean,
    default: true,
  },
});

const regionData = computed(() => regionStore.getregionData);
const regionMap = computed(() => regionStore.getregionMap);
const filteredLocations = computed(() => locationsStore.filteredLocations);
const updateableLocations = computed(() => locationsStore.updateableLocations);
const place = computed(() => placeStore.place);
const placeStatus = computed(() => placeStore.status);

const mapcenter = computed(() =>
  regionData.value
    ? [
        place.value.lon || regionData.value.mapcenter_lon,
        place.value.lat || regionData.value.mapcenter_lat,
      ]
    : [9, 52]
);
const mapLoaded = ref(false);
const mapzoom = computed(() =>
  placeStatus.value == "loaded"
    ? regionMap.value.zoom || 14
    : regionData.value.zoom || 6
);

const positionOptions = { enableHighAccuracy: true };

mapInstance.language = i18n.locale;

const geoJsonSource = ref({ data: {} });
const listings = ref({});

watch(filteredLocations, async (newFeatures) => {
  if (newFeatures.length > 0) {
    geoJsonSource.value = mapHelper.updateGeoJson(newFeatures);
  }
});

watch(toRef(mapInstance, "isLoaded"), () => {
  //console.log("IS LOADED", mapInstance.map, filteredLocations.value),
  //{ immediate: true };

  const map = mapInstance.map;

  map.addControl(
    new MaplibreGeocoder(geocoderApi, { marker: false, collapsed: true })
  );

  geoJsonSource.value = mapHelper.updateGeoJson(filteredLocations.value);

  // map events
  // inspect a cluster on click
  mapHelper.addMapClusterClickEvent(map, "clusters", "places");
  mapHelper.addMapClickEvent(map, "unclustered-points", placeSet);
  mapHelper.addMapPointerEvents(map, "unclustered-points");
  mapHelper.addMapPointerEvents(map, "clusters");

  map.on("zoomend", function () {
    // console.log("zoom end", map.getZoom());
    regionStore.setLocalZoom(map.getZoom());
  });

  map.on("sourcedata", function (e) {
    if (e.isSourceLoaded) {
      let sourceLoaded = map.isSourceLoaded("places");
      let stateDataLayer = map.getLayer("points");
      if (sourceLoaded && stateDataLayer == undefined) {
        mapLoaded.value = true;

        //   let dot = createDot(map, 200);
        //   map.addImage('pulsing-dot', dot, { pixelRatio: 2 });
        //   map.addLayer({
        //     'id': 'points',
        //     'type': 'symbol',
        //     'source': 'places',
        //     'filter': ['!has', 'point_count'],
        //     'layout': {
        //       'icon-image': 'pulsing-dot'
        //     }
        //   });
      }
      listings.value = map.queryRenderedFeatures({
        layers: ["unclustered-points"],
      });
    }
  });

  map.on("moveend", () => {
    listings.value = map.queryRenderedFeatures({
      layers: ["unclustered-points"],
    });
  });
});

const placeSet = function (data) {
  placeSelectFly(data, mapInstance.map);
  let place = filteredLocations.value.find(
    (element) => element.properties.id == data.properties.id
  );
  placeStore.setReloadPlace({
    place: place.properties,
  });
  let region_path = regionData.value.slug || place.properties.map_id;
  history.pushState({}, null, "/" + region_path + "/" + place.properties.slug);
};
</script>
