<template>
  <v-card class="pl-10 pr-10 pb-10 pt-5 elevation-5">
    <h2 class="text-h2">Hallo Leerstand!</h2>
    <p>Daten aus den einzelnen Regionen</p>
    <v-list nav density="compact" one-line>
      <v-list-item
        v-for="(item, i) in regions"
        :key="`item-${i}`"
        :value="item"
        active-class="teal--text text--darken-4"
        @click="selectRegion(item)"
      >
        <v-list-item-title
          >{{ item.title }}
          <v-chip>{{ item.locations }}</v-chip>
        </v-list-item-title>
        <template #append>
          <v-btn
            v-if="regionData.id != item.id"
            color="grey-lighten-1"
            icon="$mdiChevronRight"
            variant="text"
          ></v-btn>
          <v-btn
            v-if="regionData.id == item.id"
            color="grey-lighten-1"
            icon="$mdiClose"
            variant="text"
            @click.stop="deselect"
          ></v-btn>
        </template>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script setup>
import { computed } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { useRegionsStore } from "@/stores/regions";

const loaderStore = useLoaderStore();
const regionStore = useRegionStore();
const regionsStore = useRegionsStore();

const regions = computed(() => regionsStore.getRegions);
const regionData = computed(() => regionStore.getregionData);

const selectRegion = (region) => {
  loaderStore.show();
  regionStore.fetchRegion(region.id).then(() => {
    loaderStore.hide();
  });
};
</script>
