<template>
  <v-card class="pa-5 mb-0">
    <v-skeleton-loader :loading="loading" type="article">
      <template v-if="regionData">
        <h2 class="text-h3">
          {{ regionData.title }}
        </h2>
        <br />
        <v-divider class="mt-3"></v-divider>
        <h4 class="text-h4">{{ regionData.subtitle }}</h4>

        <div v-if="regionData.organisation">
          <h4 class="text-h5">
            {{
              $t("regions.organisation_home_intro", {
                lsm_name: regionData.title,
              })
            }}
          </h4>
          <h3 class="text-h4">
            {{ regionData.organisation }}
          </h3>
          <h5 v-if="regionData.organisation_legal" class="text-h5">
            {{ regionData.organisation_legal }}
          </h5>
          <v-divider class="mt-3"></v-divider>
          <p v-if="regionData.organisation_address" style="white-space: pre">
            {{ regionData.organisation_address }}
          </p>
          <span v-if="regionData.organisation_email">
            <v-icon>$mdiEmail</v-icon>&nbsp;
            <a :href="makeLink(regionData.organisation_email)" target="_blank">
              {{ regionData.organisation_email }}
            </a>
          </span>
          <v-divider class="mt-3"></v-divider>
          <span v-if="regionData.organisation_url">
            <v-icon>$mdiWeb</v-icon>&nbsp;
            <a :href="regionData.organisation_url">
              {{ regionData.organisation_url }}
            </a>
          </span>
        </div>
      </template>
    </v-skeleton-loader>
  </v-card>
</template>
<script setup>
import { computed, ref } from "vue";
import { useRegionStore } from "@/stores/region";
import { useLocationsStore } from "@/stores/locations";
import { useLoaderStore } from "@/stores/loader";

const regionStore = useRegionStore();
const locationsStore = useLocationsStore();
const loaderStore = useLoaderStore();

const loading = computed(() => loaderStore.loading);

const regionData = computed(() => regionStore.getregionData);
const locations = computed(() => locationsStore.locations);
const filteredLocations = computed(() => locationsStore.filteredLocations);

const makeLink = (email) => "mailto:" + email;
</script>
