<template>
  <v-container v-if="!regionData" class="pa-0">
    <v-row justify="center">
      <v-col cols="12" align-self="center">
        <v-card>
          <v-card-text class="ma-10">
            <h1 class="text-h2 d-flex justify-center align-center ma-10">
              <v-icon
                color="primary"
                icon="$mdiMapMarkerQuestionOutline"
              ></v-icon>
            </h1>
            <h2 class="text-h2 d-flex justify-center align-center ma-10">
              {{ $t("regions.missing.title") }}
            </h2>
            <h4 class="text-h4 d-flex justify-center align-center">
              {{ $t("regions.missing.intro") }}
            </h4>
            <div class="mt-10 d-flex justify-center align-center">
              <RegionSelect
                id="btn-missing-select"
                headline="text-h4 "
                class="justify-center align-center"
              />
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref } from "vue";
import { useRegionStore } from "@/stores/region";

import RegionSelect from "@/components/Region/RegionSelect.vue";

const regionStore = useRegionStore();
const regionData = computed(() => regionStore.getregionData);
</script>
