<template>
  <v-row>
    <v-col cols="12">
      <h4 class="text-h4 ma-4">{{ $t("messages.regions_map_intro") }}</h4>
      <v-card>
        <v-skeleton-loader
          :loading="loading"
          type="ossein"
          style="height: 100vh"
        >
          <mgl-map
            :map-style="mapStyleLink"
            :zoom="mapzoom"
            :center="mapcenter"
            class="rounded-lg"
            :style="setDefaultStyle"
            :cooperative-gestures="true"
            :locale="mapGestures"
            @map:load="loadedMap"
          >
          </mgl-map>
        </v-skeleton-loader>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
// TODO: move to composition api
import i18n from "@/i18n";
import { mapState, mapStores } from "pinia";
import { useRegionsStore } from "@/stores/regions";
import { useLoaderStore } from "@/stores/loader";
import { usePlaceStore } from "@/stores/place";
import { useLocationsStore } from "@/stores/locations";
import { useRegionStore } from "@/stores/region";

import { useMapHelpers } from "@/composables/useMapHelpers";
import { useToast } from "vue-toastification";

import { Popup } from "maplibre-gl";

import { useMap } from "@indoorequal/vue-maplibre-gl";
import { mapGestures } from "@/composables/useMapDefaults";

export default {
  name: "RegionsMap",
  components: {},
  data() {
    return { toast: null };
  },
  props: {
    maxHeight: {
      type: String,
      default: "500px",
    },
  },
  created() {
    this.toast = useToast();
    this.mapGestures = mapGestures;
  },
  computed: {
    ...mapState(useLoaderStore, ["loading"]),
    ...mapState(useRegionsStore, ["regions"]),
    ...mapStores(useRegionStore, useLoaderStore),

    geoJsonRegions: function () {
      let collection = [];
      collection = this.regions
        .filter((x) => x.polygon)
        .map((x, index) => ({
          type: "Feature",
          geometry: {
            type: x.polygon.length > 10000 ? "MultiPolygon" : "Polygon",
            coordinates: [eval(x.polygon)],
          },
          properties: {
            id: x.id,
            titel: x.title,
          },
          id: index + 1,
        }));
      return {
        data: {
          type: "FeatureCollection",
          features: collection,
        },
      };
    },

    mapcenter: function () {
      return [9.769042968752615, 51.13962147768274];
    },
    mapzoom: function () {
      return 5;
    },
    mapStyleLink: function () {
      return useMapHelpers().mapStyleLink();
    },
  },

  methods: {
    setDefaultStyle() {
      return "max-height: " + this.maxHeight;
    },
    loadedMap() {
      const map = useMap().map;

      map.addSource("regions", {
        type: "geojson",
        data: this.geoJsonRegions.data,
      });
      map.addLayer({
        id: "regions-paint",
        type: "fill",
        source: "regions",
        layout: {},
        paint: {
          "fill-color": "#ff002b",
          "fill-opacity": [
            "case",
            ["boolean", ["feature-state", "hover"], false],
            1,
            0.5,
          ],
        },
      });
      const popup = new Popup({
        closeButton: false,
        closeOnClick: false,
      });

      map.on("mouseenter", "regions-paint", (e) => {
        map.getCanvas().style.cursor = "pointer";

        const coordinates = e.features[0].geometry.coordinates[0][0].slice();
        const description = e.features[0].properties.titel;

        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        popup
          .setLngLat(coordinates)
          .setHTML("<b>" + description + "</b>")
          .addTo(map);
      });

      let hoveredStateId = null;

      map.on("mousemove", "regions-paint", (e) => {
        if (e.features.length > 0) {
          if (hoveredStateId) {
            map.setFeatureState(
              { source: "regions", id: hoveredStateId },
              { hover: false }
            );
          }
          hoveredStateId = e.features[0].id;
          map.setFeatureState(
            { source: "regions", id: hoveredStateId },
            { hover: true }
          );
        }
      });

      map.on("mouseleave", "regions-paint", () => {
        console.log("mouseLeave", hoveredStateId);
        map.getCanvas().style.cursor = "";
        popup.remove();

        if (hoveredStateId) {
          map.setFeatureState(
            { source: "regions", id: hoveredStateId },
            { hover: false }
          );
        }
        hoveredStateId = null;
      });

      map.on("click", "regions-paint", (e) => {
        map.getCanvas().style.cursor = "";
        popup.remove();
        const region_id = e.features[0].properties.id;
        this.selectRegion({ id: region_id });
      });
    },
    selectRegion(region) {
      this.loaderStore.show();
      this.regionStore.fetchRegion(region.id).then((data) => {
        this.loaderStore.hide();
        this.toast.success(
          i18n.global.t("regions.load_success") + ": " + data.title
        );
      });
    },
  },
};
</script>
