<template>
  <v-sheet
    class="pa-4 text-center mx-auto"
    color="transparent"
    rounded="lg"
    width="100%"
  >
    <v-icon
      class="mb-5"
      color="success"
      icon="$mdiCheckCircle"
      size="112"
    ></v-icon>
    <h2 class="text-h5 mb-6">{{ $t("comments.saved") }}</h2>
    <p class="mb-4 text-medium-emphasis text-body-2">
      {{ $t("comments.restart_explain") }}
    </p>
    <div class="text-end">
      <v-btn class="text-none" color="primary" @click="update()">
        {{ $t("comments.restart") }}
      </v-btn>
    </div>
  </v-sheet>
</template>

<script setup>
const created = defineModel({ default: false, required: true, type: Boolean });
const update = () => {
  created.value = false;
};
</script>
