<template>
  <v-row justify="center" class="align-center bg-on-dark">
    <v-col cols="12" class="d-flex child-flex">
      <h2>Wir danken unseren Partner*innen und Förderden</h2>
    </v-col>
  </v-row>
  <v-row justify="center">
    <v-col cols="8" class="d-flex child-flex">
      <p class="">
        Gefördert vom
        <a href="https://civic-data.de/" target="_blank">Civic Data Lab</a>
        von 6'2024 – 8'2024
      </p>
    </v-col>
  </v-row>
  <v-row justify="center" class="align-center bg-on-dark">
    <v-col cols="12" md="6" class="d-flex">
      <a
        href="https://civic-data.de/"
        target="_blank"
        class="d-inline-block mx-auto align-self-center"
      >
        <v-img
          alt="Logo des Civic Data Lab"
          max-height="150"
          width="150"
          src="/logos/cdl-logo.svg"
      /></a>
    </v-col>
  </v-row>
  <v-divider style="margin: 40px 0"></v-divider>
  <v-row justify="center">
    <v-col cols="8" class="d-flex child-flex">
      <p class="">
        Gefördert vom
        <a href="https://www.bmbf.de/" target="_blank"
          >Bundesministerium für Bildung und Forschung</a
        >
        von 9'2022 – 2'2023 (Förderkennzeichen 01IS22S36) und unterstützt vom
        <a href="https://prototypefund.de/" target="_blank">Protoype Fund</a>
      </p>
    </v-col>
  </v-row>
  <v-row justify="center" class="align-center bg-on-dark">
    <v-col cols="12" md="6" class="d-flex">
      <a
        href="https://www.bmbf.de/"
        target="_blank"
        class="d-inline-block mx-auto align-self-center"
      >
        <v-img
          alt="Logo des Bundesministeriums für Bildung und Forschung"
          max-height="190"
          width="350"
          src="/logos/BMBF_Logo.svg"
      /></a> </v-col
    ><v-col cols="12" md="6">
      <a
        href="https://prototypefund.de/"
        target="_blank"
        class="d-inline-block mx-auto align-self-center"
        ><v-img
          alt="Logo des Prototype Funds"
          max-height="130"
          width="250"
          src="/logos/PrototypeFund_Logo.svg"
      /></a>
    </v-col>
  </v-row>
  <v-divider style="margin: 40px 0"></v-divider>
  <v-row justify="center">
    <v-col cols="8" class="d-flex child-flex">
      <p class="">
        Unterstützt durch die
        <a href="https://www.rosalux.de" target="_blank"
          >Rosa Luxemburg Stiftung</a
        >
        von 10'2021 – 2'2022
      </p>
    </v-col>
  </v-row>
  <v-row justify="center" class="align-center bg-on-dark">
    <v-col cols="12" md="6" class="d-flex">
      <a
        href="https://www.rosalux.de/"
        target="_blank"
        class="d-inline-block mx-auto align-self-center"
      >
        <v-img
          alt="Logo der Rosa Luxemburg Stiftung"
          max-height="50"
          width="550"
          src="/logos/logo-rls.svg"
      /></a>
    </v-col>
  </v-row>
</template>
