<template>
  <!--v-btn color="primary" class="full" @click.prevent="onClick()">
        <v-icon :icon="icon"></v-icon>
    </v-btn-->
  <v-expansion-panels v-model="panel" size="small" :class="getWidth()">
    <v-expansion-panel>
      <v-expansion-panel-title>
        <v-icon :icon="icon"> </v-icon>
        {{ caption }}
      </v-expansion-panel-title>
      <v-expansion-panel-text>
        <slot />
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script setup>
import { watch, ref, onMounted } from "vue";

const props = defineProps({
  icon: {
    type: String,
    default: "$mdiHome",
  },
  size: {
    type: String,
    default: "sm",
  },
  caption: {
    type: String,
    default: "",
  },
  isOpen: {
    type: Boolean,
    default: false,
  },
});

const open = ref(false);

const panel = ref([]);

const getWidth = () => {
  let width = "mini";
  if (open.value) {
    width = "maxi";
  }
  return width + " pb-5 " + props.size;
};

const onClick = () => {
  open.value = !open.value;
};

watch(panel, (newValue) => {
  if (newValue !== undefined) {
    open.value = true;
  } else {
    open.value = false;
  }
});

onMounted(() => {
  if (props.isOpen) {
    panel.value = [0];
  }
});
</script>
<style scoped>
.v-expansion-panels.mini {
  max-width: 100px;
  transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-property: margin-top, border-radius, border, max-width;
}
.v-expansion-panels.maxi {
  max-width: 100%;
  transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-property: margin-top, border-radius, border, max-width;
}
.v-expansion-panels.mini.md,
.v-expansion-panels.mini.xl {
  max-width: 100%;
}
.v-expansion-panels.maxi.xl {
  max-width: 100%;
}
</style>
