<template>
  <v-row>
    <v-col lg="6" md="12" class="pr-1">
      <CtoCreateButton />
    </v-col>
    <v-col lg="3" md="12" class="pl-1">
      <v-btn
        v-if="isLoggedIn"
        size="x-large"
        stacked
        color="surface-invert"
        prepend-icon="$mdiAccount"
        to="/profile"
        >{{ $t("users.profile") }}</v-btn
      >
      <v-btn
        v-if="!isLoggedIn"
        size="x-large"
        stacked
        color="surface-invert"
        prepend-icon="$mdiAccountPlus"
        to="/register"
        >{{ $t("users.register_process") }}</v-btn
      >
    </v-col>
    <v-col v-if="regionData" lg="3" md="12" class="pl-1">
      <v-btn
        class="cto_region"
        size="x-large"
        stacked
        color="surface-invert"
        append-icon="$mdiMap"
        :title="$t('regions.region_detail')"
        :to="{ name: 'region-direct', params: { region: regionData.slug } }"
      >
      </v-btn>
    </v-col>
  </v-row>
</template>
<script setup>
import { computed } from "vue";

import CtoCreateButton from "@/components/Buttons/CtoCreateButton.vue";

import { useAuthStore } from "@/stores/auth";
import { useRegionStore } from "@/stores/region";
const regionStore = useRegionStore();
const authStore = useAuthStore();
const regionData = computed(() => regionStore.getregionData);
const isLoggedIn = computed(() => authStore.isLoggedIn);
</script>
