<template>
  <v-btn
    stacked
    class="call_action"
    color="primary"
    size="x-large"
    to="/create"
    :title="$t('locations.create_new')"
    >{{ $t("locations.create_new") }} ></v-btn
  >
</template>
<script setup></script>
