<template>
  <v-menu style="z-index: 22226">
    <template #activator="{ props }">
      <v-btn
        id="regionButton"
        color="primary"
        v-bind="props"
        class="call_action cto_region mb-5 mr-md-10 mr-sm-5 mr-2"
        :size="$vuetify.display.mobile ? 'regular' : 'x-large'"
        append-icon="$mdiChevronDown"
      >
        <span v-if="regionData">{{ regionData.title }}</span>
        <span v-if="!regionData">Wähle einen Region aus</span>
      </v-btn>
      <v-btn
        id="goRegionButton"
        color="primary"
        class="call_action cto_region mb-5"
        size="regular"
        append-icon="$mdiMap"
        :title="$t('regions.region_detail')"
        :to="{ name: 'region-direct', params: { region: regionData.slug } }"
      >
      </v-btn>
    </template>

    <v-list
      id="regionMenuList"
      v-model:selected="selection"
      nav
      density="compact"
      one-line
      style="overflow-y: auto; max-height: 100vh"
    >
      <v-list-subheader>{{ $t("regions.region_plural") }}</v-list-subheader>

      <template #activator>
        <v-list-item-title>Title</v-list-item-title>
      </template>
      <v-list-item
        v-for="(item, i) in regions"
        :key="`item-${i}`"
        :value="item.id"
        active-class="teal--text text--darken-4"
        :selected="regionData.id == item.id"
      >
        <template #prepend>
          <v-icon class=""> $mdiHomeCity </v-icon>
        </template>

        <v-list-item-title
          >{{ item.title }} <v-chip end>{{ item.locations }}</v-chip>
        </v-list-item-title>
        <template #append>
          <v-btn
            v-if="regionData.id != item.id"
            color="grey-lighten-1"
            icon="$mdiChevronRight"
            variant="text"
          ></v-btn>
          <v-btn
            v-if="regionData.id == item.id"
            color="grey-lighten-1"
            icon="$mdiClose"
            variant="text"
            @click.stop="deselect"
          ></v-btn>
        </template>
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script setup>
import { computed, ref, watch } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { useRegionsStore } from "@/stores/regions";
import { useToast } from "vue-toastification";
import { useDisplay } from "vuetify";

const loaderStore = useLoaderStore();
const toast = useToast();

const activeRegion = ref(null);
const selection = ref(null);

const regionStore = useRegionStore();
const regionsStore = useRegionsStore();
const regionData = computed(() => regionStore.getregionData);
const regionId = computed(() => regionStore.getregionId);
const regions = computed(() => regionsStore.getRegions);

watch(selection, function (newState, oldState) {
  if (newState != oldState) {
    if (newState[0] != regionId.value) {
      regionStore.fetchRegion(newState[0]).then(() => {
        console.log("resolve region/fetchRegion", regionId.value);
      });
    }
  }
});

const { width, mobile, name } = useDisplay();

const setActive = function (region) {
  loaderStore.show();
  regionStore.fetchRegion(region).then(() => {
    loaderStore.hide();
  });
};
const deselect = function () {
  regionStore.clear().then(() => {
    activeRegion.value = null;
  });
};
</script>
