<template>
  <v-select
    v-model="selection"
    class="call_action"
    color="primary"
    variant="outlined"
    :items="regions"
    item-title="title"
    item-value="id"
    :label="regionData.title"
    persistent-hint
    return-object
    single-line
  ></v-select>
</template>
<script setup>
import { computed, ref, watch } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { useRegionsStore } from "@/stores/regions";
import { useToast } from "vue-toastification";
import { useDisplay } from "vuetify";

const loaderStore = useLoaderStore();
const regionsStore = useRegionsStore();
const toast = useToast();

const activeRegion = ref(null);
const selection = ref(null);

const regionStore = useRegionStore();
const regionData = computed(() => regionStore.getregionData);
const regionId = computed(() => regionStore.getregionId);
const regions = computed(() => regionsStore.getRegions);

watch(selection, function (newState, oldState) {
  console.log("selection", newState["id"], oldState);
  if (newState != oldState) {
    if (newState["id"] != regionId.value) {
      regionStore.fetchRegion(newState["id"]).then(() => {
        console.log("resolve region/fetchRegion", regionId.value);
      });
    }
  }
});

const { width, mobile, name } = useDisplay();

const setActive = function (region) {
  console.log("setActive", region, activeRegion.value, selection.value);
  loaderStore.show();
  regionStore.fetchRegion(region).then(() => {
    loaderStore.hide();
  });
};
const deselect = function () {
  regionStore.clear().then(() => {
    activeRegion.value = null;
  });
};
</script>
