<template>
  <div class="form-button-list mb-3">
    <div
      v-for="(option, index) in options"
      :key="index"
      class="mb-2 mr-2 text-center d-inline-block"
    >
      <v-btn
        :variant="checkStyle(option.value)"
        size="large"
        @click="selectValue(option.value)"
        >{{ $t(option.title) }}</v-btn
      >
    </div>
  </div>
</template>

<script setup>
// eslint-disable-next-line vue/require-prop-types
const model = defineModel();

const props = defineProps({
  options: {
    type: Array,
    default() {
      return [];
    },
  },
  single: {
    type: Boolean,
    default: false,
  },
  defaultValue: {
    type: String,
    default: null,
  },
});

if (props.defaultValue) {
  model.value = props.defaultValue;
}

const selectValue = function (value) {
  if (props.single) {
    model.value = value;
  } else {
    model.value = addOrRemove(model.value, value);
  }
};
const checkStyle = function (opt_val) {
  if (
    (model.value == "" && props.defaultValue == opt_val) ||
    model.value == opt_val ||
    (Array.isArray(model.value) && model.value.includes(opt_val))
  ) {
    return "tonal";
  } else {
    return "outlined";
  }
};

function addOrRemove(array, value) {
  if (array == "" || array == "[]" || array == undefined) {
    array = [];
  }
  var index = array.indexOf(value);

  if (index === -1) {
    array.push(value);
  } else {
    array.splice(index, 1);
  }
  return array;
}
</script>
