//@debug $body-font-family;
@import "~/vuetify/lib/styles/settings/_variables.scss";

#app {
  background-color: white !important;
}
.v-main {
  min-height: 700px;
}

.v-footer {
  margin-top: 60px;
}

.v-carousel {
  &.lg-carousel {
    height: 500px !important;
  }
  &.sm-carousel {
    height: 300px !important;
  }
}

.break-words {
  hyphens: auto;
  -webkit-hyphens: auto; /* for Safari */
  word-break: break-all;
  word-wrap: break-word;
  line-break: anywhere;
}

.v-avatar.rounded-circle {
  border-radius: 20% !important;
}

.v-application.v-theme--lsmLightTheme {
  background-color: transparent;
}

#full_bg.lsmLightTheme {
  position: fixed;
  background-attachment: fixed !important;
  width: 100%;
  height: 100%;
  filter: contrast(200%);
  background: radial-gradient(
      circle 70vw at 15% 80%,
      rgba(255, 51, 81, 0.2),
      40%,
      rgba(255, 196, 0, 0.08),
      rgba(255, 196, 0, 0)
    ),
    radial-gradient(
      circle 100vw at 100% 0%,
      rgba(157, 59, 255, 0.2),
      30%,
      rgba(0, 255, 255, 0.12),
      rgba(0, 255, 255, 0)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 500 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.v-application .v-app-bar.v-toolbar {
  height: 50px !important;
  overflow: hidden;
}
.v-application.v-theme--lsmLightTheme .v-app-bar.v-toolbar {
  background-color: white !important;
  .v-toolbar__content {
    padding-top: 10px;
    background-attachment: fixed !important;
    width: 100%;
    height: 100vh !important;
    align-items: flex-start;
    filter: contrast(200%);
    background: radial-gradient(
        circle 70vw at 15% 80%,
        rgba(255, 51, 81, 0.2),
        40%,
        rgba(255, 196, 0, 0.08),
        rgba(255, 196, 0, 0)
      ),
      radial-gradient(
        circle 100vw at 100% 0%,
        rgba(157, 59, 255, 0.2),
        30%,
        rgba(0, 255, 255, 0.12),
        rgba(0, 255, 255, 0)
      ),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 500 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
}

.v-theme--lsmLightTheme {
}
#full_bg.lsmDarkTheme {
  position: fixed;
  background-attachment: fixed !important;
  width: 100%;
  height: 100%;

  filter: contrast(200%);
  background: radial-gradient(
      circle 70vw at 15% 80%,
      rgba(123, 25, 50, 1) 8%,
      rgba(5, 24, 30, 1) 35%,
      rgba(70, 34, 121, 1) 125%
    ),
    radial-gradient(
      circle 100vw at 100% 0%,
      rgba(157, 59, 255, 0.2),
      30%,
      rgba(0, 255, 255, 0.12),
      rgba(0, 255, 255, 0)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 500 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
.v-application.v-theme--lsmDarkTheme .v-app-bar.v-toolbar {
  .v-toolbar__content {
    padding-top: 10px;
    background-attachment: fixed !important;
    width: 100%;
    height: 100vh !important;
    align-items: flex-start;
    filter: contrast(200%);
    background: radial-gradient(
        circle 70vw at 15% 80%,
        rgba(123, 25, 50, 1) 8%,
        rgba(5, 24, 30, 1) 35%,
        rgba(70, 34, 121, 1) 125%
      ),
      radial-gradient(
        circle 100vw at 100% 0%,
        rgba(157, 59, 255, 0.2),
        30%,
        rgba(0, 255, 255, 0.12),
        rgba(0, 255, 255, 0)
      ),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 500 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
}

// .v-application.v-theme--lsmDarkTheme {
//   background: rgb(123, 25, 50);
//   background: linear-gradient(
//     60deg,
//     rgba(123, 25, 50, 1) 8%,
//     rgba(5, 24, 30, 1) 35%,
//     rgba(70, 34, 121, 1) 125%
//   );
// }

.v-theme--lsmDarkTheme {
}

.v-app-bar-title {
  border: 2px solid black;
  border-color: rgb(var(--v-primary-theme));
  border-radius: 35px;
  margin: -2px 16px;
  height: 40px;
}
.outer1 {
  width: 100%;
  margin: 0px 0px;
  border: 2px solid black;
  border-color: rgb(var(--v-primary-theme));
  border-radius: 35px;
  overflow: hidden;
  height: 40px;
}
.outer2 {
  width: 100%;
  margin: 0px 16px;
  border: 2px solid black;
  border-color: rgb(var(--v-primary-theme));
  border-radius: 35px;
  height: 40px;
}

.sm.outer1 {
  .outer2 {
    border: none;
    .v-app-bar-title {
      border: none;
    }
  }
}

#regionBtn {
  max-height: 22px;
  font-family: "chaneyregular" !important;
  margin-top: 7px !important;
  font-size: 0.87rem;
}

.region-list {
  overflow-y: auto;
  max-height: 100vh;
  &.v-list--nav .v-list-subheader {
    font-size: 1.1rem;
  }

  .v-list-item--nav .v-list-item-title {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

.v-sheet.theme--dark.v-toolbar.v-app-bar.v-app-bar--fixed.primary {
  z-index: 10000;
}
.v-overlay.v-overlay--absolute.v-overlay--active.theme--dark {
  z-index: 7777 !important;
}
.v-navigation-drawer.v-navigation-drawer--absolute.v-navigation-drawer--open {
  z-index: 8888;
}

.v-navigation-drawer {
  .v-list-item {
    text-transform: uppercase;
  }
  .v-list-group__items {
    .v-list-item {
      text-transform: none;
    }
    .v-list-item--active {
      font-weight: bold;
      background: none;
    }
  }
}

.logo {
  line-height: 20px;
  padding-top: 10px;
  font-size: 1.6rem !important;
  font-family: "chaneywide" !important;
  font-weight: 400;
  letter-spacing: 0.0073529412em !important;
  text-transform: none !important;
}

/*** Dialog customisation ***/
.v-theme--lsmLightTheme.v-dialog,
.v-theme--lsmDarkTheme.v-dialog {
  .v-overlay__content {
    margin: 0 24px;
    max-height: calc(100% - 0px);
    max-width: calc(100% - 48px);
    overflow-y: scroll !important;
  }
}

.start-prompt {
  z-index: 101010 !important;
}
.start-prompt .v-overlay__content {
  bottom: 0px;
}

.v-theme--lsmLightTheme {
  .modal-background .v-card,
  .modal-background .v-alert,
  .modal-background .modal-close {
    //padding-left: 80px !important;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 1) 5%
    );
  }
}

.v-theme--lsmDarkTheme {
  .modal-background .v-card,
  .modal-background .v-alert,
  .modal-background .modal-close {
    //padding-left: 80px !important;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 1) 5%
    );
  }
}
.modal-background {
  position: relative;
  .modal-close {
    position: absolute;
    left: -50px;
    color: rgb(var(--v-surface-theme)) !important;
  }
}

.v-dialog > .v-overlay__content > .v-card {
  box-shadow: 0 0 0 0 !important;
}

.v-theme--lsmDarkTheme {
  .bg-on-dark {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 35px;
  }
}

.floating_btn {
  background-color: rgba(var(--v-theme-surface_invert), 0.5) !important;
}

.mgl-wrapper {
  border-radius: 12px;
}

.mgl-container {
  position: relative;
  height: 100vh !important;
}

.mgl-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.circle-marker {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: red;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
}

.v-card {
  margin-bottom: 0px;
}

.v-card--variant-outlined {
  border: 2px solid currentColor;
}

.v-card-subtitle {
  opacity: 1 !important;
}

.v-application {
  .v-expansion-panel {
    border: 2px solid black;
    border-color: rgb(var(--v-primary-theme));
  }
  .v-expansion-panel-title__icon {
    margin-inline-start: initial;
  }
}

.v-application {
  .v-data-table {
    .v-table__wrapper > table > thead > tr {
      th {
        background: transparent;
      }
    }
    .v-table__wrapper > table > tbody > tr {
      td {
        background: transparent;
      }
    }
  }
}

.v-tab.v-tab {
  border: 0 !important;
}

.v-card-title {
  white-space: normal !important;
}

.v-card-text {
  font-size: 1 rem;
  line-height: 1 rem;
}

.v-btn {
  font-family: "atkinsonregular", sans-serif !important;
}

.v-btn.call_action {
  font-family: "chaneyregular", sans-serif !important;
  font-size: 1.8rem !important;
  color: rgb(var(--v-theme-primary)) !important;

  .v-btn__content {
    line-height: 0.9 !important;
  }
}

.v-btn.call_action_small {
  font-family: "chaneyregular", sans-serif !important;
  font-size: 1.2rem !important;
  color: rgb(var(--v-theme-primary)) !important;

  .v-btn__content {
    line-height: 0.6 !important;
  }
}

.v-btn.action {
  color: rgb(var(--v-theme-surface)) !important;
  background-color: rgb(var(--v-theme-surface_invert)) !important;
  text-transform: uppercase;
}
.v-btn.action-primary {
  font-family: "chaneyregular", sans-serif !important;
  color: rgb(var(--v-theme-surface)) !important;
  background-color: rgb(var(--v-theme-primary)) !important;
  text-transform: none;
}

.v-btn.bg-primary {
  background-color: transparent !important;
}
.v-btn.action.bg-primary {
  color: rgb(var(--v-theme-surface)) !important;
  background-color: rgb(var(--v-theme-surface_invert)) !important;
  border-color: rgb(var(--v-theme-surface_invert)) !important;
}

.footer-bar {
  .v-btn.v-btn--variant-text {
    border-width: 0 !important;
  }
}

#regionButton {
  min-height: 80px;
  min-width: 200px;

  .v-btn__content {
    margin-left: 20px;
  }
}
#goRegionButton {
  min-height: 80px;
  min-width: 80px;
}

hr {
  margin-bottom: 15px;
}

a {
  color: rgb(var(--v-surface-theme)) !important;
}
a.call {
  color: rgb(var(--v-surface-theme)) !important;
  border: 1px solid black;
  border-color: rgb(var(--v-surface-theme)) !important;
  padding: 10px;
  border-radius: 35px;
  text-decoration: none;
}

.nav-list {
  .v-btn {
    height: calc(var(--v-btn-height) + 30px);
    overflow-wrap: break-word;
    grid-template-columns: max-content auto max-content;
    width: 100%;

    .v-btn__content {
      overflow-wrap: break-word;
      white-space: unset;
      overflow: hidden;
    }
  }
}

.highlight.on-surface {
  border: 2px solid rgb(var(--v-theme-primary)) !important;
  font-family: "chaneyregular", sans-serif !important;

  color: rgb(var(--v-theme-primary)) !important;
}

p {
  margin-bottom: 1rem;
}
// // Override the variables or import a file that overrides them
// // // TODO: use theme scss varaiables
// $vt-color-success: rgb(var(--v-theme-green));
// $vt-text-color-success: rgb(var(--v-surface-theme));

// // Import the regular Vue Toastification stylesheets (or create your own)
// @import "vue-toastification/src/scss/_variables";
// @import "vue-toastification/src/scss/_toastContainer";
// @import "vue-toastification/src/scss/_toast";
// @import "vue-toastification/src/scss/_closeButton";
// @import "vue-toastification/src/scss/_progressBar";
// @import "vue-toastification/src/scss/_icon";
// @import "vue-toastification/src/scss/animations/_bounce";

.stroke_character {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(var(--v-theme-primary));
  text-stroke-color: rgb(var(--v-theme-primary));
  color: transparent;

  // font-size: 1.7rem !important;
}

.logo-lg {
  font-size: 1.6rem !important;
  letter-spacing: 0.0593529412em !important;
  &.logo_v1 {
    span:nth-child(3),
    span:nth-child(9),
    span:nth-child(12),
    span:nth-child(17) {
      @extend .stroke_character;
    }
  }
  &.logo_v2 {
    span:nth-child(2),
    span:nth-child(7),
    span:nth-child(14),
    span:nth-child(18) {
      @extend .stroke_character;
    }
  }
  &.logo_v3 {
    span:nth-child(6),
    span:nth-child(10),
    span:nth-child(15),
    span:nth-child(19) {
      @extend .stroke_character;
    }
  }
  &.logo_v4 {
    span:nth-child(3),
    span:nth-child(8),
    span:nth-child(13),
    span:nth-child(18) {
      @extend .stroke_character;
    }
  }
  &.logo_v5 {
    span:nth-child(2),
    span:nth-child(5),
    span:nth-child(11),
    span:nth-child(14),
    span:nth-child(18) {
      @extend .stroke_character;
    }
  }
  &.logo_v6 {
    span:nth-child(3),
    span:nth-child(7),
    span:nth-child(11),
    span:nth-child(16) {
      @extend .stroke_character;
    }
  }
}
.logo-md {
  font-size: 1.6rem !important;
  letter-spacing: 0.0593529412em !important;
  &.logo_v1 {
    span:nth-child(2) {
      @extend .stroke_character;
    }
  }
  &.logo_v2 {
    span:nth-child(3) {
      @extend .stroke_character;
    }
  }
}

h1 {
  //@include .text-h1;
  //@include typography("h1");
  //@extend .text-h1;
  word-wrap: break-word;
  hyphens: auto;
}

.text-h2 {
  @extend .text-h2;
  font-size: 3.45rem !important;
  word-wrap: break-word;
  hyphens: auto;
}

.text-h3 {
  font-size: 2.84rem !important;
  word-wrap: break-word;
  hyphens: auto;
}

.text-h4 {
  font-size: 1.8rem !important;
  word-wrap: break-word;
  hyphens: auto;
}

.text-h5 {
  font-size: 1.25rem !important;
  letter-spacing: 1.1px !important;
  line-height: 1.25rem;
  margin-top: 1.25rem;
}
.text-h6 {
  font-size: 1.1rem !important;
  letter-spacing: 1.25px !important;
  line-height: 1.5rem;
}

// this is not DRY ... waiting for vuetify @extend

h1 {
  font-size: 6rem !important;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -0.015625em !important;
  font-family: "chaneyregular", sans-serif !important;
  text-transform: none !important;
}

h2 {
  @extend .text-h2;
  font-weight: 300;
  line-height: 3.75rem;
  letter-spacing: -0.0083333333em !important;
  font-family: "chaneyregular", sans-serif !important;
  text-transform: none !important;
}
h3 {
  font-size: 2.84rem !important;
  font-weight: 400;
  line-height: 3.125rem;
  letter-spacing: normal !important;
  font-family: "chaneyregular", sans-serif !important;
  text-transform: none !important;
}

h4 {
  font-size: 1.8rem !important;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.0073529412em !important;
  font-family: "chaneyregular", sans-serif !important;
  text-transform: none !important;
}

h5 {
  font-size: 1.25rem !important;
  letter-spacing: 1.1px !important;
  font-weight: 400;
  line-height: 2rem;
  font-family: "chaneyregular", sans-serif !important;
  text-transform: none !important;
}

h6 {
  font-size: 1.1rem !important;
  letter-spacing: 1.25px !important;
  font-weight: 500;
  line-height: 2rem;
  font-family: "chaneyregular", sans-serif !important;
  text-transform: none !important;
}

//.text-body-1
p {
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03125em !important;
  font-family: "atkinsonregular", sans-serif !important;
  text-transform: none !important;
}

.markdown-body {
  h1,
  h2,
  h3 {
    padding-top: 1rem;
    font-family: "chaneyregular", sans-serif !important;
    padding-bottom: 0.6rem;
    word-wrap: break-word;
  }

  strong,
  h4,
  h5 {
    font-family: "atkinsonregular", sans-serif !important;
  }

  h4,
  h5 {
    padding-top: 0.5rem;
  }

  ul {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  li {
    list-style: circle;
  }
}

@media #{map-get($display-breakpoints, 'md-and-down')} {
  .text-h2,
  h2 {
    font-size: 2.85rem !important; // 3.15 rem für mobile
    line-height: 2.95rem;
  }
  .text-h3,
  h3 {
    font-size: 2.3rem !important; //2.5 rem
    line-height: 2.225rem;
  }
  .text-h4,
  h4 {
    font-size: 1.5rem !important; // 1.5 rem
    line-height: 1.6rem;
  }
}

.v-avatar {
  vertical-align: top !important;
  opacity: 0.4;
}

.marker {
  border: 1px solid rgb(var(--v-theme-primary));
  border-radius: 5px;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  cursor: pointer;
  background-color: rgb(var(--v-theme-primary-lighten-2));

  &.activeMarker {
    border-width: 3px !important;
    border-color: black !important;
    z-index: 1900;
    width: 45px;
    height: 45px;
  }

  &:before {
    content: attr(data-title);
    position: relative;
    right: -20px;
    bottom: 15px;
    width: 120px;
    height: 20px;
    overflow: hidden;
    margin: 3px 8px;
    background-color: white;
    clear: both;
    display: none;
    z-index: 12121212;
  }
  &:after {
    content: "";
    position: absolute;
    left: 8px;
    bottom: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(var(--v-theme-primary));
    clear: both;
  }
  &:hover {
    background-color: rgb(var(--v-theme-primary-darken-2));
    opacity: 1;
    border: 4px solid rgb(var(--v-theme-primary));
    transform: scale(1.1);
  }
  &:hover::before {
    display: inline-block;
    opacity: 1;
  }

  &.bt_residential {
    background-color: green;
  }
  &.bt_commercial {
    background-color: red;
  }
  &.bt_industrial {
    background-color: blue;
  }
  &.bt_historical {
    background-color: yellow;
  }
  &.bt_public_work {
    background-color: yellowgreen;
  }
  &.bt_other {
    background-color: lightblue;
  }

  &.own_private {
    background-color: green;
  }
  &.own_business {
    background-color: red;
  }
  &.own_public {
    background-color: blue;
  }
  &.own_city {
    background-color: yellow;
  }

  &.std_damage {
    background-color: brown;
    border: 1px solid brown;
    opacity: 0.4;
  }
  &.std_damage:after {
    border-top: 5px solid brown;
    opacity: 0.4;
  }
  &.std_unknown {
    background-color: grey;
    border: 1px solid darkgrey;
    opacity: 0.4;
  }
  &.std_unknown:after {
    border-top: 5px solid darkgrey;
    opacity: 0.4;
  }
  &.std_vacancy,
  &.std_default {
    background-color: red;
    opacity: 0.4;
  }
  &.std_alive {
    background-color: green;
    opacity: 0.4;
  }
  &.std_temporary {
    background-color: yellow;
    opacity: 0.4;
  }
}
.mark {
  border: 1px solid rgb(var(--v-theme-primary));
  border-radius: 35px;
  width: 5px;
  height: 5px;
  opacity: 0.8;
  cursor: pointer;
  background-color: rgb(var(--v-theme-primary-lighten-2));

  // &:before {
  //   content: attr(data-title);
  //   position: relative;
  //   right: -20px;
  //   bottom: 15px;
  //   width: 120px;
  //   height: 20px;
  //   overflow: hidden;
  //   margin: 3px 8px;
  //   background-color: white;
  //   clear: both;
  //   display: none;
  //   z-index: 12121212;
  // }
  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: 8px;
  //   bottom: -5px;
  //   width: 0;
  //   height: 0;
  //   border-left: 5px solid transparent;
  //   border-right: 5px solid transparent;
  //   border-top: 5px solid rgb(var(--v-theme-primary));
  //   clear: both;
  // }
  &:hover {
    background-color: rgb(var(--v-theme-primary-darken-2));
    opacity: 1;
    border: 2px solid rgb(var(--v-theme-primary));
    transform: scale(1.1);
  }
  &:hover::before {
    display: inline-block;
    opacity: 1;
  }

  &.bt_residential {
    background-color: green;
  }
  &.bt_commercial {
    background-color: red;
  }
  &.bt_industrial {
    background-color: blue;
  }
  &.bt_historical {
    background-color: yellow;
  }
  &.bt_public_work {
    background-color: yellowgreen;
  }
  &.bt_other {
    background-color: lightblue;
  }

  &.own_private {
    background-color: green;
  }
  &.own_business {
    background-color: red;
  }
  &.own_public {
    background-color: blue;
  }
  &.own_city {
    background-color: yellow;
  }
}

.form-button-list {
  .v-btn {
    min-width: 160px;
    color: var(--v-theme-surface) !important;
    text-transform: none;
  }
  .v-btn.v-btn--variant-tonal {
    background-color: rgb(var(--v-theme-surface_invert)) !important;
    border-color: rgb(var(--v-theme-surface_invert)) !important;
    color: rgb(var(--v-theme-surface)) !important;
  }
}

.map-form {
  padding-bottom: 20px;

  .search-map {
    .mapboxgl-control-container .maplibregl-ctrl-top-left {
      z-index: 12003;
    }
  }
  .search-wrap {
    position: absolute;
    width: 100%;
    pointer-events: none;
    z-index: 12001;
    bottom: 100px;

    .v-autocomplete {
      z-index: 2002;
      pointer-events: auto;
    }
  }
  #searchlist .v-menu__content.v-autocomplete__content {
    top: -30px !important;
  }
  .map-overlay .v-overlay__scrim {
    opacity: 14%;
    background: #a1a1a1;
    pointer-events: none;
  }

  .v-overlay__content {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .map-overlay .inner {
    bottom: 0px;
    display: flex;
    flex-direction: column;
    left: 0px;
    position: fixed;
    text-align: center;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1;

    .search-marker {
      background-color: transparent;
      border-radius: 4px !important;
      border-width: 2px;
      border-color: black !important;
      color: black;
      opacity: 1;

      .v-icon {
        color: black !important;
      }
    }
  }

  #searchlist {
    pointer-events: auto;
    background-color: red;
  }
  .spacer {
    background-color: rgba(0, 0, 0, 0.03);
  }
  .spacer:first-child {
    flex: 1 1 40%;
  }

  .spacer:last-child {
    flex: 1 1 40%;
  }
  /*
  div.map-overlay::after {
    border-top: 4px dashed #eaeaea;
    content: "mid-line";
    font-size: 14px;
    height: 0px;
    left: 0px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 50%;
    z-index: -1;
    pointer-events: none;
  }
*/
}

#region-map {
  // height: 90vh
}

#place_offset {
  background-color: white;
}

.comment-form,
.place-detail {
  &.v-card {
    border: 2px solid currentColor;
    border-color: rgb(var(--v-theme-third)) !important;
  }

  color: rgb(var(--v-theme-third)) !important;

  .v-btn.text-primary {
    color: rgb(var(--v-theme-third)) !important;
    font-weight: bold;
    text-transform: none;
  }
}

.place-detail {
  .address-line {
    font-size: 0.8rem !important;
  }
  .image-row {
    border-bottom: 2px solid rgba(var(--v-theme-third));
  }

  .attributes {
    .v-list-item-subtitle {
      display: block !important;
      min-height: 60px;
      .v-chip {
        margin-bottom: 2px;
      }
    }
  }

  .v-card-actions {
    border-top: 2px solid rgba(var(--v-theme-third));
    padding: 0 0.5rem;
    .bg-circle {
      background-image: radial-gradient(
          circle at 3px 12px,
          rgb(var(--v-theme-third)) 3px,
          transparent 0
        ),
        radial-gradient(
          circle at 15px 3px,
          rgb(var(--v-theme-third)) 3px,
          transparent 0
        );
      background-size: 25px 25px;
      background-repeat: repeat;
    }
  }

  .v-col.divider {
    border-right: 2px solid rgba(var(--v-theme-third));
  }
  .v-dialog.image-dialog {
    .v-overlay__scrim {
      opacity: 64%;
    }
    .v-overlay__content {
      margin: 0 0px !important;
      padding: 0 40px !important;
    }
  }

  .v-list.attributes {
    padding: 0;
    border-radius: 0px !important;
    border-left: 2px solid rgba(var(--v-theme-third));
    &.sm {
      border-left: 0px solid rgba(var(--v-theme-third));
      border-top: 2px solid rgba(var(--v-theme-third));
    }
    &.lg {
      border-top: 0px solid rgba(var(--v-theme-third));
    }
    height: 100%;
    .v-list-item {
      padding: 0;
      text-align: center;
      font-weight: bold;
      .v-list-item-title {
        padding: 15px 15px;
        color: rgba(var(--v-theme-third));
        font-weight: bold !important;
        text-transform: uppercase;
      }
      .v-list-item-subtitle {
        padding: 15px 15px;
        background-color: rgba(var(--v-theme-third));
        color: rgb(var(--v-theme-surface));
      }
    }
  }
}

.image-carousel {
  height: 90vh !important;
  width: 97vw !important;
}

.comments {
  .v-timeline-divider__inner-dot {
    background-color: rgb(var(--v-theme-third)) !important;
  }

  &.v-timeline--vertical .v-timeline-divider__before {
    height: calc(
      var(--v-timeline-line-size-base) + 12px - var(--v-timeline-line-inset)
    );
    width: 6px;
    top: 0px;
  }
  .v-timeline-divider__before {
    background: transparent;
    background-image: none;
    background-size: auto;
    position: absolute;
    background-image: radial-gradient(
      circle at 3px 3px,
      rgb(var(--v-theme-third)) 3px,
      transparent 0
    );
    background-size: 15px 15px;
  }

  &.v-timeline--vertical .v-timeline-divider__after {
    height: calc(
      var(--v-timeline-line-size-base) + 12px - var(--v-timeline-line-inset)
    );
    width: 6px;
    bottom: -25px;
  }
  .v-timeline-divider__after {
    background: transparent;
    background-image: none;
    background-size: auto;
    position: absolute;
    background-image: radial-gradient(
      circle at 3px 3px,
      rgb(var(--v-theme-third)) 3px,
      transparent 0
    );
    background-size: 15px 15px;
  }

  .v-alert {
    background-color: transparent !important;
    border: 2px solid black;
    border-color: rgb(var(--v-theme-third));
    color: rgb(var(--v-theme-third));
  }
  .v-alert__content {
    color: rgb(var(--v-theme-third));
  }
}

svg {
  max-height: 100%;
  height: 100%;
  width: 100%;
  .cls-1 {
    fill: none;
  }
  .cls-2,
  .cls-3 {
    fill: rgb(var(--v-theme-surface_invert));
  }
  .cls-3 {
    isolation: isolate;
  }
  .rechteck {
    fill: transparent;
    stroke: rgb(var(--v-theme-surface_invert));
  }
}

.v-skeleton-loader {
  background: transparent !important;

  .v-list,
  .v-card {
    width: 100%;
  }
}

.place-list {
  .v-list-item__content {
    display: flex;
  }
}

.card-stats {
  min-height: 650px;
}

@media (min-width: 1280px) {
  .v-container {
    max-width: 90vw !important;
  }
}

.maplibregl-ctrl-geocoder--result-title,
.maplibregl-ctrl-geocoder--result-address {
  white-space: initial !important;
}

.news-cards {
  .active {
    background-color: lightcyan;
    opacity: 0.4;
  }
}

.news-detail {
  white-space: pre-line;
  .v-card-text {
    font-size: 1rem;
  }
}

.v-stepper-item--selected {
  background-color: rgba(var(--v-theme-primary), 0.1) !important;
  .v-avatar {
    background-color: rgba(var(--v-theme-third), 1) !important;
  }
  .v-stepper-item__content {
    font-weight: bold !important;
  }
}

@media #{map-get($display-breakpoints, 'sm-and-down')} {
  .v-stepper-header {
    .v-stepper-item {
      .v-stepper-item__content {
        display: none;
      }
    }
  }
}
