$font-size-root: 1rem !default;
$border-radius-root: 0.75rem !default;
$border-width-root: 2px !default;

//$border-color-root: rgba(255, 255, 255, 1),
//var(--v-primary-base), var(--v-border-opacity)
// $border-color: #ff336a,
// $font-size-root: 12px;
$body-font-family: ("atkinsonregular", sans-serif) !default;
$heading-font-family: ("chaneyregular", sans-serif) !default;
// @import "node_modules/roboto-fontface/css/roboto-condensed/sass/roboto-condensed-fontface.scss";
//$material-light: ("background": #ffdde3)
// );
// @forward "vuetify/dist/component-variables" with (
//$button-height: 56px
// card
$card-background: transparent !default;

// $card-border: (rgba(var(--v-primary-theme), 1), solid, 2px),
// // list
// $list-background: transparent,

// //button
// //$button-border: (rgba(var(--v-primary-base), 1), solid, 2px)
// //footer
// $footer-background: transparent,
// $footer-color: rgba(var(--v-primary-theme), 1),
// //expansion panels
// $expansion-panel-background-color: transparent,
// $expansion-panel-border-color: rgba(255, 255, 133, 1),
// $expansion-panel-disabled-color: rgba(255, 133, 133, 1),
// $expansion-panel-color: rgba(var(--v-primary-theme), 1),
// //table
// $table-background: transparent,
// $avatar-border-radius: 4px,
// $avatar-height: 60px,

// $toolbar-background: transparent
