<template>
  <v-skeleton-loader :loading="loading" :type="'article,'.repeat(maxItems)">
    <v-list class="place-list">
      <template v-for="(item, index) in local_places" :key="item.properties.id">
        <v-list-item
          v-if="index >= min && index < max"
          append-icon="$mdiChevronRight"
          class="pa-2 d-flex"
          @click="$emit('selectPlace', item)"
        >
          <PlaceItem :item="item.properties" />
        </v-list-item>
        <v-divider
          v-if="index >= min && index < max"
          color="surface-invert"
          thickness="2px"
          class="ma-2"
          style="opacity: 0.6"
        ></v-divider>
      </template>
    </v-list>
    <v-container v-if="props.pagination">
      <v-row justify="center">
        <v-col cols="8">
          <v-pagination
            v-model="page"
            :length="pagination_length"
            rounded="circle"
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>
  </v-skeleton-loader>
</template>
<script setup>
import { useLoaderStore } from "@/stores/loader";
import { getCurrentInstance, computed, watch, ref } from "vue";

import PlaceItem from "@/components/Place/List/PlaceItem.vue";

const loaderStore = useLoaderStore();

const props = defineProps({
  places: {
    type: Object,
    required: true,
  },
  maxItems: {
    type: Number,
    default: 5,
  },
  pagination: {
    type: Boolean,
    default: true,
  },
});

const min = computed(() => 0 + props.maxItems * (page.value - 1));
const max = computed(() => props.maxItems + props.maxItems * (page.value - 1));
const pagination_length = computed(() => props.places.length / props.maxItems);

const page = ref(1);

const { uid } = getCurrentInstance();
const local_places = ref(props.places);

const loading = computed(() => loaderStore.loading);

const emit = defineEmits(["selectPlace"]);

watch(
  () => props.places,
  async (selection, prevSelection) => {
    local_places.value = props.places;
  }
);
</script>
