<template>
  <v-skeleton-loader :loading="loading" :type="'article'">
    <v-avatar
      v-if="!local_item.thumb_url"
      color="surface-variant"
      class="ma-1 align-center justify-center"
    >
      <v-img src="/android-chrome-96x96.png"></v-img>
    </v-avatar>
    <v-avatar
      v-if="local_item.thumb_url"
      color="surface-variant"
      class="ma-2 align-center justify-center"
    >
      <v-img :src="local_item.thumb_url" :alt="local_item.title"></v-img>
    </v-avatar>
    <div class="d-inline-block">
      <span class="text-caption break-words">
        {{ $filters.formatDate(local_item.created_at, "DD.MM.YYYY") }}
      </span>
      <h6 class="text-h6 overflow-x-hidden">
        {{ local_item.title }}
      </h6>
      <div class="d-inline-block">
        <div v-if="local_item.status" class="text-grey d-inline-block">
          <v-icon icon="$mdiHomeRemove"></v-icon>
          {{ $t("locations.status_entry." + local_item.status) }}
        </div>
        <div v-if="local_item.comments" class="ml-5 text-grey d-inline-block">
          <v-icon icon="$mdiComment" size="md"></v-icon>
          ({{ local_item.comments.length }})
        </div>
      </div>
    </div>
  </v-skeleton-loader>
</template>
<script setup>
import { useLoaderStore } from "@/stores/loader";
import { usePlacesStore } from "@/stores/places";
import { computed, onMounted, watch, ref } from "vue";

const loaderStore = useLoaderStore();
const placesStore = usePlacesStore();

const props = defineProps({
  item: {
    type: Object,
    required: true,
  },
});

const loading = computed(() => loaderStore.loading);

const local_item = ref(props.item);

watch(
  () => props.item,
  async (selection, prevSelection) => {
    await reloadPlace();
  }
);

onMounted(async () => {
  await reloadPlace();
});

async function reloadPlace() {
  let placesIds = [props.item.id];
  await placesStore.fetchPlaces(placesIds).then((data) => {
    local_item.value = data[0];
  });
}
</script>
