<template>
  <v-container class="pa-0 pt-5">
    <v-row justify="center">
      <v-col cols="12" align-self="center">
        <v-card>
          <v-card-text>
            <h4 class="text-h4 d-flex justify-center align-center">
              {{ $t("content.about.headline") }}
            </h4>
            <v-list>
              <v-list-item
                prepend-icon="$mdiInformation"
                class="pa-2 ma-1"
                :to="linkTo('/site/about/project_')"
              >
                <h6 class="text-h6 overflow-x-hidden text-primary">
                  {{ $t("content.about.what") }}
                </h6>
              </v-list-item>
              <v-list-item
                prepend-icon="$mdiInformation"
                class="pa-2 ma-1"
                :to="linkTo('/site/definition/harm_')"
              >
                <h6 class="text-h6 overflow-x-hidden text-primary">
                  {{ $t("content.about.why") }}
                </h6>
              </v-list-item>
              <v-list-item
                prepend-icon="$mdiInformation"
                class="pa-2 ma-1"
                :to="linkTo('/site/claim/general_')"
              >
                <h6 class="text-h6 overflow-x-hidden text-primary">
                  {{ $t("content.about.claim") }}
                </h6>
              </v-list-item>
              <v-list-item
                prepend-icon="$mdiInformation"
                class="pa-2 ma-1"
                :to="linkTo('/site/participate/how_')"
              >
                <h6 class="text-h6 overflow-x-hidden text-primary">
                  {{ $t("content.about.how") }}
                </h6>
              </v-list-item>
              <v-list-item
                prepend-icon="$mdiInformation"
                class="pa-2 ma-1"
                :to="linkTo('/site/support/goodtoknow_')"
              >
                <h6 class="text-h6 overflow-x-hidden text-primary">
                  {{ $t("content.about.goodtoknow") }}
                </h6>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import { computed } from "vue";

import { useSiteStore } from "@/stores/site";
const siteStore = useSiteStore();
const language = computed(() => siteStore.language);

const linkTo = function (url) {
  return url + language.value;
};
</script>
