<template>
  <v-container class="pa-0">
    <v-row justify="center">
      <v-col cols="12" align-self="center">
        <v-card class="border-0">
          <v-card-text class="mb-md-10 mb-sm-5 mb-xs-2">
            <h1
              class="text-h2 d-flex justify-center text-center text-primary align-center mb-5"
            >
              {{ $t("messages.introduction_explain_headline") }}
            </h1>
            <h4 class="text-h4 d-flex justify-center align-center">
              {{ $t("messages.introduction_explain_content") }}
            </h4>
            <h4 class="text-h4 d-flex justify-center align-center">
              {{ $t("messages.introduction_explain_content_alt") }}
            </h4>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
