<template>
  <v-row v-if="comments && comments.length > 0">
    <v-col cols="12">
      <!--h3 class="text-h3">{{ $t("comments.all") }}</h3 -->

      <v-timeline density="compact" side="end" class="comments">
        <v-timeline-item
          v-for="(comment, index) in comments"
          :key="'comment-' + index"
          size="small"
        >
          <v-alert
            :id="comment.id"
            :title="$t('locations.status_entry.' + comment.status)"
          >
            <div class="font-weight-normal">
              <strong>{{
                $filters.formatDate(comment.created_at, "DD.MM.YYYY")
              }}</strong>
              <span v-if="comment.user"> @ {{ comment.user.nickname }}</span>
            </div>
            <div class="text-body-1">
              <b>{{ comment.title }}</b>
              <span v-html="comment.text"></span>
            </div>
            <v-list>
              <v-list-item
                v-for="limage in comment.images"
                :key="limage.id"
                rounded="xl"
                style="margin-bottom: 15px"
              >
                <v-list-item-title>
                  <v-row>
                    <v-col cols="6"
                      ><v-img
                        :src="limage.image_url || limage.url"
                        :alt="limage.name"
                        width="200px"
                      />
                      <p>{{ limage.title }}</p></v-col
                    >
                  </v-row>
                </v-list-item-title>
                <v-divider></v-divider>
              </v-list-item>
            </v-list>
          </v-alert>
        </v-timeline-item>
      </v-timeline>
    </v-col>
  </v-row>
</template>

<script setup>
import { computed } from "vue";
import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
const comments = computed(() => placeStore.comments);
</script>
