<template>
  <AccordionButton
    icon="$mdiInformation"
    :caption="$t('comments.edit_comment')"
    size="xl"
    :is-open="true"
  >
    <v-container v-if="comment">
      <h3 v-if="titleText != ''" class="text-h3">{{ titleText }}</h3>

      <p>{{ $t("comments.edit_comment_explain") }}</p>
      <v-form v-if="isLoggedIn" @submit.prevent="onPublish(comment.id)">
        <v-row>
          <v-col cols="12" md="12">
            <FormControlButtonList
              v-model="comment.status_id"
              :single="true"
              :options="optionStatus"
            />
          </v-col>
        </v-row>

        <v-row>
          <v-col sm="12">
            {{ $t("comments.additional_information") }}
            <v-textarea
              ref="text"
              v-model="comment.text"
              class="mt-6 rounded-sm"
              :label="$t('comments.comment_text')"
              variant="outlined"
            ></v-textarea>
          </v-col>
          <v-col cols="12" class="text-center">
            <ImageUpload :upload-store="commentStore" />
            <div v-if="progressInfos">
              <div
                v-for="(progressInfo, index) in progressInfos"
                :key="index"
                class="mb-2"
              >
                <span>{{ progressInfo.fileName }}</span>
                <v-progress-linear
                  v-model="progressInfo.percentage"
                  color="light-blue"
                  height="25"
                  reactive
                >
                  <strong>{{ progressInfo.percentage }} %</strong>
                </v-progress-linear>
              </div>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-end">
            <v-btn
              append-icon="$mdiSend"
              variant="text"
              @click.prevent="onPublish(comment.id)"
              >{{ $t("actions.submit") }}</v-btn
            >
          </v-col>
        </v-row>
      </v-form>
      <v-banner v-if="!isLoggedIn">
        {{ $t("comments.new_comment_login") }}
        <router-link to="login" class="call">{{
          $t("users.login")
        }}</router-link>
      </v-banner>
    </v-container>
  </AccordionButton>
</template>

<script setup>
import { computed, ref } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useCommentStore } from "@/stores/comment";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import { useRules } from "../../composables/useRules";

import FormControlButtonList from "@/components/FormElements/FormControlButtonList.vue";
import AccordionButton from "@/components/Buttons/AccordionButton.vue";
import ImageUpload from "@/components/Image/ImageUpload.vue";

const props = defineProps({
  title: {
    type: String,
    default: "blank",
  },
});

const loaderStore = useLoaderStore();
const commentStore = useCommentStore();
const toast = useToast();

const emit = defineEmits(["formUpdateAndClose", "formPreview", "updateRoute"]);

const errors = ref({});
const rules = useRules();
const selectedFiles = ref([]);
const progressInfos = ref([]);
const message = ref("");

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
const comment = computed(() => commentStore.comment);
import { useRegionStore } from "@/stores/region";
const regionStore = useRegionStore();
const optionStatus = computed(() => regionStore.map_status_entries);
const mapDefaultStatus = computed(() => regionStore.mapDefaultStatus);
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const isLoggedIn = computed(() => authStore.isLoggedIn);

const titleText = computed(() => {
  return props.title != "blank"
    ? props.title
    : i18n.global.t("comments.edit_comment");
});

const onPublish = (slug) => {
  loaderStore.show();

  commentStore
    .updateComment()
    .then((data) => {
      // upload images
      uploadFiles();
      loaderStore.hide();
      toast.success(i18n.global.t("actions.comment_updated"));
    })
    .catch((response) => {
      loaderStore.hide();
      console.log("errors", response);
      if (response.data) {
        if (response.data.errors) {
          errors.value = response.data.errors;
        } else {
          for (const [field, error] of Object.entries(response.data)) {
            console.log(`${field}: ${error}`);
            errors.value = i18n.global.t("comments." + field) + ": " + error;
          }
        }
      }
      toast.error("Comment error: " + errors.value);
    });
};

const uploadFiles = () => {
  message.value = "";
  if (selectedFiles.value.length) {
    for (let i = 0; i < selectedFiles.value.length; i++) {
      upload(i, selectedFiles.value[i]);
    }
  }
};

const upload = (idx, file) => {
  progressInfos.value[idx] = { percentage: 0, fileName: file.name };
  commentStore
    .upload({
      file: file,
      event: function (event) {
        progressInfos.value[idx].percentage = Math.round(
          (100 * event.loaded) / event.total
        );
      },
    })
    .then((response) => {
      if (response.id) {
        placeStore.fetchImages().then(() => {
          toast.success(i18n.global.t("image.uploaded"));
          progressInfos.value[idx].percentage = 100;
          setTimeout(() => {
            progressInfos.value = [];
            selectedFiles.value = [];
            return true;
          }, 3000);
        });
      }
    })
    .catch((error) => {
      progressInfos.value[idx].percentage = 0;
      message.value = "Could not upload the file:" + file.name;
      toast.error("Image error: " + error);
    });
};
</script>
