<template>
  <v-container>
    <div v-if="!regionData || !filteredLocations">
      <RegionMissing />
    </div>
    <div v-if="regionData && filteredLocations" class="pa-2">
      <v-row>
        <v-col>
          <v-card class="pl-10 pr-10 pb-10 pt-5">
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <h2 class="text-h2">{{ regionData.title }}</h2>

                <v-list
                  ><v-list-item>
                    <template #prepend>
                      <v-icon>$mdiHomeCity</v-icon>
                    </template>
                    <v-list-item-subtitle
                      >{{ datedLocations.length }}
                      {{ $t("locations.location_plural") }}
                      ({{ $t("locations.dated") }})
                    </v-list-item-subtitle>
                  </v-list-item>
                  <v-list-item>
                    <template #prepend>
                      <v-icon>$mdiHomeAnalytics</v-icon>
                    </template>
                    <v-list-item-subtitle
                      >{{ filteredLocations.length }}
                      {{ $t("locations.location_plural") }}
                      ({{ $t("locations.filtered") }})
                    </v-list-item-subtitle>
                  </v-list-item>
                  <v-list-item
                    v-if="regionData.mapcenter_lat && regionData.mapcenter_lon"
                  >
                    <template #prepend>
                      <v-icon>$mdiMapMarker</v-icon>
                    </template>
                    <v-list-item-subtitle
                      >{{ parseFloat(regionData.mapcenter_lat).toFixed(2) }} x
                      {{
                        parseFloat(regionData.mapcenter_lon).toFixed(2)
                      }}</v-list-item-subtitle
                    >
                  </v-list-item>
                  <v-list-item>
                    <template #prepend>
                      <v-icon>$mdiMagnifyPlus</v-icon>
                    </template>
                    <v-list-item-subtitle
                      >{{ regionData.zoom }}
                      {{ $t("regions.zoom") }}</v-list-item-subtitle
                    >
                  </v-list-item>
                  <v-list-item>
                    <template #prepend>
                      <v-icon>$mdiTimelinePlus</v-icon>
                    </template>
                    <v-list-item-subtitle
                      >{{ $t("regions.created") }}:
                      {{
                        $filters.formatDate(
                          regionData.created_at,
                          "DD.MM.YYYY "
                        )
                      }}
                    </v-list-item-subtitle>
                  </v-list-item>
                  <v-list-item>
                    <template #prepend>
                      <v-icon>$mdiMapMarker</v-icon>
                    </template>
                    <v-list-item-subtitle>
                      <v-switch v-model="show_markers"></v-switch>
                    </v-list-item-subtitle>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col
                v-if="
                  regionData.mapcenter_lat &&
                  regionData.mapcenter_lon &&
                  filteredLocations
                "
                cols="12"
                sm="6"
                md="8"
              >
                <RegionMap :cluster="!show_markers" max-height="800px" />
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <v-card class="pt-5 card-stats">
            <apexchart
              type="bar"
              :series="[{ name: 'by year', data: groupedCreated.series }]"
              :options="{
                chart: {
                  id: 'locations-by-month-created',
                },
                colors: colorPalette,
                xaxis: {
                  categories: groupedCreated.labels,
                },
              }"
            ></apexchart>

            <v-card-text>
              <h5 class="text-h5">{{ $t("stats.location_created_month") }}</h5>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6">
          <v-card class="pt-5 card-stats">
            <apexchart
              class
              type="bar"
              :series="[{ name: 'by year', data: groupedUpdated.series }]"
              :options="{
                chart: {
                  id: 'locations-by-month-updated',
                },
                colors: colorPalette,
                xaxis: {
                  categories: groupedUpdated.labels,
                },
              }"
            ></apexchart>

            <v-card-text>
              <h5 class="text-h5">{{ $t("stats.location_updated_month") }}</h5>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6">
          <!--v-card color="white" class="pt-5 elevation-10">
            <apexchart class type="pie" :series="groupedUser.series" :options="{
              chart: {
                id: 'locations-by-user',
                type: 'pie',
              },
              colors: colorPalette,
              labels: groupedUser.labels,
            }"></apexchart>
            <v-card-text>
              <h4 class="text-h4">Locations by user</h4>
            </v-card-text>
          </v-card-->
        </v-col>
        <v-col cols="12" sm="6">
          <v-card class="pt-5 card-stats">
            <apexchart
              type="pie"
              :series="groupedPostcode.series"
              :options="{
                chart: {
                  id: 'locations-by-user',
                  type: 'pie',
                },
                colors: colorPalette,
                labels: groupedPostcode.labels,
              }"
            ></apexchart>
            <v-card-text>
              <h5 class="text-h5">{{ $t("stats.location_postcode") }}</h5>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6">
          <v-card class="pt-5 card-stats">
            <apexchart
              type="bar"
              :series="[{ name: 'by type', data: groupedType.series }]"
              :options="{
                chart: {
                  id: 'locations-by-type-updated',
                },
                colors: colorPalette,
                xaxis: {
                  categories: groupedType.labels,
                },
              }"
            ></apexchart>
            <v-card-text>
              <h5 class="text-h5">{{ $t("stats.location_buildingType") }}</h5>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6">
          <v-card class="pt-5 card-stats">
            <apexchart
              type="bar"
              :series="[{ name: 'by type', data: groupedOwner.series }]"
              :options="{
                chart: {
                  id: 'locations-by-type-updated',
                },
                colors: colorPalette,
                xaxis: {
                  categories: groupedOwner.labels,
                },
              }"
            ></apexchart>
            <v-card-text>
              <h5 class="text-h5">{{ $t("stats.location_owner") }}</h5>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script setup>
import { computed, ref } from "vue";

import { useRegionStore } from "@/stores/region";
import { useLocationsStore } from "@/stores/locations";
import moment from "moment";
import grouper from "../utils/grouper.js";
import RegionMap from "@/components/Region/RegionMap.vue";
import RegionMissing from "@/components/Region/RegionMissing.vue";
import i18n from "@/i18n";

const regionStore = useRegionStore();
const locationsStore = useLocationsStore();

const regionData = computed(() => regionStore.getregionData);
const filteredLocations = computed(() => locationsStore.filteredLocations);
const datedLocations = computed(() => locationsStore.datedLocations);

const show_markers = ref(false);
const colorPalette = [
  "#FF336A",
  "#00D8B6",
  "#008FFB",
  "#FEB019",
  "#FF4560",
  "#775DD0",
];

// helper function to get the month name from an item
const monthCreated = (item) =>
  moment(item.properties.created_at, "YYYY-MM-DD").format("YYYY");

const monthUpdated = (item) =>
  moment(item.properties.updated_at, "YYYY-MM-DD").format("YYYY");

const groupedType = computed(() => {
  return grouper.groupByField(
    "properties.buildingType",
    filteredLocations.value,
    5
  );
});
const groupedCreated = computed(() => {
  return grouper.groupByField(monthCreated, filteredLocations.value, 0);
});
const groupedUpdated = computed(() => {
  return grouper.groupByField(monthUpdated, filteredLocations.value, 0);
});
const groupedUser = computed(() => {
  return grouper.groupByField("properties.user_id", filteredLocations.value, 5);
});
const groupedOwner = computed(() => {
  return grouper.groupByField("properties.owner", filteredLocations.value, 5);
});
const groupedPostcode = computed(() => {
  return grouper.groupByField("properties.zip", filteredLocations.value, 5);
});

const fieldCount = function (field_name, field_value) {
  return countOccurrences(filteredLocations.value, field_name, field_value);
};

const countOccurrences = (arr, val) =>
  arr.reduce((a, v) => (v === val ? a + 1 : a), 0);

const countDemolished = fieldCount("demolished", true);
</script>
