<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="10">
        <CommentEdit />
      </v-col>
    </v-row>
    <v-row v-if="isAdmin">
      <v-col cols="12">
        <v-card class="mb-10 pa-5" variant="outlined">
          <pre>{{ comment }}</pre>
          <b>PLACE</b>
          <pre>{{ place }}</pre>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref, onMounted } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useCommentStore } from "@/stores/comment";
import { useRouter, useRoute } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import CommentEdit from "@/components/Comment/CommentEdit.vue";

const loaderStore = useLoaderStore();
const commentStore = useCommentStore();

const router = useRouter();
const route = useRoute();
const toast = useToast();

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
const comment = computed(() => commentStore.comment);
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const isAdmin = computed(() => authStore.isAdmin);

onMounted(async () => {
  if (route.params.slug) {
    commentStore
      .fetchComment(route.params.slug)
      .then((request) => {
        toast.success(i18n.global.t("comments.load_success"));
      })
      .catch((error) => {
        loaderStore.hide();
        toast.error("Comment errorxx: " + error);
      });
  } else {
    loaderStore.show();
    commentStore.clear().then(() => {
      loaderStore.hide();
    });
  }
});
</script>
