<template>
  <PlaceCreate />
  <v-container v-if="isAdmin">
    <v-row>
      <v-col cols="12" md="4">
        <AccordionButton icon="$mdiInformation" :is-open="true">
          <v-card class="mb-10 pa-5" variant="outlined">
            <pre>ID: {{ place.id }}</pre>
            <pre>Title: {{ place.title }}</pre>
            <pre>Status: {{ placeStore.status }}</pre>
            <pre>Status: {{ place.status }}</pre>
            <pre>Published: {{ place.published }}</pre>
            <pre>Place: {{ place }}</pre>
          </v-card>
        </AccordionButton>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref, onMounted } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useRouter, useRoute } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import PlaceCreate from "@/components/Place/PlaceCreate.vue";
import AccordionButton from "@/components/Buttons/AccordionButton.vue";

const loaderStore = useLoaderStore();
const router = useRouter();
const route = useRoute();
const toast = useToast();

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const isAdmin = computed(() => authStore.isAdmin);

onMounted(async () => {
  if (route.params.slug) {
    placeStore
      .fetchPlace(route.params.slug)
      .then(({ request }) => {
        toast.success(i18n.global.t("locations.load_success"));
      })
      .catch((error) => {
        loaderStore.hide();
        toast.error("Place error: " + error);
      });
  } else {
    loaderStore.show();
    placeStore.clear();
    loaderStore.hide();
  }
});
</script>

<style>
.fly-right {
  position: absolute;
  right: 10px;
  top: 10px;
}

.v-color-picker__dot {
  border: 1px solid black;
}

.pick .v-color-picker__sliders,
.pick .v-color-picker__edit,
.pick .v-color-picker__canvas {
  display: none;
}

.v-list-item__title,
.v-list-item__subtitle {
  white-space: normal;
}

.higher {
  height: auto;
}
</style>
