<template>
  <PlaceForm @update-route="setRouteDetails()" />
  <v-container v-if="isAdmin">
    <AccordionButton icon="$mdiInformation" size="sm">
      <pre>ID: {{ place.id }}</pre>
      <pre>Title: {{ place.title }}</pre>
      <pre>Status: {{ place.status }}</pre>
      <pre>Published: {{ place.published }}</pre>
    </AccordionButton>
  </v-container>
</template>

<script setup>
import { computed, ref, onMounted } from "vue";
import { useAuthStore } from "@/stores/auth";
import { usePlaceStore } from "@/stores/place";
import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { useRouter, useRoute } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import PlaceForm from "@/components/Place/PlaceForm.vue";
import AccordionButton from "@/components/Buttons/AccordionButton.vue";

const loaderStore = useLoaderStore();
const authStore = useAuthStore();
const regionStore = useRegionStore();
const placeStore = usePlaceStore();
const router = useRouter();
const route = useRoute();
const toast = useToast();

const place = computed(() => placeStore.place);
const regionData = computed(() => regionStore.getregionData);
const isAdmin = computed(() => authStore.isAdmin);

onMounted(async () => {
  loaderStore.show();
  if (
    route.params.region &&
    (!regionData.value.title || route.params.region != regionData.value.slug)
  ) {
    regionStore
      .fetchRegion(route.params.region)
      .then(({ request }) => {
        toast.success(i18n.global.t("regions.load_success"));
      })
      .catch((error) => {
        loaderStore.hide();
        toast.error("Place error: " + error);
      });
  }

  if (route.params.slug) {
    placeStore
      .fetchPlace(route.params.slug)
      .then(({ request }) => {
        toast.success(i18n.global.t("locations.load_success"));
        loaderStore.hide();
      })
      .catch((error) => {
        loaderStore.hide();
        toast.error("Place error: " + error);
      });
  } else {
    loaderStore.show();
    placeStore.clear();
    loaderStore.hide();
  }
});

const setRouteDetails = () => {
  router
    .push({
      name: "form-detail",
      params: { slug: place.value.id },
    })
    .catch(() => {});
};
</script>
