<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <Introduction />
      </v-col>
      <v-col cols="12" md="8" class="mb-5">
        <v-row v-if="regionData">
          <v-col
            cols="12"
            lg="6"
            md="12"
            class="d-flex d-xl-none d-lg-none"
            style="padding-bottom: 0"
          >
            <div class="d-lg-none d-xl-flex me-auto">
              <RegionButtonSelect />
            </div>
          </v-col>
          <v-col
            cols="12"
            lg="6"
            md="12"
            class="d-flex d-xl-none d-lg-none"
            style="padding-top: 0"
          >
            <div class="d-xl-none d-lg-none d-md-flex" align-self="left">
              <CtoCreateButton />
            </div>
          </v-col>
        </v-row>

        <RegionsMap max-height="800px" />

        <v-row>
          <v-col>
            <RegionMissing />
            <RegionBanner v-if="regionData" />
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" md="4">
        <div class="d-none d-lg-block">
          <ActionButtons />
        </div>
        <v-container class="pa-0">
          <v-row>
            <v-col cols="12">
              <NewsList />
            </v-col>
          </v-row>
        </v-container>

        <About />
        <v-container>
          <v-row>
            <v-col cols="12">
              <StartSlogans />
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, onMounted } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { useRouter, useRoute } from "vue-router";

import StartSlogans from "@/components/Carousel/StartSlogans.vue";
import RegionBanner from "@/components/Region/RegionBanner.vue";
import NewsList from "@/components/News/NewsList.vue";
import RegionsMap from "@/components/Region/RegionsMap.vue";
import RegionMissing from "@/components/Region/RegionMissing.vue";
import ActionButtons from "@/components/Buttons/ActionButtons.vue";
import CtoCreateButton from "@/components/Buttons/CtoCreateButton.vue";
import RegionButtonSelect from "@/components/Buttons/RegionSelect.vue";
import Introduction from "@/components/Content/Introduction.vue";
import About from "@/components/Content/About.vue";

const loaderStore = useLoaderStore();
const regionStore = useRegionStore();
const router = useRouter();
const route = useRoute();

const regionData = computed(() => regionStore.getregionData);

onMounted(async () => {
  if (route.params.region) {
    if (!regionData.value || regionData.value.title != route.params.region) {
      selectRegion({ id: route.params.region });
    }
  }
});

const selectRegion = (region) => {
  loaderStore.show();
  regionStore.fetchRegion(region.id).then(() => {
    loaderStore.hide();
  });
};
</script>
