<template>
  <v-container class="imprint-view">
    <v-row>
      <v-col cols="12" md="4">
        <v-card class="pl-10 pr-10 pb-10 pt-5">
          <h2>Impressum</h2>
          <p>Inhaltlich verantwortlich ist der</p>
          <pre>

Verein Gängeviertel e.V., 
vertreten durch den Vorstand

Valentinskamp 28a
20355 Hamburg
mail: hallo [at] leerstandsmelder.de
fon: 040 - 530 22 699 
              </pre
          >

          <p>Vereinsregisternummer 20574 (Amtsgericht Hamburg)</p>
          <p>
            Inhaltlich verantwortlich gemäß § 55 Abs. 2 RStV ist der jeweilige
            Autor eines Textes.
          </p>
          <p>
            Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für
            die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können
            wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir
            gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
            allgemeinen Gesetzen verantwortlich. Nach § 8 bis 10 TMG sind wir
            als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
            gespeicherte fremde Informationen zu überwachen oder nach Umständen
            zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
            Informationen nach den allgemeinen Gesetzen bleiben hiervon
            unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
            Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
            Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
            Inhalte umgehend entfernen.<br />
            Wir behalten uns eine Nutzung der von uns veröffentlichten Werke für
            Text und Data Mining im Sinne von § 44b UrhG ausdrücklich vor.
            <br />
            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf
            diesen Seiten unterliegen dem deutschen Urheberrecht. Sie sind mit
            einer Creative Commons Lizenz urheberrechtlich geschützt. Sofern
            nicht anders angegeben, stehen die Inhalte dieser Seite unter der
            Creative Commons BY-NC 3.0 DE Lizenz
            (https://creativecommons.org/licenses/by-nc/3.0/de/). Soweit die
            Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden
            die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
            Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
            Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
            entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen
            werden wir derartige Inhalte umgehend entfernen.
          </p>
        </v-card>
      </v-col>
      <v-col cols="12" md="8">
        <div v-if="!regionData">
          <region-missing />
        </div>
        <div v-if="regionData && filteredLocations">
          <v-row>
            <v-col>
              <RegionBannerLegal />
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref } from "vue";
import { useRegionStore } from "@/stores/region";
import { useLocationsStore } from "@/stores/locations";

import RegionMissing from "@/components/Region/RegionMissing.vue";
import RegionBannerLegal from "@/components/Region/RegionBannerLegal.vue";

// import i18n from "@/i18n";

const regionStore = useRegionStore();
const regionData = computed(() => regionStore.getregionData);
const locationsStore = useLocationsStore();
const filteredLocations = computed(() => locationsStore.filteredLocations);
</script>
