<template>
  <v-sheet v-if="regionData && filteredLocations" class="map rounded-lg">
    <v-btn
      to="create"
      position="fixed"
      stacked
      size="x-large"
      style="z-index: 2233; bottom: 40px; left: 20px"
      class="floating_btn call_action"
      >{{ $t("locations.create_new") }}
    </v-btn>
    <mgl-map
      :map-style="mapHelper.mapStyleLink()"
      :zoom="mapzoom"
      :center="mapcenter"
      class="rounded-lg"
      :cooperative-gestures="true"
      @map:load="onLoad"
    >
      <mgl-frame-rate-control position="top-left" />
      <mgl-navigation-control position="top-left" />

      <mgl-fullscreen-control position="top-left" />

      <mgl-scale-control position="bottom-left" />
      <mgl-geolocate-control
        position="top-left"
        :position-options="positionOptions"
        :track-user-location="true"
        :show-user-location="true"
      />
      <mgl-geo-json-source
        source-id="places"
        :data="geoJsonSource.data"
        :cluster="true"
        :cluster-max-zoom="14"
        :cluster-radius="50"
      >
        <mgl-circle-layer
          layer-id="clusters"
          source="places"
          :paint="clusterCountPaint"
          :filter="['has', 'point_count']"
        />
        <mgl-circle-layer
          layer-id="unclustered-points"
          source="places"
          :paint="unclusteredPaint"
          :filter="['!has', 'point_count']"
        />
        <mgl-symbol-layer
          layer-id="cluster-count"
          source="places"
          :layout="clusterCountLayout"
          :filter="['has', 'point_count']"
        />
      </mgl-geo-json-source>
    </mgl-map>
  </v-sheet>

  <v-dialog
    v-model="overlay"
    class="lalal align-right justify-end"
    location="top right"
  >
    <template #activator="{ props }">
      <v-btn
        position="absolute"
        style="right: -5px; top: 120px"
        color="primary"
        v-bind="props"
      >
        <v-icon v-if="place_status != 'initial'">$mdiHome</v-icon>
        <v-icon v-if="place_status == 'initial'">$mdiFormatListBulleted</v-icon>
      </v-btn>
    </template>
    <v-container>
      <v-row class="align-right justify-end">
        <v-col
          id="place_offset"
          cols="12"
          sm="8"
          xs="12"
          class="modal-background"
        >
          <v-btn
            icon
            variant="outlined"
            class="modal-close"
            @click="overlay = false"
          >
            <v-icon>$mdiClose</v-icon>
          </v-btn>
          <div v-if="place_status != 'initial'">
            <PlaceDetail ref="compdetail" />
            <CommentTimeline />
            <CommentForm />
          </div>

          <PlaceListCard
            v-if="place_status == 'initial'"
            :places="filteredLocations"
            @select-place="placeSet"
          />
        </v-col>
      </v-row>
    </v-container>
  </v-dialog>
  <v-dialog
    v-model="overlay_filter"
    class="align-right justify-end"
    location="top right"
    scroll-strategy="block"
    scrollable
    transition="dialog-right-transition"
    overflow-y-auto
  >
    <template #activator="{ props }">
      <v-btn
        position="absolute"
        style="right: -5px; top: 160px"
        color="primary"
        v-bind="props"
      >
        <v-icon>$mdiFilter</v-icon>
      </v-btn>
    </template>
    <v-container>
      <v-row class="align-right justify-end">
        <v-col cols="12" offset="2" sm="8" xs="12" class="modal-background">
          <v-btn
            icon
            variant="outlined"
            class="modal-close"
            @click="overlay_filter = false"
          >
            <v-icon>$mdiClose</v-icon>
          </v-btn>

          <DateFilter />
        </v-col>
      </v-row>
    </v-container>
  </v-dialog>
</template>
<script setup>
import { useLoaderStore } from "@/stores/loader";
import { useRoute, useRouter } from "vue-router";
import { useToast } from "vue-toastification";
import { ref, toRef, watch, onMounted, computed } from "vue";
import i18n from "@/i18n";
import { useMap } from "@indoorequal/vue-maplibre-gl";
import { Marker } from "maplibre-gl";

import PlaceForm from "@/components/Place/PlaceForm.vue";
import PlaceDetail from "@/components/Place/PlaceDetail.vue";
import CommentTimeline from "@/components/Comment/CommentTimeline.vue";
import CommentForm from "@/components/Comment/CommentForm.vue";

import PlaceListCard from "@/components/Place/PlaceListCard.vue";
import DateFilter from "@/components/DateFilter.vue";

import { useMapHelpers } from "@/composables/useMapHelpers";
import {
  mapGestures,
  clusterCountLayout,
  unclusteredPaint,
  clusterCountPaint,
  createDot,
  placeSelectFly,
  mapHeight,
} from "@/composables/useMapDefaults";

const loaderStore = useLoaderStore();
const route = useRoute();
const router = useRouter();
const toast = useToast();

const mapHelper = useMapHelpers();

const compdetail = ref(null);

loaderStore.show();

import { useRegionStore } from "@/stores/region";
const regionStore = useRegionStore();
const regionData = computed(() => regionStore.getregionData);
const regionMap = computed(() => regionStore.getregionMap);
import { useLocationsStore } from "@/stores/locations";
const locationsStore = useLocationsStore();
const filteredLocations = computed(() => locationsStore.filteredLocations);
import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
const place_status = computed(() => placeStore.status);

const mapcenter = computed(() => [
  regionData.value.mapcenter_lon,
  regionData.value.mapcenter_lat,
]);

const mapzoom = computed(() => regionData.value.zoom);

const loaded = ref(0);
const overlay = ref(false);
const overlay_filter = ref(false);

const status = ref("index"); // index | filter | edit | show

const positionOptions = {
  enableHighAccuracy: true,
};

const mapInstance = useMap();

let local_zoom = mapzoom.value;
let mapFlying = false;

mapInstance.language = i18n.locale;

const geoJsonSource = ref({ data: {} });

watch(filteredLocations, async (newFeatures) => {
  if (newFeatures.length > 0) {
    geoJsonSource.value = mapHelper.updateGeoJson(newFeatures);
  }
});

// watch(place, async (newPlace) => {
//   if (filteredLocations.value.length > 0) {
//     renderMarkers(filteredLocations.value, newPlace.id);
//   }
// });

watch(toRef(mapInstance, "isLoaded"), () => {
  console.log("IS LOADED", mapInstance.map), { immediate: true };

  const map = mapInstance.map;

  geoJsonSource.value = mapHelper.updateGeoJson(filteredLocations.value);

  // inspect a cluster on click
  mapHelper.addMapClusterClickEvent(map, "clusters", "places");
  mapHelper.addMapClickEvent(map, "unclustered-points", placeSet);
  mapHelper.addMapPointerEvents(map, "unclustered-points");
  mapHelper.addMapPointerEvents(map, "clusters");

  mapInstance.map.on("flystart", function () {
    mapFlying = true;
  });
  mapInstance.map.on("flyend", function () {
    mapFlying = false;
  });

  mapInstance.map.on("zoomend", function () {
    local_zoom = mapInstance.map.getZoom();
  });

  mapInstance.map.on("moveend", function (e) {
    if (mapFlying) {
      let padding = {};
      let lwidth = 300;
      if (
        compdetail.value &&
        compdetail.value.$el &&
        compdetail.value.$el.nextElementSibling &&
        compdetail.value.$el.nextElementSibling.offsetWidth
      ) {
        lwidth = compdetail.value.$el.nextElementSibling.offsetWidth;
      }
      padding["right"] = lwidth;
      mapInstance.map.easeTo({
        padding: padding,
        duration: 1000,
      });
      mapInstance.map.fire("flyend");
    }
  });

  loaderStore.hide();
});

watch(overlay, function (newState, oldState) {
  if (!newState) {
    // overlay closed
    var padding = {};
    padding["right"] = 0;
    //TODO: make click work
    mapInstance.map.easeTo({
      padding: padding,
      duration: 1000,
    });
    placeStore.clear();
  }
});
watch(toRef(mapInstance, "isMounted"), (v) => console.log("IS MOUNTED", v), {
  immediate: true,
});

// function placeSelectFly(item) {
//   mapInstance.map.fire("flystart");

//   mapInstance.map.flyTo({
//     center: item.geometry.coordinates,
//     zoom: local_zoom,
//     bearing: 0,
//     speed: 0.5, // make the flying slow
//     curve: 1, // change the speed at which it zooms out
//     easing: function (t) {
//       return t;
//     },
//     essential: false,
//   });
//   setPlaceClick(item, item.properties);
// }

const placeSet = function (data) {
  mapInstance.map.fire("flystart");
  placeSelectFly(data, mapInstance.map);
  let place = filteredLocations.value.find(
    (element) => element.properties.id == data.properties.id
  );
  loaderStore.show();
  placeStore
    .fetchPlace(place.properties.id)
    .then((data) => {
      loaderStore.hide();
      showDetail();
      // router
      //   .replace({
      //     query: { slug: data.id },
      //   })
      //   .then((result) => {
      //     console.log("router result", result);
      //     //return false;
      //   })
      //   .catch((err) => {
      //     console.log("router catch", err);
      //   });

      //toast.success("Place has been loaded");
    })
    .catch((error) => {
      loaderStore.hide();
      toast.error("Place error: " + error);
    });
};

function setPlaceClick(index, lplace) {
  if (place.value != lplace) {
    loaderStore.show();
    placeStore
      .fetchPlace(lplace.id)
      .then((data) => {
        loaderStore.hide();
        showDetail();
        // router
        //   .replace({
        //     query: { slug: data.id },
        //   })
        //   .then((result) => {
        //     console.log("router result", result);
        //     //return false;
        //   })
        //   .catch((err) => {
        //     console.log("router catch", err);
        //   });

        toast.success("Place has been loaded");
      })
      .catch((error) => {
        loaderStore.hide();
        toast.error("Place error: " + error);
      });
  }
}

const showDetail = () => {
  overlay.value = true;

  status.value = "detail";
  //TODO: scroll to detail
  loaderStore.show();
  regionStore.setMap(place.value).then(({ data }) => {
    loaderStore.hide();
  });
};
const hideDetail = () => {
  status.value = "index";
  loaderStore.show();
  regionStore.setMap(regionData.value).then(({ data }) => {
    loaderStore.hide();
  });
};
</script>
