<template>
  <v-container v-if="myPlaces" fluid>
    <v-data-iterator
      v-model:items-per-page="itemsPerPage"
      v-model:page="page"
      :items="myPlaces"
      :search="search"
      :sort-by="sortBy.toLowerCase()"
      :sort-desc="sortDesc"
      hide-default-footer
    >
      <template #header>
        <v-toolbar dense floating color="primary-lighten-3" class="mb-1">
          <v-text-field
            v-model="search"
            clearable
            flat
            variant="solo-inverted"
            hide-details
            prepend-inner-icon="$mdiMagnify"
            label="Search"
          ></v-text-field>

          <v-spacer></v-spacer>
          <v-select
            v-model="sortBy"
            flat
            variant="solo-inverted"
            hide-details
            :items="translatedKeys"
            prepend-inner-icon="$mdiMagnify"
            label="Sort by"
          ></v-select>
          <v-spacer></v-spacer>
          <v-btn-toggle v-model="sortDesc" mandatory>
            <v-btn size="large" variant="flat" color="primary" :value="false">
              <v-icon>$mdiChevronUp</v-icon>
            </v-btn>
            <v-btn size="large" variant="flat" color="primary" :value="true">
              <v-icon>$mdiChevronDown</v-icon>
            </v-btn>
          </v-btn-toggle>
        </v-toolbar>
      </template>

      <template #default="props">
        <v-row>
          <v-col
            v-for="item in props.items"
            :key="item.name"
            cols="12"
            sm="6"
            md="4"
            lg="3"
          >
            <v-card>
              <v-card-title class="subheading font-weight-bold">
                {{ item.raw.title }}
              </v-card-title>

              <v-divider></v-divider>

              <v-list density="compact">
                <v-list-item v-for="(key, index) in filteredKeys" :key="index">
                  <v-list-item-title :class="{ 'red--text': sortBy === key }">
                    {{ translateField(key) }}:
                  </v-list-item-title>
                  <v-list-item-title
                    class="align-end"
                    :class="{ 'red--text': sortBy === key }"
                  >
                    {{ translateField(item.raw[key.toLowerCase()]) }}
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </template>

      <template #footer>
        <v-row class="mt-2" align="center" justify="center">
          <span class="text-grey">Items per page</span>
          <v-menu>
            <template #activator="{ props }">
              <v-btn variant="text" color="primary" class="ml-2" v-bind="props">
                {{ itemsPerPage }}
                <v-icon>$mdiChevronDown</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(number, index) in itemsPerPageArray"
                :key="index"
                @click="updateItemsPerPage(number)"
              >
                <v-list-item-title>{{ number }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>

          <v-spacer></v-spacer>

          <span class="mr-4 text-grey">
            Page {{ page }} of {{ numberOfPages }}
          </span>
          <v-btn color="primary-darken-3" class="mr-1" @click="formerPage">
            <v-icon>$mdiChevronLeft</v-icon>
          </v-btn>
          <v-btn color="primary-darken-3" class="ml-1" @click="nextPage">
            <v-icon>$mdiChevronRight</v-icon>
          </v-btn>
        </v-row>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
// TODO: move to compoistion api
import { mapState, mapStores } from "pinia";
import { useRegionsStore } from "@/stores/regions";
import { useLoaderStore } from "@/stores/loader";
import { usePlaceStore } from "@/stores/place";
import { useUserStore } from "@/stores/user";
import { useRegionStore } from "@/stores/region";

import filters from "@/filters";

//import Vue from "vue";
import { useToast } from "vue-toastification";

export default {
  data() {
    return {
      itemsPerPageArray: [4, 8, 12],
      search: "",
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 12,
      sortBy: "name",
      keys: [
        "teaser",
        "buildingType",
        "owner",
        "created_at",
        "updated_at",
        "city",
      ],
      toast: null,
    };
  },
  computed: {
    ...mapState(useRegionStore, ["regionData"]),
    ...mapState(usePlaceStore, ["place"]),
    ...mapState(useUserStore, ["myPlaces"]),
    ...mapStores(useUserStore, useLoaderStore),

    translatedKeys() {
      let transi = this.keys.map((k) => {
        const val = {};
        val["value"] = k;
        val["text"] = this.translateField(k);
        return val;
      });
      return transi;
    },
    numberOfPages() {
      if (this.myPlaces.length > 0) {
        return Math.ceil(this.myPlaces.length / this.itemsPerPage);
      } else {
        return 0;
      }
    },
    filteredKeys() {
      return this.keys.filter((key) => key !== "Name");
    },
  },
  mounted() {
    this.toast = useToast();
    this.fetch();
  },
  methods: {
    async fetch() {
      this.loaderStore.show();
      await this.userStore.fetchPlaces().then((places) => {
        this.loaderStore.hide();
        this.toast.success("Places have been loaded");
      });
    },
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
    updateItemsPerPage(number) {
      this.itemsPerPage = number;
    },
    translateField(key) {
      if (key != "" && key != null) {
        let tKey = filters.locationField(key);
        let tVal = this.$t(tKey);
        return tKey != tVal ? tVal : key;
      } else {
        return key;
      }
    },
  },
};
</script>
