<template>
  <v-container>
    <v-row no-gutters>
      <v-col sm="12" md="8">
        <NewsDetail />
      </v-col>
      <v-col cols="12" md="4">
        <v-container>
          <v-row>
            <v-col cols="12" md="12">
              <div class="d-none d-lg-block">
                <ActionButtons />
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="12">
        <NewsCards @select-news="newsSelect" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { computed, ref, onMounted } from "vue";
import NewsList from "@/components/News/NewsList.vue";
import NewsCards from "@/components/News/NewsCards.vue";
import NewsDetail from "@/components/News/NewsDetail.vue";
import ActionButtons from "@/components/Buttons/ActionButtons.vue";

import { useNewsStore } from "@/stores/news";

//let newsStore =
onMounted(async () => {
  useNewsStore().fetchNews({ limit: 200 });
});
</script>
