<template>
  <v-container class="fill-height">
    <v-row justify="center">
      <v-col cols="12" align-self="center">
        <v-card>
          <v-card-text class="ma-10">
            <h1 class="text-h2 d-flex justify-center align-center ma-10">
              <v-icon color="primary" icon="$mdiCharitySearch"></v-icon>
            </h1>
            <h2 class="text-h2 d-flex justify-center align-center ma-10">
              {{ $t("errors.not_found.title") }}
            </h2>
            <h4 class="text-h4 d-flex justify-center align-center">
              {{ $t("errors.not_found.teaser") }}
            </h4>
            <div class="mt-10 d-flex justify-center align-center">
              <router-link to="home">{{
                $t("errors.not_found.goto_start")
              }}</router-link>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup></script>
