<template>
  <v-container fill-height>
    <v-row>
      <v-col cols="12" lg="6">
        <PlaceSearch load-place="fetch" />
      </v-col>
      <v-col cols="12" lg="6">
        <v-alert
          v-if="!place.published && regionData.moderate"
          :text="$t('locations.hidden_moderation')"
          type="warning"
          class="mb-5"
        ></v-alert>
        <PlaceDetail />
        <CommentTimeline />
        <CommentForm />
      </v-col>
    </v-row>
    <v-row class="d-none">
      <v-col cols="12" md="4">
        <v-card class="mb-10 pa-5" variant="outlined">
          <pre>{{ place }}</pre>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, onMounted } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { usePlaceStore } from "@/stores/place";
import { useRoute } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import PlaceDetail from "@/components/Place/PlaceDetail.vue";
import PlaceSearch from "@/components/Place/PlaceSearch.vue";
import CommentTimeline from "@/components/Comment/CommentTimeline.vue";
import CommentForm from "@/components/Comment/CommentForm.vue";

const loaderStore = useLoaderStore();
const regionStore = useRegionStore();
const placeStore = usePlaceStore();
const route = useRoute();
const toast = useToast();

const place = computed(() => placeStore.place);
const regionData = computed(() => regionStore.getregionData);

onMounted(async () => {
  if (route.params.region) {
    if (!regionData.value || regionData.value.slug != route.params.region) {
      regionStore.fetchRegion(route.params.region).then(() => {});
    }
  }
  if (route.params.slug) {
    fetch(route.params.slug);
  } else {
    toast.error("Place error: Nothing here");
  }
});

const fetch = async function (id) {
  loaderStore.show();
  placeStore
    .fetchPlace(id)
    .then(({ request }) => {
      toast.success(i18n.global.t("locations.load_success"));
      loaderStore.hide();
    })
    .catch((error) => {
      loaderStore.hide();
      toast.error("Place error: " + error);
    });
};
</script>
