<template>
  <!--v-container v-if="!regionData" class="pa-0">
    <v-row>
      <v-col>
        <RegionMissing />
      </v-col>
    </v-row>
  </v-container-->
  <v-container>
    <v-row>
      <v-col xs="12" sm="12" md="12" lg="8">
        <RegionMap />
      </v-col>
      <v-col xs="12" sm="12" md="12" lg="4">
        <PlaceSection />

        <v-container class="pa-0">
          <v-row>
            <v-col md="12">
              <RegionBanner />
            </v-col>
            <v-col md="12" class="mt-0">
              <ActionButtons />
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, onMounted } from "vue";

import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { usePlaceStore } from "@/stores/place";
import { useRoute } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import RegionBanner from "@/components/Region/RegionBanner.vue";
import RegionMap from "@/components/Region/RegionMap.vue";
import RegionMissing from "@/components/Region/RegionMissing.vue";
import ActionButtons from "@/components/Buttons/ActionButtons.vue";

import PlaceSection from "../components/Place/PlaceSection.vue";

const loaderStore = useLoaderStore();
const regionStore = useRegionStore();
const placeStore = usePlaceStore();
const route = useRoute();
const toast = useToast();

const regionData = computed(() => regionStore.getregionData);
const place = computed(() => placeStore.place);

onMounted(async () => {
  if (
    route.params.region &&
    (!regionData.value.title || route.params.region != regionData.value.slug)
  ) {
    regionStore
      .fetchRegion(route.params.region)
      .then(({ request }) => {
        toast.success(i18n.global.t("regions.load_success"));
        loadPlace();
      })
      .catch((error) => {
        loaderStore.hide();
        toast.error("Place error: " + error);
      });
  } else {
    loadPlace();
  }
});

function loadPlace() {
  if (route.params.slug && route.params.slug != place.value.slug) {
    placeStore
      .fetchPlace(route.params.slug)
      .then(({ request }) => {
        toast.success(i18n.global.t("locations.load_success"));
      })
      .catch((error) => {
        loaderStore.hide();
        toast.error("Place error: " + error);
      });
  }
}
</script>
