<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="12">
        <v-card class="mb-10 pa-5" variant="outlined">
          <SearchInput />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref, onMounted } from "vue";

import { useRouter, useRoute } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import SearchInput from "@/components/Place/Search/SearchInput.vue";

const router = useRouter();
const route = useRoute();
const toast = useToast();

import { usePlaceStore } from "@/stores/place";
const placeStore = usePlaceStore();
const place = computed(() => placeStore.place);
import { useAuthStore } from "@/stores/auth";
const authStore = useAuthStore();
const isAdmin = computed(() => authStore.isAdmin);

onMounted(async () => {});

const setRouteDetails = () => {
  router
    .push({
      name: "form-detail",
      params: { slug: this.place.id },
    })
    .catch(() => {});
};
</script>
