<template>
  <v-row>
    <v-col v-if="regions" cols="12">
      <v-card>
        <v-skeleton-loader
          :loading="loading"
          type="ossein"
          style="height: 100vh"
        >
          <mgl-map
            :map-style="mapStyleLink"
            :zoom="mapzoom"
            :center="mapcenter"
            class="rounded-lg"
            :style="setDefaultStyle"
            :cooperative-gestures="true"
            :locale="mapGestures"
            @map:load="loadedMap"
          >
            <!--mgl-geo-json-source source-id="geojson-region" :data="geoJsonSource.data">
            </mgl-geo-json-source-->
            <mgl-geo-json-source source-id="geojson" :data="geoJsonSource.data">
              <mgl-circle-layer
                layer-id="geojson"
                :paint="geoJsonSource.paint"
              />
            </mgl-geo-json-source>
          </mgl-map>
        </v-skeleton-loader>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
// TODO: move to composition api
import i18n from "@/i18n";
import { mapState, mapStores } from "pinia";
import { useRegionsStore } from "@/stores/regions";
import { useLoaderStore } from "@/stores/loader";
import { usePlaceStore } from "@/stores/place";
import { useLocationsStore } from "@/stores/locations";
import { useRegionStore } from "@/stores/region";

import { useMapHelpers } from "@/composables/useMapHelpers";
import { mapGestures } from "@/composables/useMapDefaults";

import { useToast } from "vue-toastification";

import { Marker } from "maplibre-gl";

import { useMap } from "@indoorequal/vue-maplibre-gl";

export default {
  name: "PlacessMap",
  components: {},
  data() {
    return { toast: null, local_map: null, markerList: [] };
  },
  props: {
    maxHeight: {
      type: String,
      default: "500px",
    },
  },
  created() {
    //this.geoJsonSource = this.jsonSource;
    this.toast = useToast();
    const map = useMap();
    this.local_map = map;
    this.mapGestures = mapGestures;
  },
  computed: {
    ...mapStores(usePlaceStore, useLocationsStore),
    ...mapStores(useRegionsStore, useLoaderStore),
    ...mapState(useLoaderStore, ["loading"]),
    ...mapState(useRegionsStore, ["regions"]),
    ...mapState(useLocationsStore, ["locations"]),
    ...mapState(useLocationsStore, ["filteredLocations"]),
    ...mapState(useRegionStore, ["regionData"]),

    mapcenter: function () {
      //return [this.regionData.mapcenter_lon, this.regionData.mapcenter_lat];
      return [9.769042968752615, 51.13962147768274];
    },
    mapzoom: function () {
      //return this.regionData.zoom;
      return 5;
    },
    mapStyleLink: function () {
      return useMapHelpers().mapStyleLink();
    },

    geoJsonSource: function () {
      //console.log("compute geojson", this.locations);
      return {
        show: true,
        data: this.locations,
        paint: {
          "circle-color": [
            "match",
            ["get", "owner"],
            "locations.owner_options.private",
            "#00FF00",
            "locations.owner_options.public",
            "#FFFF00",
            "#FF0000",
          ],
          // Make circles larger as the user zooms from z12 to z22.
          "circle-radius": {
            base: 1.55,
            stops: [
              [12, 2],
              [22, 180],
            ],
          },
          "circle-opacity": 0.4,
        },
      };
    },
  },

  watch: {
    filteredLocations: function (newFiltered) {
      //console.log("watch filtered", newFiltered);
    },
    locations: function (newFiltered) {
      console.log("watch locations", newFiltered);
      //this.renderMarkers(newFiltered);
    },
  },

  methods: {
    renderMarkers(jsonData, clearAll = true) {
      // add markers to map
      if (clearAll) {
        if (this.markerList) {
          for (var i = this.markerList.length - 1; i >= 0; i--) {
            this.markerList[i].remove();
          }
        }
      }
      console.log("renderMarker", jsonData);
      jsonData.forEach(
        function (marker) {
          //console.log('rendermark',marker.title)
          // create a DOM element for the marker
          var el = document.createElement("div");
          el.className = "mark"; //this.renderClassnames("marker", {});
          // if (marker.properties.thumb_url) {
          //   el.style.backgroundImage =
          //     "url(" + marker.properties.thumb_url + ")";
          // }
          el.setAttribute("data-title", marker.title);

          el.style.width = "5px";
          el.style.height = "5px";

          el.addEventListener(
            "click",
            function () {
              this.placeStore.selectPlace({
                region: marker.regionId,
                slug: marker.id,
              });
            }.bind(this)
          );

          // add marker to map
          //
          let mark = new Marker(el, { offset: [0, -5 / 2] })
            .setLngLat([marker.lon, marker.lat])
            .addTo(this.local_map.map);
          this.markerList.push(mark);
        }.bind(this)
      );
    },
    renderClassnames(default_class, item) {
      let classes = [default_class];
      if (item.owner && !Array.isArray(item.owner)) {
        classes.push("own_" + item.owner);
      }
      if (item.building_type && Array.isArray(item.building_type)) {
        item.building_type.forEach((el) => {
          if (el != null) {
            let btc = "bt_" + el.toLowerCase();
            classes.push(btc);
          }
        });
        //console.log("item bt" + item.title, bt_classes, item.building_type);
      }
      return classes.join(" ");
    },
    setDefaultStyle() {
      return "max-height: " + this.maxHeight;
    },
    loadedMap() {
      console.log("loadedMap", this.local_map, this.locations);
      //this.renderMarkers(this.locations);
    },

    selectRegion(region) {
      this.loaderStore.show();
      this.regionStore.fetchRegion(region.id).then((data) => {
        this.loaderStore.hide();
        this.toast.success(
          i18n.global.t("regions.load_success") + ": " + data.title
        );
      });
    },
  },
};
</script>
<style lang="scss"></style>
