<template>
  <v-form class="place-form" @submit.prevent="onPublish(place.id)">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-alert
            v-if="!place.published && regionData.moderate"
            :text="$t('locations.hidden_moderation')"
            type="warning"
            class="mb-5"
          ></v-alert>
          <h4 class="text-h4">
            {{ $t("locations.location") }}
          </h4>
          <h2 class="text-h2" style="word-wrap: break-word">
            {{ place.title }}
          </h2>
          <v-btn
            v-if="place.published"
            variant="outlined"
            :to="{ name: 'place-detail', params: { slug: place.id } }"
            ><v-icon>$mdiEye</v-icon></v-btn
          >

          <v-icon v-if="!place.published">$mdiEyeOff</v-icon>

          <br />
          <br />
          <br />
          <v-btn
            v-if="!showTitle"
            prepend-icon="$mdiPencil"
            variant="plain"
            @click="showTitle = !showTitle"
            >eigenen Title festlegen</v-btn
          >
          <v-btn
            v-if="showTitle"
            icon="$mdiClose"
            variant="plain"
            @click="showTitle = !showTitle"
          ></v-btn>
          <v-text-field
            v-if="showTitle"
            v-model="place.title"
            :label="$t('locations.title')"
            :counter="80"
            required
          ></v-text-field>

          <v-text-field
            v-model="place.vacant_since"
            :label="$t('locations.empty_for')"
            prepend-icon="$mdiCalendarAccount"
            type="date"
            class="mt-6"
          ></v-text-field>
          <AccordionButton
            class="mt-5"
            icon="$mdiImage"
            :caption="$t('locations.images')"
            size="xl"
          >
            <ImageUpload />
          </AccordionButton>

          <div v-if="isAdmin">
            <v-switch
              v-model="place.published"
              :label="$t('locations.published')"
            />
            <v-switch
              v-model="place.featured"
              :label="$t('locations.featured')"
            />
          </div>

          <PanelTimeline />

          <v-row no-gutters>
            <v-col>
              <div class="mt-5 d-flex justify-end">
                <v-btn
                  v-if="displayForm"
                  color="primary"
                  variant="outlined"
                  @click.prevent="onPreview(place.id)"
                >
                  <v-icon>$mdiChevronRight</v-icon>
                  {{ $t("actions.preview") }}</v-btn
                >
                <v-btn
                  v-if="!displayForm"
                  color="primary"
                  variant="outlined"
                  @click.prevent="onPreview(place.id)"
                >
                  <v-icon start>$mdiChevronLeft</v-icon>
                  {{ $t("actions.preview_hide") }}</v-btn
                >
                <div class="me-auto"></div>
                <v-btn
                  color="primary"
                  class="full action justify-end"
                  @click.prevent="onPublish(place.id)"
                >
                  <v-icon icon="$mdiContentSave"></v-icon>
                  {{ $t("actions.update") }}</v-btn
                >
              </div>
            </v-col>
          </v-row>
        </v-col>

        <v-col
          v-if="displayForm"
          cols="12"
          md="4"
          transition="scroll-y-transition"
          leave-absolute="true"
        >
          <PlaceSearch :edit-place="true" />
          <br />
          <PanelAddress />
        </v-col>

        <v-col
          v-if="displayForm"
          cols="12"
          md="4"
          transition="scroll-y-transition"
          leave-absolute="true"
        >
          <PanelUsage />
          <PanelBuilding />
          <PanelDescription />
          <PanelOwner />
          <PanelVersions />
        </v-col>
        <v-col
          v-if="!displayForm"
          cols="12"
          md="8"
          transition="scroll-y-transition"
          leave-absolute="true"
        >
          <PlaceDetail />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4"></v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script setup>
import { computed, ref } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { usePlaceStore } from "@/stores/place";
import { useAuthStore } from "@/stores/auth";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import PlaceSearch from "./PlaceSearch.vue";
import PlaceDetail from "./PlaceDetail.vue";
import ImageUpload from "../Image/ImageUpload.vue";
import AccordionButton from "@/components/Buttons/AccordionButton.vue";
import PanelUsage from "./Form/PanelUsage.vue";
import PanelBuilding from "./Form/PanelBuilding.vue";
import PanelTimeline from "./Form/PanelTimeline.vue";
import PanelDescription from "./Form/PanelDescription.vue";
import PanelOwner from "./Form/PanelOwner.vue";
import PanelVersions from "./Form/PanelVersions.vue";
import PanelAddress from "./Form/PanelAddress.vue";

const loaderStore = useLoaderStore();
const regionStore = useRegionStore();
const placeStore = usePlaceStore();
const authStore = useAuthStore();
const toast = useToast();

const emit = defineEmits(["formUpdateAndClose", "formPreview", "updateRoute"]);

const showTitle = ref(false);
const errors = ref({});

const displayForm = ref(true);

const regionData = computed(() => regionStore.getregionData);
const place = computed(() => placeStore.place);
const publishStatus = computed(() => placeStore.status);
const isAdmin = computed(() => authStore.isAdmin);

const onPublish = function (slug) {
  loaderStore.show();
  placeStore
    .updatePlace()
    .then((data) => {
      loaderStore.hide();

      emit("formUpdateAndClose");
      toast.success(i18n.global.t("messages.locations.update_success"));
    })
    .catch((response) => {
      loaderStore.hide();
      console.log("errors", response);
      if (response.data || response.response.data) {
        if (Object.keys(response.response.data)) {
          errors.value = Object.values(response.response.data)[0][0];
        } else if (response.data.errors) {
          errors.value = response.data.errors;
        } else {
          for (const [field, error] of Object.entries(response.data)) {
            console.log(`${field}: ${error}`);
            errors.value = i18n.global.t("locations." + field) + ": " + error;
          }
        }
      }

      toast.error(errors.value);
    });
};
const onPreview = function (slug) {
  displayForm.value = !displayForm.value;
};

const reset = function () {
  console.log("TODO: reset function in componts/Place/PlaceForm");
};
</script>
