<template>
  <h5 class="text-h5">
    {{ $t("locations.create_explain_1") }}
  </h5>
  <br />
  <v-card class="mb-5">
    <div class="d-flex justify-center align-center">
      <v-autocomplete
        v-model="search"
        :items="items"
        :loading="loading"
        color="white"
        clearable
        hide-selected
        hide-no-data
        item-title="place_name"
        :label="place.place_name"
        :placeholder="$t('search.start_typing')"
        prepend-inner-icon="$mdiMagnify"
        :return-object="true"
        variant="solo"
        @update:model-value="onChangeAutoComplete"
        @update:search="searchTimer"
      >
        <template #no-data>{{ $t("search.nothing_found") }}</template>

        <template #item="{ props, item }">
          <v-list-item
            v-bind="props"
            prepend-item="$mdiHome"
            :title="item?.raw?.place_name"
            style="pointer-events: auto"
          ></v-list-item>
        </template>
      </v-autocomplete>
    </div>
  </v-card>
  <h5 class="text-h5">
    {{ $t("locations.create_explain_3") }}
  </h5>
  <br />

  <v-card class="map-form" :height="mapHeight">
    <mgl-map
      map-key="finderMap"
      :map-style="mapHelper.mapStyleLink()"
      :zoom="mapzoom"
      :center="mapcenter"
      class="rounded-lg search-map"
      style="max-height: 800px"
      :height="mapHeight"
      :cooperative-gestures="true"
      :locale="mapGestures"
    >
      <mgl-navigation-control position="top-left" />

      <mgl-scale-control position="bottom-left" />
      <mgl-geolocate-control
        position="top-left"
        :position-options="positionOptions"
        :track-user-location="true"
        :show-user-location="true"
      />
      <mgl-geo-json-source source-id="places" :data="geoJsonSource.data">
        <mgl-circle-layer
          layer-id="unclustered-points"
          source="places"
          :paint="unclusteredPaint2"
        />
      </mgl-geo-json-source>
      <mgl-geo-json-source source-id="search-results" :data="emptySource">
        <mgl-circle-layer
          layer-id="point-result"
          source="search-results"
          :paint="searchResultPaint"
          :filter="['==', '$type', 'Point']"
        />
      </mgl-geo-json-source>
    </mgl-map>
    <v-row justify="center">
      <v-overlay
        v-model="overlay"
        contained
        :close-on-back="false"
        :persistent="true"
        class="justify-center map-overlay d-flex"
      >
        <div class="inner justify-center align-center d-flex">
          <div class="spacer"></div>

          <div
            style="width: 400px; height: 60px"
            class="d-flex justify-center align-center"
          >
            <v-btn
              class="search-marker rounded-0 align-center justify-center"
              icon="$mdiMenuDownOutline"
              color="primary"
            ></v-btn>
          </div>
          <div class="spacer"></div>
        </div>
      </v-overlay>
    </v-row>
  </v-card>
</template>
<script setup>
import { computed, ref, toRef, watch } from "vue";

import { useMapHelpers } from "@/composables/useMapHelpers";

import { useMap } from "@indoorequal/vue-maplibre-gl";
import MaplibreGeocoder from "@maplibre/maplibre-gl-geocoder";

import {
  mapGestures,
  unclusteredPaint,
  unclusteredPaint2,
  searchResultPaint,
  placeSelectFly,
  mapHeight,
  geocoderApi,
  positionOptions,
} from "@/composables/useMapDefaults";
import { useRegionStore } from "@/stores/region";
import { useLocationsStore } from "@/stores/locations";
import { usePlaceStore } from "@/stores/place";
import { useSiteStore } from "@/stores/site";

const mapInstance = useMap("finderMap");
const mapHelper = useMapHelpers();

const regionStore = useRegionStore();
const locationsStore = useLocationsStore();
const placeStore = usePlaceStore();
const siteStore = useSiteStore();

const emit = defineEmits(["loadPlace"]);
const dprops = defineProps({
  editPlace: {
    type: Boolean,
    default: false,
  },
});

const loading = ref(false);
const search = ref("");
const items = ref([]);
const searchterm = ref("");

const overlay = ref(true);

const searching = ref(null);

const regionData = computed(() => regionStore.getregionData);
const filteredLocations = computed(() => locationsStore.filteredLocations);
const place = computed(() => placeStore.place);
const language = computed(() => siteStore.language);

const mapcenter = computed(() =>
  regionData.value
    ? [regionData.value.mapcenter_lon, regionData.value.mapcenter_lat]
    : [9, 52]
);

const mapzoom = computed(() => regionData.value.zoom || 6);

const geoJsonSource = ref({ data: [] });
const emptySource = ref({ data: {} });

watch(filteredLocations, async (newFeatures) => {
  if (newFeatures.length > 0) {
    geoJsonSource.value = mapHelper.updateGeoJson(newFeatures);
  }
});

watch(toRef(mapInstance, "isLoaded"), () => {
  geoJsonSource.value = mapHelper.updateGeoJson(filteredLocations.value);

  let map = mapInstance.map;

  map.addControl(
    new MaplibreGeocoder(geocoderApi, { marker: false, collapsed: true })
  );

  mapHelper.addMapClickEvent(map, "unclustered-points", placeSet);
  mapHelper.addMapPointerEvents(map, "unclustered-points");

  map.on("moveend", function (e) {
    console.log("moveend", place);
    if (dprops.editPlace && placeStore.status != "existing") {
      const { lng, lat } = map.getCenter();
      let precision = 4;
      if (
        mapHelper.roundToX(place.value.lon, precision) !=
          mapHelper.roundToX(lng, precision) ||
        mapHelper.roundToX(place.value.lat, precision) !=
          mapHelper.roundToX(lat, precision)
      ) {
        place.value.lon = lng;
        place.value.lat = lat;

        mapHelper
          .reverseGeocode(place.value)
          .then((data) => onChangeMoveEnd(data.features[0]));
      }
    }
    placeStore.status = "";
  });
});

const onChangeMoveEnd = (val) => {
  console.log("onChangeMoveEnd", val);
  if (val) {
    mapHelper.mapSetData(mapInstance.map, "search-results", val);
    placeStore.setPlaceFromLookup({ place: val });
    loading.value = false;
  }
};

const placeSet = function (data) {
  console.log("placeSet", data);

  placeStore.setPlace(data.properties);
  placeStore.status = "existing";
  placeSelectFly(data, mapInstance.map);
  // let place = filteredLocations.value.find(
  //   (element) => element.properties.id == data.properties.id
  // );
};

const searchTimer = function (searchValue) {
  if (searching.value) {
    clearTimeout(searching.value);
  }

  searching.value = setTimeout(function () {
    if (searchValue && searchValue !== search.value && searchValue.length > 4) {
      querySelections(searchValue);
      search.value = searchValue;
    }
  }, 500);
  return searchValue;
};

const querySelections = async function (v) {
  loading.value = true;
  const results = await mapHelper.forwardGeocode({
    query: v,
    limit: 5,
    language: [language],
    trackProximity: true,
  });
  items.value = results.features || [];
};

const onChangeAutoComplete = (val) => {
  console.log("onChangeAutoComplete", {
    type: "FeatureCollection",
    features: val,
  });
  if (val) {
    mapHelper.mapSetData(mapInstance.map, "search-results", val);
    mapInstance.map.flyTo({
      center: val.center,
      zoom: 16,
    });
    if (dprops.editPlace) {
      placeStore.setPlaceFromLookup({ place: val });
    }
    loading.value = false;
  }
};
</script>
<style></style>
