<template>
  <PlaceDetail />
  <div v-if="placeStatus == 'loaded'" class="pb-5">
    <CommentTimeline />
    <CommentForm title="" />
  </div>
</template>

<script setup>
import { computed } from "vue";
import { usePlaceStore } from "@/stores/place";

import PlaceDetail from "@/components/Place/PlaceDetail.vue";
import CommentTimeline from "@/components/Comment/CommentTimeline.vue";
import CommentForm from "@/components/Comment/CommentForm.vue";

const placeStore = usePlaceStore();
const placeStatus = computed(() => placeStore.status);
</script>
