<template>
  <v-card v-if="placeStatus == 'loaded'" class="place-detail">
    <v-row v-if="images && images.length > 0" no-gutters class="image-row">
      <v-col class="d-flex justify-start">
        <v-img
          v-for="(image, index) in images"
          :key="'image-' + index"
          :src="image.image_url"
          aspect-ratio="1"
          cover
          max-height="250"
          max-width="400"
          class="bg-grey-lighten-2"
          rounded="0"
          @click="showFullscreenImage(index)"
        >
          <template #placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular
                indeterminate
                color="grey-lighten-5"
              ></v-progress-circular>
            </v-row>
          </template>
        </v-img>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" fullscreen class="image-dialog">
      <div class="d-flex justify-end py-4">
        <v-btn icon="$mdiClose" @click="dialog = false"></v-btn>
      </div>
      <v-carousel v-model="selectedItem" class="image-carousel">
        <v-carousel-item
          v-for="(image, i) in images"
          :key="'slide-' + i"
          :src="image.image_url"
        ></v-carousel-item>
      </v-carousel>
    </v-dialog>

    <v-row no-gutters>
      <v-col cols="12" md="8" class="divider">
        <v-card-subtitle v-if="!place.sensitive" class="pt-4 text-h6">
          <v-icon icon="$mdiMapMarker" size="small"></v-icon>
          <span class="me-1 address-line"
            >{{ place.road }} {{ place.house_number }}, {{ place.zip }}
            {{ place.city }}</span
          >
        </v-card-subtitle>
        <v-card-title>
          <h2 class="text-h2">{{ place.title }}</h2>
        </v-card-title>

        <v-card-text>
          <div class="my-4 text-body-1">
            {{ place.text }}
          </div>
        </v-card-text>
      </v-col>
      <v-col cols="12" md="4">
        <v-list
          one-line
          :class="
            $vuetify.display.smAndDown ? 'sm attributes' : 'lg attributes'
          "
        >
          <v-list-item v-if="place.status">
            <v-list-item-title>
              <!--v-icon icon="$mdiHomeExportOutline"></v-icon
              -->{{ $t("locations.status") }}</v-list-item-title
            >
            <v-list-item-subtitle class="d-flex justify-center">
              <v-chip>{{
                $t("locations.status_entry." + place.status)
              }}</v-chip></v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item v-if="place.since">
            <v-list-item-title>
              <v-icon icon="$mdiHomeExportOutline"></v-icon
              >{{ $t("locations.empty_for") }}</v-list-item-title
            >
            <v-list-item-subtitle class="d-flex justify-center">{{
              $filters.formatDate(place.since)
            }}</v-list-item-subtitle>
          </v-list-item>
          <v-list-item v-if="place.building_type">
            <v-list-item-title>
              <v-icon icon="$mdiHomePlusOutline"></v-icon
              >{{ $t("locations.building_type") }}</v-list-item-title
            >
            <v-list-item-subtitle class="d-flex justify-center"
              ><v-chip
                v-for="(key, i) in place.building_type"
                :key="'type-' + i"
                class="text-truncat"
              >
                {{ $t("locations.building_type_options." + key) }}
              </v-chip></v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item v-if="place.degree">
            <v-list-item-title>{{ $t("locations.degree") }}</v-list-item-title>
            <v-list-item-subtitle class="d-flex justify-center">
              <v-chip>
                {{ $t("locations.degree_options." + place.degree) }}</v-chip
              ></v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item v-if="place.building_usage">
            <v-list-item-title
              ><v-icon icon="$mdiHomeLightbulbOutline"></v-icon
              >{{ $t("locations.usage") }}</v-list-item-title
            >
            <v-list-item-subtitle class="d-flex justify-center">
              <v-chip
                v-for="(key, i) in place.building_usage"
                :key="'usage-' + i"
              >
                {{ $t("locations.usage_options." + key) }}
              </v-chip>
            </v-list-item-subtitle>
          </v-list-item>
          <v-list-item v-if="place.building_part">
            <v-list-item-title
              ><v-icon icon="$mdiHomeGroup"></v-icon
              >{{ $t("locations.part") }}</v-list-item-title
            >
            <v-list-item-subtitle class="d-flex justify-center"
              ><v-chip
                v-for="(key, i) in place.building_part"
                :key="'part-' + i"
              >
                {{ $t("locations.part_options." + key) }}
              </v-chip></v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item v-if="place.building_epoche">
            <v-list-item-title
              ><v-icon icon="$mdiHomeClock"></v-icon
              >{{ $t("locations.epoche") }}</v-list-item-title
            >
            <v-list-item-subtitle class="d-flex justify-center"
              ><v-chip>
                {{ $t("locations.epoche_options." + place.building_epoche) }}
              </v-chip></v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item v-if="place.building_floors">
            <v-list-item-title
              ><v-icon icon="$mdiHomeAnalytics"></v-icon
              >{{ $t("locations.floors") }}</v-list-item-title
            >
            <v-list-item-subtitle class="d-flex justify-center"
              ><v-chip>
                {{ place.building_floors }}
              </v-chip></v-list-item-subtitle
            >
          </v-list-item>
          <v-list-item v-if="place.owner">
            <v-list-item-title
              ><v-icon icon="$mdiAccountOutline"></v-icon
              >{{ $t("locations.owner") }}</v-list-item-title
            >
            <v-list-item-subtitle class="d-flex justify-center"
              ><v-chip v-if="place.owner != ''">
                {{ $t("locations.owner_options." + place.owner) }}
              </v-chip></v-list-item-subtitle
            >
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>

    <v-card-actions>
      <v-row no-gutters>
        <v-col cols="12"
          ><v-list-item class="w-100 text-body-1 pl-0">
            <template #prepend>
              <v-btn
                size="small"
                :to="{ name: 'place-detail', params: { slug: place.id } }"
                icon="$mdiEye"
              ></v-btn>
              <v-btn
                v-if="isEditable"
                size="small"
                :to="{ name: 'form-detail', params: { slug: place.id } }"
                icon="$mdiPencil"
              ></v-btn>
            </template>

            <v-list-item-title class="pl-1">
              {{ $t("locations.reported_by") }}
              <b>{{ place.user.nickname }}</b>
              <span
                v-if="place.created_at"
                class="pl-1"
                :title="$filters.formatDate(place.created_at)"
              >
                {{ $t("locations.reported_at") }}
                {{ $filters.formatDate(place.created_at) }}
              </span></v-list-item-title
            >

            <template #append>
              <div class="justify-self-end">
                <!--v-icon class="me-1" icon="$mdiHeart"></v-icon>
                <span class="subheading me-2">256</span>
                <span class="me-1">·</span>
                <v-icon class="me-1" icon="$mdiShareVariant"></v-icon>
                <span class="subheading">45</span-->
              </div>
            </template>
          </v-list-item></v-col
        >
      </v-row>
    </v-card-actions>
  </v-card>
</template>
<script setup>
import { ref, onMounted, computed, watch } from "vue";
import { usePlaceStore } from "@/stores/place";
import { useRegionStore } from "@/stores/region";
import { useRouter } from "vue-router";
import { useToast } from "vue-toastification";

const router = useRouter();
const toast = useToast();
const placeStore = usePlaceStore();
const regionStore = useRegionStore();

const place = computed(() => placeStore.place);
const regionData = computed(() => regionStore.getregionData);
const placeStatus = computed(() => placeStore.status);
const images = computed(() => placeStore.images);
const isEditable = computed(() => placeStore.isEditable);

const selectedItem = ref(false);
const dialog = ref(false);

const showFullscreenImage = function (index) {
  selectedItem.value = index;
  dialog.value = true;
};
</script>
