<template>
  <v-card class="places-list">
    <v-toolbar v-if="titleText != ''">
      <v-toolbar-title class="text-h4">
        {{ titleText }}
      </v-toolbar-title>
    </v-toolbar>

    <v-skeleton-loader :loading="loading" :type="'article,'.repeat(maxItems)">
      <v-list class="place-list">
        <template
          v-for="(item, index) in props.places"
          :key="item.properties.id"
        >
          <v-list-item
            v-if="index < maxItems"
            append-icon="$mdiChevronRight"
            class="pa-2 d-flex"
            @click="$emit('selectPlace', item)"
          >
            <v-avatar
              v-if="item.properties.image_url == ''"
              color="surface-variant"
              class="ma-1 align-center justify-center"
            ></v-avatar>
            <v-avatar
              v-if="item.properties.image_url != ''"
              color="surface-variant"
              class="ma-2 align-center justify-center"
            >
              <v-img
                :src="item.properties.image_url"
                :alt="item.properties.title"
              ></v-img>
            </v-avatar>
            <div class="d-inline-block">
              <span class="text-caption break-words">
                {{
                  $filters.formatDate(item.properties.created_at, "DD.MM.YYYY")
                }}
              </span>
              <h6 class="text-h6 overflow-x-hidden">
                {{ $filters.subString(item.properties.title, 28) }}
              </h6>

              <div v-if="item.properties.status">
                <div class="text-grey">
                  <v-icon icon="$mdiHomeRemove"></v-icon>
                  {{ $t("locations.status_entry." + item.properties.status) }}
                </div>
              </div>
              <div v-if="item.properties.region">
                <div class="text-grey">
                  <v-icon icon="$mdiHome"></v-icon>
                  {{ item.properties.region }}
                </div>
              </div>
            </div>
          </v-list-item>
          <v-divider
            v-if="index < maxItems"
            color="surface-invert"
            thickness="2px"
            class="ma-2"
            style="opacity: 0.6"
          ></v-divider>
        </template>
      </v-list>
    </v-skeleton-loader>
  </v-card>
</template>
<script setup>
import { useLoaderStore } from "@/stores/loader";
import { computed } from "vue";
import i18n from "@/i18n";

const loaderStore = useLoaderStore();

const props = defineProps({
  places: {
    type: Object,
    required: true,
  },
  title: {
    type: String,
    default: "blank",
  },
  maxItems: {
    type: Number,
    default: 5,
  },
});
const loading = computed(() => loaderStore.loading);
const titleText = computed(() => {
  return props.title != "blank"
    ? props.title
    : i18n.global.t("locations.new_locations");
});

const emit = defineEmits(["selectPlace"]);
</script>
