<template>
  <!--RegionMissing /-->

  <v-container>
    <v-row>
      <v-col cols="12">
        <v-stepper v-model="step" non-linear>
          <v-stepper-header>
            <v-stepper-item
              :title="$t('locations.stepper.step1')"
              value="1"
            ></v-stepper-item>
            <v-divider></v-divider>
            <v-stepper-item
              :title="$t('locations.stepper.step2')"
              value="2"
            ></v-stepper-item>
            <v-divider></v-divider>
            <v-stepper-item
              :title="$t('locations.stepper.step3')"
              value="3"
            ></v-stepper-item>
          </v-stepper-header>
          <v-stepper-window>
            <v-stepper-window-item value="1">
              <h4 class="text-h4">
                {{ $t("locations.location_create") }}
              </h4>
              <hr />
              <div
                v-if="place.published"
                class="border-md border-primary pa-5"
                rounded="xl"
              >
                <v-chip color="primary">{{
                  $t("locations.location_exists")
                }}</v-chip>
                <br />
                <h2 class="text-h2 d-sm-inline" style="word-wrap: break-word">
                  {{ place.title }}
                </h2>
                <v-btn
                  v-if="place.region_slug || place.map_id"
                  class="mb-5 ml-5"
                  variant="outlined"
                  :to="{
                    name: 'region-place',
                    params: {
                      region: place.region_slug || place.map_id,
                      slug: place.slug || place.id,
                    },
                  }"
                >
                  <v-icon icon="$mdiEye"></v-icon>
                  <span>{{ $t("locations.location_edit_existing") }}</span>
                </v-btn>
              </div>

              <div
                v-if="!place.published && place.title != ''"
                class="border-md border-secondary pa-5"
                rounded="xl"
              >
                <v-chip color="secondary">{{
                  $t("locations.location_not_exists")
                }}</v-chip>
                <br />
                <h2
                  v-if="!place.published"
                  class="text-h2"
                  style="word-wrap: break-word"
                >
                  {{ place.title }}
                </h2>
              </div>

              <PlaceFinder :edit-place="true" />
              <v-form
                ref="form_publish"
                class="place-form"
                @submit.prevent="onPublish(place.id)"
              >
                <PanelAddressInformation
                  v-if="!placeCreated && !place.published"
                  class="mt-5"
                />
                <PanelStatus
                  v-if="!placeCreated && !place.published"
                  is-open="true"
                />
                <PlaceSuccess
                  v-if="placeCreated"
                  v-model="placeCreated"
                  @next-step="onNextStep"
                />

                <v-alert v-if="place.published === false" type="info">
                  {{ $t("messages.locations.not_yet_published") }}
                </v-alert>
                <v-alert
                  v-if="regionData.moderate && place.published === false"
                  type="info"
                  class="mt-5"
                >
                  {{ $t("messages.locations.region_moderated") }}
                </v-alert>

                <div
                  v-if="!placeCreated && !place.published"
                  class="d-flex justify-end mt-5"
                ></div>

                <v-stepper-actions
                  v-if="!placeCreated && !place.published"
                  class="justify-end"
                >
                  <template #next>
                    <v-btn
                      class="justify_end"
                      color="primary"
                      size="x-large"
                      @click.prevent="onPublish(place.id)"
                    >
                      <v-icon icon="$mdiChevronRight"></v-icon>
                      {{ $t("actions.location_submit") }}</v-btn
                    >
                  </template>
                  <template #prev> </template>
                </v-stepper-actions>
              </v-form>
            </v-stepper-window-item>

            <v-stepper-window-item editable value="2">
              <h4 class="text-h4">
                {{ $t("locations.image_upload") }}
              </h4>
              <hr />
              <ImageUpload />
              <br />

              <h4 class="text-h4">
                {{ $t("locations.additional_information") }}
              </h4>
              <hr />

              <v-col
                cols="12"
                transition="scroll-y-transition"
                leave-absolute="true"
              >
                <p>{{ $t("actions.add_additional_information") }}</p>

                <v-text-field
                  v-model="place.vacant_since"
                  :label="$t('locations.empty_for')"
                  prepend-icon="$mdiCalendarAccount"
                  type="date"
                  class="mt-6"
                  style="max-width: 200px"
                ></v-text-field>
                <br />
                <PanelUsage :is-open="true" size="xl" />
                <PanelBuilding :is-open="true" size="xl" />
                <PanelDescription :is-open="true" size="xl" />
                <PanelOwner :is-open="true" size="xl" />
                <PanelVersions />
              </v-col>

              <v-stepper-actions>
                <template #next>
                  <v-btn
                    color="primary"
                    size="x-large"
                    @click.prevent="onUpdate(place.id, 2)"
                  >
                    <v-icon icon="$mdiChevronRight"></v-icon>
                    {{ $t("actions.finish") }}</v-btn
                  >
                </template>
                <template #prev>
                  <v-btn
                    class="justify-left"
                    size="x-large"
                    @click.prevent="onNextStep(0)"
                  >
                    <v-icon icon="$mdiChevronLeft"></v-icon>
                    {{ $t("actions.previous") }}</v-btn
                  >
                </template>
              </v-stepper-actions>
            </v-stepper-window-item>

            <v-stepper-window-item editable value="3">
              <h4 class="text-h4">
                {{ $t("locations.stepper.step3") }}
              </h4>
              <hr />
              <div v-if="isAdmin">
                <v-switch
                  v-model="place.published"
                  :label="$t('locations.published')"
                />
                <v-switch
                  v-model="place.featured"
                  :label="$t('locations.featured')"
                />
              </div>
              <v-row>
                <v-col cols="6" lg="6">
                  <PlaceSearch
                    v-if="step == 2"
                    zoom="14"
                    load-place="fetch"
                    :remove-search="true"
                  />
                </v-col>
                <v-col
                  cols="12"
                  lg="6"
                  transition="scroll-y-transition"
                  leave-absolute="true"
                >
                  <v-alert
                    v-if="!place.published && regionData.moderate"
                    :text="$t('locations.hidden_moderation')"
                    type="warning"
                    class="mb-5"
                  ></v-alert>
                  <PlaceDetail />
                </v-col>
              </v-row>
              <v-stepper-actions>
                <template #next> </template>
                <template #prev>
                  <v-btn
                    class="justify-left"
                    size="x-large"
                    @click.prevent="onNextStep(1)"
                  >
                    <v-icon icon="$mdiChevronLeft"></v-icon>
                    {{ $t("actions.previous") }}</v-btn
                  >
                  <v-btn
                    color="primary"
                    size="x-large"
                    @click.prevent="onUpdate(place.id)"
                  >
                    <v-icon icon="$mdiContentSave"></v-icon>
                    {{ $t("actions.update") }}
                  </v-btn>
                  <v-btn
                    style="margin-left: 5px"
                    color="primary"
                    size="x-large"
                    :to="{
                      name: 'region-place-direct',
                      params: { region: regionData.slug, slug: place.slug },
                    }"
                  >
                    <v-icon icon="$mdiEye"></v-icon>
                    {{ $t("actions.show") }}
                  </v-btn>
                </template>
              </v-stepper-actions>
            </v-stepper-window-item>
          </v-stepper-window>
        </v-stepper>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useRegionStore } from "@/stores/region";
import { usePlaceStore } from "@/stores/place";
import { useAuthStore } from "@/stores/auth";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import PlaceFinder from "./PlaceFinder.vue";
import PlaceDetail from "./PlaceDetail.vue";
import PlaceSearch from "./PlaceSearch.vue";
import ImageUpload from "../Image/ImageUpload.vue";
import PanelUsage from "./Form/PanelUsage.vue";
import PanelBuilding from "./Form/PanelBuilding.vue";
import PanelStatus from "./Form/PanelStatus.vue";
import PanelDescription from "./Form/PanelDescription.vue";
import PanelOwner from "./Form/PanelOwner.vue";
import PanelVersions from "./Form/PanelVersions.vue";
import PanelAddressInformation from "./Form/PanelAddressInformation.vue";
import PlaceSuccess from "./Panel/PlaceSuccess.vue";
import RegionMissing from "../Region/RegionMissing.vue";

const loaderStore = useLoaderStore();
const regionStore = useRegionStore();
const placeStore = usePlaceStore();
const authStore = useAuthStore();
const toast = useToast();

const step = ref(0);

const errors = ref("");

const form_publish = ref(null);

const regionData = computed(() => regionStore.getregionData);
const place = computed(() => placeStore.place);
const publishStatus = computed(() => placeStore.status);
const isAdmin = computed(() => authStore.isAdmin);

const placeCreated = ref(false);

const onNextStep = (number) => {
  step.value = number;
};
const onPublish = function (slug) {
  if (place.value.status != "" && place.value.lat && place.value.lon) {
    loaderStore.show();
    placeStore
      .createPlace()
      .then((data) => {
        placeCreated.value = true;
        if (data.response_status == "accepted" && data.response_message)
          toast.success(data.response_message);
        else {
          toast.success(i18n.global.t("messages.locations.create_success"));
          if (data.response_message) {
            toast.success(data.response_message);
          }
        }
        loaderStore.hide();
      })
      .catch((error) => {
        errorHandler(error);
      });
  } else {
    toast.warning(i18n.global.t("messages.locations.status_address_missing"));
  }
};
const onUpdate = function (slug, step = 0) {
  loaderStore.show();
  if (step > 0) {
    onNextStep(step);
  }
  placeStore
    .updatePlace()
    .then((data) => {
      toast.success(i18n.global.t("messages.locations.update_success"));
      console.log("Place updated", data);
      loaderStore.hide();
    })
    .catch((response) => {
      errorHandler(response);
    });
};

const errorHandler = (response) => {
  loaderStore.hide();
  if (response.response && response.response.data) {
    if (response.response.data) {
      if (
        response.response.data.errors &&
        Array.isArray(response.response.data.errors)
      ) {
        errors.value = response.response.data.errors[0];
      } else if (Object.keys(response.response.data)) {
        errors.value = Object.values(response.response.data)[0][0];
      } else {
        errors.value = response.response.data.errors;
      }
    } else {
      errors.value = i18n.global.t("errors.unknown");
    }
  } else if (response.message) {
    errors.value = response.message;
  }
  if (errors.value == "") {
    errors.value = i18n.global.t("errors.unknown");
  }
  toast.error(errors.value);
};
</script>
