<template>
  <v-card class="map-form" :height="mapHeight">
    <div
      v-if="!removeSearch"
      class="d-flex search-wrap justify-center align-center"
    >
      <v-autocomplete
        v-model="search"
        :items="items"
        :loading="loading"
        color="white"
        clearable
        hide-selected
        hide-no-data
        item-title="place_name"
        :label="place.place_name"
        :placeholder="$t('search.start_typing')"
        prepend-inner-icon="$mdiMagnify"
        :return-object="true"
        style="min-width: 400px; max-width: 400px"
        variant="solo"
        @update:model-value="onChangeAutoComplete"
        @update:search="searchTimer"
      >
        <template #no-data>{{ $t("search.nothing_found") }}</template>

        <template #item="{ props, item }">
          <v-list-item
            v-bind="props"
            prepend-item="$mdiHome"
            :title="item?.raw?.place_name"
            style="pointer-events: auto"
          ></v-list-item>
        </template>
      </v-autocomplete>
    </div>
    <mgl-map
      :map-style="mapHelper.mapStyleLink()"
      :zoom="mapzoom"
      :center="mapcenter"
      :height="mapHeight"
      class="rounded-lg search-map"
      style="max-height: 800px"
      :cooperative-gestures="true"
      :locale="mapGestures"
      map-key="searchMap"
    >
      <mgl-navigation-control position="top-left" />

      <mgl-scale-control position="bottom-left" />
      <mgl-geolocate-control
        position="top-left"
        :position-options="positionOptions"
        :track-user-location="true"
        :show-user-location="true"
      />
      <mgl-geo-json-source source-id="places" :data="geoJsonSource.data">
        <mgl-circle-layer
          layer-id="unclustered-points"
          source="places"
          :paint="unclusteredPaint"
        />
      </mgl-geo-json-source>
      <mgl-geo-json-source source-id="search-results" :data="emptySource">
        <mgl-circle-layer
          layer-id="point-result"
          source="search-results"
          :paint="searchResultPaint"
          :filter="['==', '$type', 'Point']"
        />
      </mgl-geo-json-source>
      <mgl-geo-json-source source-id="place-point" :data="emptySource">
        <mgl-circle-layer
          layer-id="place-result"
          source="place-point"
          :paint="placeResultPaint"
          :filter="['==', '$type', 'Point']"
        />
      </mgl-geo-json-source>
    </mgl-map>

    <v-row v-if="!removeSearch" justify="center">
      <v-overlay
        v-model="overlay"
        contained
        :close-on-back="false"
        :persistent="true"
        class="justify-center map-overlay d-flex"
      >
        <div class="inner justify-center align-center d-flex">
          <div class="spacer"></div>

          <div
            style="width: 400px; height: 60px"
            class="d-flex justify-center align-center"
          >
            <v-btn
              class="search-marker rounded-0 align-center justify-center"
              icon="$mdiMenuDownOutline"
              color="primary"
            ></v-btn>
          </div>
          <div class="spacer"></div>
        </div>
      </v-overlay>
    </v-row>
  </v-card>
</template>
<script setup>
import { computed, ref, toRef, watch } from "vue";

import { useRoute } from "vue-router";
import { useMapHelpers } from "@/composables/useMapHelpers";

import { useMap } from "@indoorequal/vue-maplibre-gl";

import {
  mapGestures,
  unclusteredPaint,
  searchResultPaint,
  placeResultPaint,
  placeSelectFly,
  mapHeight,
  geocoderApi,
  positionOptions,
} from "@/composables/useMapDefaults";
import { useRegionStore } from "@/stores/region";
import { useLocationsStore } from "@/stores/locations";
import { usePlaceStore } from "@/stores/place";
import { useSiteStore } from "@/stores/site";

const route = useRoute();
const mapInstance = useMap("searchMap");
const mapHelper = useMapHelpers();

const regionStore = useRegionStore();
const locationsStore = useLocationsStore();
const placeStore = usePlaceStore();
const siteStore = useSiteStore();

const emit = defineEmits(["loadPlace"]);
const dprops = defineProps({
  editPlace: {
    type: Boolean,
    default: false,
  },
  removeSearch: {
    type: Boolean,
    default: false,
  },
  zoom: {
    type: Number,
    default: 0,
  },
});

const loading = ref(false);
const search = ref("");
const items = ref([]);
const searchterm = ref("");

const overlay = ref(true);

const searching = ref(null);

const regionData = computed(() => regionStore.getregionData);
const filteredLocations = computed(() => locationsStore.filteredLocations);
const place = computed(() => placeStore.place);
const language = computed(() => siteStore.language);

const mapcenter = computed(
  () =>
    [place.value.lon, place.value.lat] || [
      regionData.value.mapcenter_lon,
      regionData.value.mapcenter_lat,
    ]
);
const mapLoaded = ref(false);
const mapzoom = computed(() => dprops.zoom || regionData.value.zoom || 10);

const geoJsonSource = ref({ data: [] });
const emptySource = ref({ data: {} });

watch(filteredLocations, async (newFeatures) => {
  if (newFeatures.length > 0) {
    geoJsonSource.value = mapHelper.updateGeoJson(newFeatures);
  }
});

watch(toRef(mapInstance, "isLoaded"), () => {
  geoJsonSource.value = mapHelper.updateGeoJson(filteredLocations.value);

  let map = mapInstance.map;

  setTimeout(() => {
    // set initial place location
    mapHelper.mapSetData(map, "place-point", place.value);
  }, 500);

  mapHelper.addMapClickEvent(map, "unclustered-points", placeSet);
  mapHelper.addMapPointerEvents(map, "unclustered-points");

  map.on("idle", function () {
    map.resize();
  });
  map.on("moveend", function (e) {
    if (dprops.editPlace) {
      const { lng, lat } = map.getCenter();
      let precision = 4;
      if (
        mapHelper.roundToX(place.value.lon, precision) !=
          mapHelper.roundToX(lng, precision) ||
        mapHelper.roundToX(place.value.lat, precision) !=
          mapHelper.roundToX(lat, precision)
      ) {
        place.value.lon = lng;
        place.value.lat = lat;

        mapHelper
          .reverseGeocode(place.value)
          .then((data) => onChangeMoveEnd(data.features[0]));
      }
    }
  });
});

const searchTimer = function (searchValue) {
  if (searching.value) {
    clearTimeout(searching.value);
  }

  searching.value = setTimeout(function () {
    if (searchValue && searchValue !== search.value && searchValue.length > 4) {
      querySelections(searchValue);
      search.value = searchValue;
    }
  }, 500);
  return searchValue;
};

const querySelections = async function (v) {
  // Simulated ajax query
  loading.value = true;
  const results = await mapHelper.forwardGeocode({
    query: v,
    limit: 5,
    language: [language],
    trackProximity: true,
  });
  items.value = results.features || [];
  loading.value = false;
};

const onChangeAutoComplete = (val) => {
  console.log("onChangeAutoComplete", val.center);
  if (val) {
    mapHelper.mapSetData(mapInstance.map, "search-results", val);
    mapInstance.map.flyTo({
      center: [val.lon.value, val.lat.value] || val.center.value,
      zoom: 16,
    });
    if (dprops.editPlace) {
      placeStore.setPlaceLocationFromLookup({ place: val });
    }
    loading.value = false;
  }
};

const onChangeMoveEnd = (val) => {
  if (val) {
    mapHelper.mapSetData(mapInstance.map, "search-results", val);
    placeStore.setPlaceLocationFromLookup({ place: val });
    loading.value = false;
  }
};

const placeSet = function (data) {
  placeSelectFly(data, mapInstance.map);
  let place = filteredLocations.value.find(
    (element) => element.properties.id == data.properties.id
  );
  placeStore.setReloadPlace({
    place: place.properties,
  });
  history.pushState(
    {},
    null,
    "/" + route.params.region + "/" + place.properties.slug
  );
};
</script>
