<template>
  <h2 class="text-h2">{{ headline }}</h2>
  <div v-if="regionData">
    <v-container>
      <v-row>
        <v-col cols="12">
          <FormControlButtonList
            v-model="statusFilter"
            :single="true"
            :options="optionStatus"
          />
        </v-col>

        <!--v-col cols="2">
            <v-radio-group v-model="filterField">
              <v-radio value="building_type">
                <template #label>
                  <div>
                    {{ $t("locations.building_type") }}
                  </div>
                </template>
              </v-radio>
            </v-radio-group>
          </v-col>
          <v-col cols="10" v-if="filterField == 'building_type'">
            <FormControlButtonList :value="filterValue" field="building_type" :options="optionBuildingType"
              @select-value="setFieldValue" />
          </v-col-->
        <!--v-col cols="2">
            <v-radio-group v-model="filterField">
              <v-radio value="owner">
                <template #label>
                  <div>
                    {{ $t("locations.owner") }}
                  </div>
                </template>
              </v-radio>
            </v-radio-group>
          </v-col>
          <v-col cols="10" v-if="filterField == 'owner'">
            <FormControlButtonList :value="filterValue" field="building_owner" :options="optionOwner"
              @select-value="setFieldValue" />
          </v-col-->
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6" md="12">
          <v-text-field
            v-model="UiStartDate"
            label="Start date"
            prepend-icon="$mdiCalendarAccount"
            type="date"
          ></v-text-field>
        </v-col>
        <v-col cols="6" sm="12" md="12">
          <v-text-field
            v-model="UiEndDate"
            label="End date"
            prepend-icon="$mdiCalendarAccount"
            type="date"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="6" md="12">
          <v-list>
            <!--v-list-item two-line>
                <v-list-item-title>
                  <v-list-item-title> Datumsfeld </v-list-item-title>
                  <v-list-item-subtitle>
                    <v-radio-group v-model="UiDateField">
                      <v-radio v-for="n in availableDateFields" :key="n" :label="`Field: ${n}`" :value="n"></v-radio>
                    </v-radio-group>
                  </v-list-item-subtitle>
                </v-list-item-title>
              </v-list-item-->
            <!--v-list-item two-line>
                <v-list-item-title>
                  <v-list-item-title>Meldung aktiv? </v-list-item-title>
                  <v-list-item-subtitle>
                    <v-switch
                      v-model="hiddenFieldSet"
                      label="Versteckte Leerstände anzeigen"
                    ></v-switch>
                  </v-list-item-subtitle>
                </v-list-item-title>
              </v-list-item-->
          </v-list>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-range-slider
            v-model="rangeDate"
            :hint="rangeHint"
            :max="maxDate"
            :min="minDate"
          ></v-range-slider>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script setup>
import { onMounted, computed, ref } from "vue";
import { storeToRefs } from "pinia";
import { useLocationsStore } from "@/stores/locations";
import { useRegionStore } from "@/stores/region";
import moment from "moment";
import FormControlButtonList from "@/components/FormElements/FormControlButtonList.vue";
import { useOptions } from "@/composables/useOptions";

const props = defineProps({
  headline: {
    type: String,
    default: "Filter",
  },
});

const regionStore = useRegionStore();
const locationsStore = useLocationsStore();

const optionBuildingType = useOptions().optionBuildingType;
const optionOwner = useOptions().optionOwner;

const defaultStartDate = "2010-01";
const defaultEndDate = moment(new Date()).format("YYYY-MM");

const availableDateFields = ["created_at", "updated_at"];

const hiddenFieldSet = ref(false);

const startDate = computed(() => locationsStore.getStartDate);
const endDate = computed(() => locationsStore.getEndDate);
const dateField = computed(() => locationsStore.getDateField);
const filterField = computed(() => locationsStore.getFilterField);
const regionData = computed(() => regionStore.getregionData);
const optionStatus = computed(() => regionStore.map_status_entries);

const filteredLocations = computed(() => locationsStore.filteredLocations);

const statusDefault = ref(null);
const statusFilter = computed({
  get() {
    return statusDefault.value;
  },
  set(status) {
    statusDefault.value = status;
    let statusValue = regionData.value.status.find((el) => el.id == status);
    locationsStore.addFilter({ key: "status", value: statusValue.icon });
  },
});
const maxDate = computed(() => {
  return moment(defaultEndDate).unix();
});
const minDate = computed(() => {
  let start = moment(defaultStartDate).unix();
  if (regionData.value) {
    start = moment(regionData.value.created_at).unix();
  }
  return start;
});
const rangeHint = computed(() => {
  return "Locations in Range: " + filteredLocations.value.length;
});
const UiStartDate = computed({
  get() {
    let formated = moment(startDate.value).format("YYYY-MM-DD");
    return formated;
  },
  set(value) {
    locationsStore.setStartDate(value);
  },
});
const UiEndDate = computed({
  get() {
    let formated = moment(endDate.value).format("YYYY-MM-DD");
    return formated;
  },
  set(value) {
    locationsStore.setEndDate(value);
  },
});
const UiDateField = computed({
  get() {
    return dateField.value;
  },
  set(field) {
    locationsStore.setDateField(field);
  },
});

const rangeDate = computed({
  get() {
    return [moment(startDate.value).unix(), moment(endDate.value).unix()];
  },
  set(newDate) {
    let startDate = moment.unix(newDate[0]).format("YYYY-MM");
    let endDate = moment.unix(newDate[1]).format("YYYY-MM");
    let payload = {
      startDate: startDate,
      endDate: endDate,
      dateField: dateField.value,
    };
    locationsStore.setDateFilter(payload);
  },
});
// filterField: {
//   get() {
//     console.log('get Fielter', this.filterField);
//     return this.filterField;
//   },
//   set(value) {

//     locationsStore.setFilterField(value);
//   }
// },
</script>
