<template>
  <div style="z-index: 13121312">
    <v-overlay
      :model-value="visible"
      location-strategy="connected"
      scroll-strategy="none"
      class="align-center justify-center"
      style="z-index: 15555"
    ></v-overlay>
    <v-progress-linear
      :active="visible"
      :indeterminate="visible"
      absolute
      color="primary accent-8"
      height="6"
    ></v-progress-linear>
  </div>
</template>

<script setup>
const props = defineProps({
  visible: {
    type: Boolean,
    default: false,
  },
});
</script>
