<template>
  <v-skeleton-loader
    :loading="loading"
    type="article, article, article"
    class="news-cards"
  >
    <v-row>
      <template v-for="item in news" :key="item.id">
        <v-col md="4">
          <v-card
            class="pa-2 ma-1"
            :class="item == activeArticle ? 'active' : ''"
            @click="newsSelect(item)"
          >
            <v-card-title>
              <h6 class="text-h6 overflow-x-hidden news-card-title">
                {{ item.title }}
              </h6>
            </v-card-title>

            <div class="d-inline-block">
              <div class="text-grey mb-1">
                <v-icon icon="$mdiInformation"></v-icon
                >{{ $filters.formatDate(item.created_at, "DD.MM.YYYY") }}
              </div>

              <p>
                {{ $filters.subString(item.body, 205) }}
              </p>
            </div>
          </v-card>
        </v-col>
      </template>
    </v-row>
    <v-btn @click="raiseLimit()">mehr</v-btn>
  </v-skeleton-loader>
</template>
<script setup>
import { useLoaderStore } from "@/stores/loader";
import { useNewsStore } from "@/stores/news";
import { useRouter } from "vue-router";
import { computed, onMounted } from "vue";

const router = useRouter();
const newsStore = useNewsStore();
const loaderStore = useLoaderStore();
const loading = computed(() => loaderStore.loading);
const news = computed(() => newsStore.news);
const activeArticle = computed(() => newsStore.article);
const emit = defineEmits(["selectNews"]);

onMounted(async () => {
  newsStore.load();
});

const newsSelect = (data) => {
  console.log("select", data);
  newsStore.select(data.id);
  router
    .push({
      name: "article",
      params: { slug: data.slug },
      replace: true,
    })
    .then((result) => {
      // console.log("router result", result);
    })
    .catch((err) => {
      console.log("router catch", err);
    });
};

const raiseLimit = () => {
  newsStore.raiseLimit();
  newsStore.fetchNews();
};
</script>
