<template>
  <v-card v-if="article" class="mb-5 pa-5 news-detail" border="0">
    <v-card-title>
      <h2 class="text-h4">{{ article.title }}</h2>
    </v-card-title>
    <v-card-text> {{ article.body }}</v-card-text>
  </v-card>
</template>
<script setup>
import { useNewsStore } from "@/stores/news";
import { computed, onMounted } from "vue";
const newsStore = useNewsStore();
const article = computed(() => newsStore.article);

const emit = defineEmits(["selectNews"]);

onMounted(async () => {
  newsStore.load();
});
</script>
