<template>
  <v-card class="news-list">
    <v-toolbar>
      <v-toolbar-title class="text-h4">
        {{ $t("news.new_articles") }}
      </v-toolbar-title>
    </v-toolbar>
    <v-skeleton-loader :loading="loading" type="article, article, article">
      <v-list>
        <div v-for="item in news" :key="item.id">
          <v-divider
            color="surface-invert"
            thickness="1px"
            class="ma-2"
            style="opacity: 0.6"
          ></v-divider>
          <v-list-item
            append-icon="$mdiChevronRight"
            class="pa-2 ma-1"
            @click="newsSelect(item)"
          >
            <div class="d-inline-block">
              <div class="text-grey mb-1">
                {{ $filters.formatDate(item.created_at, "DD.MM.YYYY") }}
              </div>

              <h6 class="text-h6 overflow-x-hidden">
                {{ item.title }}
              </h6>
            </div>
          </v-list-item>
        </div>
      </v-list>
    </v-skeleton-loader>
  </v-card>
</template>
<script setup>
import { useLoaderStore } from "@/stores/loader";
import { useNewsStore } from "@/stores/news";
import { useRouter } from "vue-router";
import { computed, onMounted } from "vue";

const router = useRouter();
const newsStore = useNewsStore();
const loaderStore = useLoaderStore();
const loading = computed(() => loaderStore.loading);
const news = computed(() => newsStore.news.slice(0, props.maxItems));
const emit = defineEmits(["selectNews"]);

const props = defineProps({
  maxItems: {
    type: Number,
    default: 5,
  },
});

onMounted(async () => {
  newsStore.load();
});

const newsSelect = (data) => {
  newsStore.select(data.id);
  router
    .push({
      name: "article",
      params: { slug: data.slug },
      replace: true,
    })
    .then((result) => {
      // console.log("router result", result);
    })
    .catch((err) => {
      console.log("router catch", err);
    });
};
</script>
