<template>
  <AccordionButton icon="$mdiImage" :caption="caption" size="md">
    <v-container>
      <p>{{ $t("actions.choose_images") }}</p>
      <div v-if="progressInfos">
        <div
          v-for="(progressInfo, index) in progressInfos"
          :key="index"
          class="mb-2"
        >
          <span>{{ progressInfo.fileName }}</span>
          <v-progress-linear
            v-model="progressInfo.percentage"
            color="light-blue"
            height="25"
            reactive
          >
            <strong>{{ progressInfo.percentage }} %</strong>
          </v-progress-linear>
        </div>
      </div>

      <v-row no-gutters justify="center">
        <v-col cols="12">
          <v-file-input
            v-model="selectedFiles"
            accept="image/*"
            capture="environment"
            multiple
            show-size
            :label="$t('actions.choose_image')"
          ></v-file-input>
        </v-col>

        <v-col cols="12" class="pl-2">
          <v-btn class="action" @click="uploadFiles">
            <v-icon start>$mdiCloudUpload</v-icon>
            {{ $t("actions.upload") }}
          </v-btn>
        </v-col>
      </v-row>

      <v-alert
        v-if="message"
        color="teal"
        variant="outlined"
        class="multi-line"
      >
        {{ message }}
      </v-alert>

      <div v-if="images && images.length > 0" class="mx-auto">
        <v-list>
          <v-list-subheader
            >List of Images: {{ images.length }}</v-list-subheader
          >

          <v-list-item
            v-for="limage in images"
            :key="limage.id"
            rounded="xl"
            style="margin-bottom: 15px"
          >
            <v-list-item-title>
              <v-row>
                <v-col cols="6"
                  ><v-img
                    :src="limage.image_url || limage.url"
                    :alt="limage.name"
                    width="200px"
                  />
                  <p>{{ limage.title }}</p>
                </v-col>
                <v-col cols="6">
                  <v-overlay
                    v-model="limage.overlay"
                    class="edit-dialog align-center justify-center"
                    rounded="xl"
                  >
                    <template #activator="{}">
                      <v-btn class="mt-12" @click="limage.overlay = true">
                        <v-icon icon="$mdiMarker"></v-icon>
                      </v-btn>
                    </template>

                    <v-btn
                      variant="outlined"
                      class="align-self-end justify-self-end"
                      @click="limage.overlay = false"
                    >
                      <v-icon icon="$mdiClose"></v-icon>
                    </v-btn>
                    <ImageForm
                      :image="limage"
                      @form-close="closeImageForm(limage)"
                    ></ImageForm>
                  </v-overlay>

                  <v-btn
                    class="mt-12"
                    label="delete"
                    @click="deleteImage(limage)"
                  >
                    <v-icon icon="$mdiDeleteEmpty"></v-icon> </v-btn
                ></v-col>
              </v-row>
            </v-list-item-title>
            <v-divider></v-divider>
          </v-list-item>
        </v-list>
      </div>
    </v-container>
  </AccordionButton>
</template>

<script setup>
import { computed, ref } from "vue";
import { usePlaceStore } from "@/stores/place";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import ImageForm from "./ImageForm.vue";

const placeStore = usePlaceStore();
const props = defineProps({
  uploadStore: {
    type: Object,
    default: usePlaceStore(),
  },
});

const toast = useToast();

const message = ref("");

const updateList = ref(0);

const selectedFiles = ref(undefined);
const progressInfos = ref([]);

const images = computed(() => props.uploadStore.images);

const caption = function () {
  return i18n.global.t("locations.images");
};

const uploadFiles = function () {
  message.value = "";
  for (let i = 0; i < selectedFiles.value.length; i++) {
    upload(i, selectedFiles.value[i]);
  }
};

const upload = function (idx, file) {
  progressInfos.value[idx] = { percentage: 0, fileName: file.name };
  props.uploadStore
    .upload({
      file: file,
      event: function (event) {
        progressInfos.value[idx].percentage = Math.round(
          (100 * event.loaded) / event.total
        );
      },
    })
    .then((response) => {
      if (response.id) {
        props.uploadStore.fetchImages().then(() => {
          toast.success("Image has been uploaded");
          progressInfos.value[idx].percentage = 100;
          setTimeout(() => {
            progressInfos.value = [];
            updateList.value += 1;
            return true;
          }, 3000);
        });
      }
    })
    .catch((error) => {
      console.log("store upload catch", error);
      progressInfos.value[idx].percentage = 0;
      message.value = "Could not upload the file:" + file.name;
      toast.error("Image error: " + error);
    });
};

const deleteImage = async function (image) {
  try {
    await placeStore.deleteImage(image).then(({ data }) => {
      props.uploadStore.fetchImages();
      toast.success("Image has been deleted");
    });
  } catch (error) {
    toast.error("Image could not be deleted");
    console.log("error in delete", error);
  }
};

const closeImageForm = function (image) {
  image.overlay = false;
};
</script>
