<!-- eslint-disable vue/no-mutating-props -->
<template>
  <v-container>
    <v-form @submit.prevent="onPublish(image)">
      <v-row>
        <v-col sm="12" md="12">
          <ListErrors :errors="errors" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-img
            :src="image.image_url || image.url"
            :alt="image.title"
            width="600px"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-text-field
            ref="title"
            v-model="image.title"
            :label="$t('image.title')"
            :counter="80"
            :rules="[rules.required]"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <div class="mt-5 d-flex">
            <v-btn variant="text" @click.prevent="close()">
              <v-icon icon="$mdiClose"></v-icon>
              {{ $t("actions.abort") }}</v-btn
            >
            <div class="me-auto"></div>
            <v-btn
              color="primary"
              class="action"
              @click.prevent="onPublish(image)"
            >
              <v-icon icon="$mdiContentSave"></v-icon
              >{{ $t("actions.update") }}</v-btn
            >
          </div>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script setup>
import { computed, ref } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { usePlaceStore } from "@/stores/place";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import ListErrors from "@/components/ListErrors.vue";

defineProps({
  image: {
    type: Object,
    default: () => {},
  },
});
const loaderStore = useLoaderStore();
const placeStore = usePlaceStore();
const toast = useToast();

const emit = defineEmits(["update:modelValue", "formClose", "handleDelete"]);

const errors = ref({});
const rules = {
  required: (value) => !!value || "Required.",
  counter: (value) => value.length <= 20 || "Max 20 characters",
};

const onPublish = function (image) {
  loaderStore.show();

  placeStore
    .updateImage(image)
    .then(({ data }) => {
      loaderStore.hide();

      toast.success(i18n.global.t("messages.images.save_success"));
      placeStore.fetchImages();
      emit("formClose");
    })
    .catch(({ response }) => {
      loaderStore.hide();
      errors.value = response.data;
      toast.error("Image error: " + errors.value);
    });
};
const close = function () {
  emit("formClose");
};
</script>
