<template>
  <v-sheet
    class="pa-4 text-center mx-auto mb-5 mt-5"
    rounded="lg"
    variant="outlined"
    width="100%"
    border="xl"
  >
    <h2 class="text-h5 mb-6">{{ $t("locations.saved") }}</h2>
    <h6 class="mb-4 text-body-2">
      {{ $t("locations.restart_explain") }}
    </h6>
    <div class="text-end">
      <v-btn
        size="large"
        color="primary"
        class="call_action_small justify-center mb-5"
        elevation="0"
        @click="$emit('nextStep', 1)"
      >
        <v-icon icon="$mdiChevronRight"></v-icon>
        {{ $t("actions.add_images_addtional_info") }}
      </v-btn>
    </div>
    <h6 class="mb-4 text-body-2">
      Zum Anlegen eines weiteren Eintrags hier klicken:
    </h6>
    <div class="text-end">
      <v-btn class="text-none action" color="primary" @click="update()">
        <v-icon icon="$mdiRefresh"></v-icon>
        {{ $t("locations.restart") }}
      </v-btn>
    </div>
  </v-sheet>
</template>

<script setup>
import { usePlaceStore } from "@/stores/place";

defineEmits(["nextStep"]);

const placeStore = usePlaceStore();
const created = defineModel({ default: false, required: true, type: Boolean });
const update = () => {
  placeStore.clear();
  created.value = false;
};
</script>
