<template>
  <v-container class="fill-height" fluid>
    <v-row justify="center">
      <v-col cols="12" md="4" align-self="center">
        <v-form ref="form_ref" @submit.prevent="request">
          <v-row>
            <v-col>
              <h2 class="text-h2 text-center">{{ $t("users.forgot") }}</h2>
              <p class="text-center">{{ $t("users.forgot_enter_email") }}</p>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="email"
                :label="$t('users.enter_email')"
                name="login"
                prepend-icon="$mdiEmail"
                type="text"
                :rules="emailRules"
                variant="outlined"
                required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div class="text-center">
                <v-btn type="submit" class="action">{{
                  $t("users.request_password")
                }}</v-btn>
              </div>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useUserStore } from "@/stores/user";
import { useRouter } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

const loaderStore = useLoaderStore();
const userStore = useUserStore();
const router = useRouter();
const toast = useToast();

const form_ref = ref(null);

const email = ref("");
const emailRules = [
  (v) => !!v || i18n.global.t("errors.users.register.email_required"),
  (v) =>
    /.+@.+\..+/.test(v) || i18n.global.t("errors.users.register.email_valid"),
];

const request = async function () {
  if (form_ref.value.isValid) {
    let payload = { email: email.value };
    loaderStore.show();

    await userStore
      .newPassword(payload)
      .then((data) => {
        loaderStore.hide();
        toast.success(i18n.global.t("actions.password_request_received"));
        console.log("response", data);
      })
      .catch((err) => {
        toast.success(i18n.global.t("actions.password_request_received"));
        // let message = i18n.global.t("errors.password.generell");
        // if (err.response.statusCode == 401) {
        //   message = i18n.global.t("errors.password.email_valid");
        // }
        // toast.error(message);
        loaderStore.hide();
      });
  }
};
</script>
