<template>
  <v-container class="fill-height" fluid>
    <v-row justify="center">
      <v-col cols="12" md="4" align-self="center">
        <v-form ref="form_ref" @submit.stop.prevent="login('local')">
          <v-row>
            <v-col>
              <h2 class="text-h2 text-center">{{ $t("users.login") }}</h2>
              <p class="text-center">
                {{ $t("users.login_process_explain") }}
              </p>
              <p class="text-center">
                {{ $t("users.login_no_account") }}
                <v-btn to="register" class="action">
                  <v-icon icon="$mdiAccountPlus"></v-icon
                  >{{ $t("users.register") }}</v-btn
                >
              </p>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12"
              ><v-text-field
                v-model="email"
                :label="$t('users.email')"
                name="login"
                prepend-icon="$mdiEmail"
                :rules="emailRules"
                type="text"
                variant="outlined"
                clearable
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                id="password"
                v-model="password"
                :label="$t('users.password')"
                name="password"
                prepend-icon="$mdiLock"
                :rules="passwordRules"
                variant="outlined"
                :type="visible ? 'text' : 'password'"
                density="compact"
                :placeholder="$t('users.password_enter')"
                :append-inner-icon="visible ? '$mdiEyeOff' : '$mdiEye'"
                clearable
                required
                @click:append-inner="visible = !visible"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <p class="text-center">
                <router-link to="forgot-password">{{
                  $t("users.forgot")
                }}</router-link>
              </p>
              <div class="text-center">
                <v-btn type="submit" class="action">
                  <v-icon icon="$mdiLogin"></v-icon
                  >{{ $t("users.login") }}</v-btn
                >
              </div>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref } from "vue";

import { useAuthStore } from "@/stores/auth";
import { useRoute, useRouter } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

const authStore = useAuthStore();
const router = useRouter();
const route = useRoute();
const toast = useToast();

const form_ref = ref(null);

const email = ref("");
const password = ref("");

const visible = ref(false);

const emailRules = [
  (v) => !!v || i18n.global.t("errors.users.register.name_required"),
];

const passwordRules = [
  (v) => !!v || i18n.global.t("errors.users.register.password_required"),
];

const login = async function (type) {
  if (form_ref.value.isValid) {
    authStore
      .login({
        email: email.value,
        password: password.value,
        type: type,
      })
      .then((response) => {
        toast.success(i18n.global.t("successes.user.login"));
        router.push(route.query.redirect || "/");
      })
      .catch((err) => {
        let error = "";
        if (err.request && err.request.status) {
          switch (err.request.status) {
            case 500:
              error = i18n.global.t("messages.login.failed_authentication");
              break;
            case 401:
              error = i18n.global.t("messages.login.failed_authentication");
              break;
            case 422:
              error = i18n.global.t("messages.login.failed_user");
              break;
            default:
              error = "Login error";
          }
        }
        toast.error(error, { timeout: 8000, showCloseButtonOnHover: false });
      });
  }
};
</script>
