<template>
  <div v-if="user">
    <v-container class="fill-height">
      <v-row>
        <v-col>
          <v-row>
            <v-col lg="12" md="12">
              <h3 class="text-h3">{{ original_name }}</h3>
              <small>{{ user.id }}</small>
              <v-divider></v-divider>
            </v-col>
          </v-row>
          <v-row>
            <v-col lg="8" md="8" sm="12">
              <v-card>
                <v-card-text>
                  <v-form>
                    <v-row>
                      <v-col cols="12" md="6">
                        <v-text-field
                          v-model="user.email"
                          label="Email"
                          name="email"
                          prepend-icon="$mdiEmail"
                          type="text"
                          variant="outlined"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" md="6">
                        <v-text-field
                          v-model="user.nickname"
                          label="Name"
                          name="name"
                          prepend-icon="$mdiAccount"
                          type="text"
                          variant="outlined"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <!--v-col cols="12">
                        <v-switch v-model="user.message_me" flat :label="$t('users.message_me')"></v-switch>
                      </v-col-->
                      <v-col cols="12">
                        <v-switch
                          v-model="user.notify"
                          flat
                          :label="$t('users.notify')"
                        ></v-switch>
                      </v-col>
                      <!--v-col cols="12">
                        <v-switch v-model="user.share_email" flat :label="$t('users.share_email')"></v-switch>
                      </v-col-->
                    </v-row>
                    <v-row v-if="user.role_keys">
                      <v-col cols="12">
                        <v-chip
                          v-for="(element, index) in user.role_keys"
                          :key="'marker-' + index"
                          color="primary"
                        >
                          {{ mapRegion(element) }}
                        </v-chip>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-dialog max-width="500">
                          <template #activator="{ props: activatorProps }">
                            <v-alert
                              >{{ $t("users.destroy_intro") }}
                              <br />
                              <div class="flex-grow-1"></div>
                              <div class="d-flex justify-end">
                                <v-btn class="action" v-bind="activatorProps">{{
                                  $t("users.destroy")
                                }}</v-btn>
                              </div>
                            </v-alert>
                          </template>

                          <template #default="{ isActive }">
                            <v-card
                              :title="$t('users.destroy_headline')"
                              color="surface"
                              variant="elevated"
                            >
                              <v-card-text>
                                {{ $t("users.destroy_explain") }}
                              </v-card-text>

                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn @click.stop.prevent="destroy()">{{
                                  $t("users.destroy_finally")
                                }}</v-btn>
                                <v-btn
                                  class="action"
                                  @click="isActive.value = false"
                                  >{{ $t("users.destroy_abort") }}</v-btn
                                >
                              </v-card-actions>
                            </v-card>
                          </template>
                        </v-dialog>
                      </v-col>
                      <div class="flex-grow-1"></div>
                      <v-col class="d-flex justify-end">
                        <v-btn variant="text" to="reset-password">{{
                          $t("users.pwd_change")
                        }}</v-btn></v-col
                      >
                    </v-row>

                    <v-row>
                      <!--v-col>
                        <v-btn color="primary" @click.stop.prevent="clearStorage()">Clear cache</v-btn>
                      </v-col-->
                      <div class="flex-grow-1"></div>
                      <v-col>
                        <v-btn class="action" @click.stop.prevent="logout()">{{
                          $t("users.logout")
                        }}</v-btn>
                      </v-col>

                      <v-col class="d-flex justify-end"
                        ><v-btn
                          class="action"
                          @click.stop.prevent="updateUser()"
                          >{{ $t("users.update") }}</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col lg="4" md="4" sm="12">
              <AccordionButton
                icon="$mdiHome"
                :caption="$t('locations.my_locations')"
                size="xl"
              >
                <v-card v-for="place in myPlaces" :key="place.id" class="mb-2">
                  <v-card-title class="text-h5">{{ place.title }}</v-card-title>
                  <v-card-subtitle
                    >{{ $filters.formatDate(place.created_at, "DD.MM.YYYY") }} /
                    {{
                      $filters.formatDate(place.updated_at, "DD.MM.YYYY")
                    }}</v-card-subtitle
                  >
                  <v-card-text>
                    <p>
                      {{ $t("locations.status") }}:
                      {{ $t("locations.status_entry." + place.status) }}
                    </p>
                    <p v-if="place.comments">
                      {{ $t("comments.all") }}: {{ place.comments.length }}
                    </p>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      v-if="place.region_slug || place.map_id"
                      variant="outlined"
                      :to="{
                        name: 'region-place',
                        params: {
                          region: place.region_slug || place.map_id,
                          slug: place.slug || place.id,
                        },
                      }"
                    >
                      <v-icon icon="$mdiEye"></v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                      variant="outlined"
                      :to="{
                        name: 'region-place-edit',
                        params: {
                          region: place.region_slug || place.map_id,
                          slug: place.id,
                        },
                      }"
                    >
                      {{ $t("locations.edit") }}
                    </v-btn></v-card-actions
                  >
                </v-card>

                <h4 v-if="!myPlaces.length" class="text-h4">
                  {{ $t("users.no_locations") }}
                </h4>
              </AccordionButton>
              <AccordionButton
                icon="$mdiComment"
                :caption="$t('locations.my_comments')"
                size="xl"
              >
                <v-card
                  v-for="comment in myComments"
                  :key="comment.id"
                  class="mb-2"
                >
                  <v-card-title class="text-h5">{{
                    $t("locations.status_entry." + comment.status)
                  }}</v-card-title>
                  <v-card-text>
                    <div class="text-body-1">
                      <b>{{ comment.title }}</b>
                      <span v-html="comment.text"></span>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      variant="outlined"
                      :title="$t('actions.show')"
                      :to="{
                        name: 'place-detail',
                        params: { slug: comment.place_id },
                        hash: '#' + comment.id,
                      }"
                    >
                      <v-icon icon="$mdiEye"></v-icon>
                    </v-btn>
                    <v-btn
                      variant="outlined"
                      :title="'TODO: ' + $t('actions.delete')"
                      :to="{
                        name: 'place-detail',
                        params: { slug: comment.place_id },
                        hash: '#' + comment.id,
                      }"
                    >
                      <v-icon icon="$mdiDelete"></v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                      variant="outlined"
                      :to="{
                        name: 'comment-form',
                        params: { slug: comment.id },
                      }"
                    >
                      {{ $t("comments.update_comment") }}
                    </v-btn></v-card-actions
                  >
                </v-card>
                <h4 v-if="!myComments.length" class="text-h4">
                  {{ $t("users.no_comments") }}
                </h4>
              </AccordionButton>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script setup>
import { onMounted, computed, ref } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useUserStore } from "@/stores/user";
import { useAuthStore } from "@/stores/auth";
import { useRegionsStore } from "@/stores/regions";
import { useRouter } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

import AccordionButton from "@/components/Buttons/AccordionButton.vue";

const loaderStore = useLoaderStore();
const userStore = useUserStore();
const authStore = useAuthStore();
const regionsStore = useRegionsStore();
const router = useRouter();
const toast = useToast();

const user = computed(() => userStore.getUser);
const regions = computed(() => regionsStore.regions);
const myPlaces = computed(() => userStore.myPlaces);
const myComments = computed(() => userStore.myComments);

const original_name = ref(user.value.nickname);

onMounted(async () => {
  loaderStore.show();
  await userStore
    .fetchUser()
    .then((user) => {
      console.log("user", user);
      toast.success(i18n.global.t("users.user_loaded"));
      loadUserResources();
      loaderStore.hide();
    })
    .catch((error) => {
      authStore.logout().then(() => {
        router.push("/login");
      });
    });
});

const loadUserResources = async () => {
  await userStore.fetchPlaces().then((places) => {
    loaderStore.hide();
    console.log("userPlaces", myPlaces.value);
    if (myPlaces.value.length) {
      toast.success(i18n.global.t("users.user_places_loaded"));
    }
  });
  await userStore.fetchComments().then((comments) => {
    loaderStore.hide();
    console.log("userComments", myComments.value);
    if (myComments.value.length) {
      toast.success(i18n.global.t("users.user_comments_loaded"));
    }
  });
};

const updateUser = async () => {
  loaderStore.show();
  await userStore.updateUser().then((resp_user) => {
    loaderStore.hide();
    toast.success(i18n.global.t("messages.users.update_success"));
    original_name.value = user.value.nickname;
    console.log("user", resp_user);
  });
};
const clearStorage = function () {
  localStorage.removeItem("lsm");
};
const logout = function () {
  authStore.logout().then(() => {
    router.push("/login");
  });
};
const destroy = function () {
  userStore.destroy().then(() => {
    toast.success(i18n.global.t("messages.users.delete_success"));
    authStore.logout();
    router.push("/");
  });
};

const mapRegion = function (item) {
  if (item.substring(0, 14) == "moderator_map_") {
    let rid = item.substring(14);
    let reg = regions.value.find((x) => x.id === rid);
    if (reg && reg.title) {
      return "Moderator: " + reg.title;
    } else {
      return item;
    }
  }
  return item;
};
</script>
