<template>
  <v-container v-if="!token" class="fill-height" fluid>
    <v-row justify="center">
      <v-col cols="12" md="4" align-self="center">
        <v-form ref="form_ref" @submit.prevent="register">
          <v-row>
            <v-col>
              <h2 class="text-h2 text-center">{{ $t("users.register") }}</h2>
              <p class="text-center">
                {{ $t("users.register_process_explain") }}
              </p>
              <p class="text-center">
                {{ $t("users.register_already_account") }}
                <v-btn to="login" class="action">
                  <v-icon icon="$mdiLogin"></v-icon>
                  {{ $t("users.login_process") }}</v-btn
                >
              </p>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12"
              ><v-text-field
                id="nickname"
                v-model="nickname"
                :label="$t('users.username')"
                name="name"
                prepend-icon="$mdiAccount"
                type="text"
                :rules="nameRules"
                required
                variant="outlined"
              ></v-text-field
            ></v-col>
            <v-col cols="12">
              <v-text-field
                v-model="email"
                :label="$t('users.email')"
                name="email"
                prepend-icon="$mdiEmail"
                type="text"
                :rules="emailRules"
                required
                variant="outlined"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                id="password"
                v-model="password"
                :label="$t('users.password')"
                name="password"
                prepend-icon="$mdiLock"
                type="password"
                :rules="passwordRules"
                required
                variant="outlined"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                id="password-confirm"
                v-model="password_confirmation"
                :label="$t('users.password_confirm')"
                name="password-confirm"
                prepend-icon="$mdiLock"
                type="password"
                :rules="passwordConfirmationRules"
                required
                variant="outlined"
              ></v-text-field>
            </v-col>
            <v-col cols="6" offset="">
              <v-checkbox
                v-model="no_minor"
                :rules="acceptNoMinorRules"
                required
              >
                <template #label>
                  {{ $t("users.accept_no_minor") }}
                </template>
              </v-checkbox>
            </v-col>
            <v-col cols="6" offset="">
              <v-checkbox
                v-model="accept_terms"
                :rules="acceptTermsRules"
                required
              >
                <template #label>
                  <router-link to="/site/terms_de"
                    >{{ $t("users.accept_terms") }}
                  </router-link>
                </template>
              </v-checkbox>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12">
              <div class="text-center">
                <v-btn type="submit" class="action">
                  <v-icon icon="$mdiAccountPlus"></v-icon>
                  {{ $t("users.signup") }}</v-btn
                >
              </div>
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref } from "vue";

import { useAuthStore } from "@/stores/auth";
import { useRouter } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

const authStore = useAuthStore();
const router = useRouter();
const toast = useToast();

const form_ref = ref(null);

const nickname = ref("");
const nameRules = [
  (v) => !!v || i18n.global.t("errors.users.register.name_required"),
  (v) =>
    (v && v.length <= 30) || i18n.global.t("errors.users.register.name_lesser"),
  (v) =>
    (v && v.length > 3) || i18n.global.t("errors.users.register.name_greater"),
];
const email = ref("");
const emailRules = [
  (v) => !!v || i18n.global.t("errors.users.register.email_required"),
  (v) =>
    /.+@.+\..+/.test(v) || i18n.global.t("errors.users.register.email_valid"),
];
const password = ref("");
const passwordRules = [
  (v) => !!v || i18n.global.t("errors.users.register.password_required"),
  (v) =>
    (v && v.length >= 6) ||
    i18n.global.t("errors.users.register.password_greater"),
];
const password_confirmation = ref("");
const accept_terms = ref(false);
const acceptTermsRules = [
  (v) => v || i18n.global.t("errors.users.register.accept_terms_required"),
];
const no_minor = ref(false);
const acceptNoMinorRules = [
  (v) => v || i18n.global.t("errors.users.register.accept_no_minor_required"),
];
const token = ref(false);

const passwordConfirmationRules = computed(() => {
  return [
    () =>
      password.value === password_confirmation.value ||
      i18n.global.t("errors.users.register.password_match"),
    (v) =>
      !!v ||
      i18n.global.t("errors.users.register.password_confirmation_required"),
  ];
});

const register = async function () {
  if (form_ref.value.isValid) {
    let data = {
      nickname: nickname.value,
      email: email.value,
      password: password.value,
      password_confirmation: password_confirmation.value,
      accept_terms: accept_terms.value,
      confirm_success_url: import.meta.env.VITE_BASE_URL + "/login",
    };

    authStore
      .register(data)
      .then(() => {
        toast.success(i18n.global.t("messages.users.create_success"), {
          timeout: 10000,
        });
        router.push("/");
      })
      .catch((err) => {
        console.log(err);
        let message =
        i18n.global.t("errors.users.register.general_error");
        toast.error(message);
      });
  }
};
</script>
