<template>
  <v-container class="fill-height" fluid>
    <v-row justify="center">
      <v-col cols="12" md="4" align-self="center">
        <v-form
          v-if="token || reset_token"
          ref="form_ref"
          @submit.prevent="request"
        >
          <v-row>
            <v-col>
              <h2 class="text-h2 text-center">{{ $t("users.pwd_change") }}</h2>
              <p class="text-center">{{ $t("users.reset") }}</p>
              <p class="text-center">{{ $t("users.enter_new_password") }}</p>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                id="password"
                v-model="password"
                :label="$t('users.password')"
                name="password"
                prepend-icon="$mdiLock"
                type="password"
                :rules="passwordRules"
                required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                id="password_confirmation"
                v-model="password_confirmation"
                :label="$t('users.password_confirm')"
                name="password_confirmation"
                prepend-icon="$mdiLock"
                type="password"
                :rules="passwordConfirmationRules"
                required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div class="text-center">
                <v-btn type="submit" class="action">{{
                  $t("users.password_submit")
                }}</v-btn>
              </div>
            </v-col>
          </v-row>
        </v-form>

        <v-card v-if="!token && !reset_token" class="elevation-12">
          <v-card-text>
            <h2 class="text-h2">Nothing here</h2>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
import { computed, ref, onMounted } from "vue";
import { useLoaderStore } from "@/stores/loader";
import { useUserStore } from "@/stores/user";
import { useAuthStore } from "@/stores/auth";
import { useRoute, useRouter } from "vue-router";
import { useToast } from "vue-toastification";
import i18n from "@/i18n";

const loaderStore = useLoaderStore();
const userStore = useUserStore();
const authStore = useAuthStore();
const router = useRouter();
const route = useRoute();
const toast = useToast();

const form_ref = ref(null);

const password = ref("");
const passwordRules = [
  (v) => !!v || i18n.global.t("errors.users.register.password_required"),
  (v) =>
    (v && v.length >= 6) ||
    i18n.global.t("errors.users.register.password_greater"),
];
const password_confirmation = ref("");
const accept_terms = ref(false);
const acceptTermsRules = [
  (v) => v || i18n.global.t("errors.users.register.accept_terms_required"),
];

const passwordConfirmationRules = computed(() => {
  return [
    () =>
      password.value === password_confirmation.value ||
      i18n.global.t("errors.users.register.password_match"),
    (v) =>
      !!v ||
      i18n.global.t("errors.users.register.password_confirmation_required"),
  ];
});
const reset_token = ref("");
const token = computed(() => authStore.getToken);

onMounted(() => {
  if (route.query.reset_password_token) {
    reset_token.value = route.query.reset_password_token;
    localStorage.setItem("reset_password_token", reset_token.value);
    localStorage.setItem("uid", "");
    localStorage.setItem("client", "");
    console.log("token", reset_token, route.query.reset_password_token);
  }
});

const request = async function () {
  if (form_ref.value.isValid) {
    let payload = {
      password: password.value,
      password_confirmation: password_confirmation.value,
    };
    if (route.query.reset_password_token) {
      payload["access-token"] = reset_token.value;
      payload["reset_password_token"] = reset_token.value;
    }

    loaderStore.show();
    await userStore
      .updatePassword(payload)
      .then((data) => {
        loaderStore.hide();
        toast.success(i18n.global.t("messages.users.password_change_success"));
        setTimeout(
          function () {
            router.push("/profile");
          }.bind(this),
          2000
        );
      })
      .catch((err) => {
        let message = i18n.global.t("messages.users.password_change_error");
        console.log("catch", err);
        toast.error(message);
      });
  }
};
</script>
